.Utils_RecordBrowser__Filter > table {
	margin-left: auto;
	margin-right: 0;
	border-spacing: 1px;
}
.epesi_rtl .Utils_RecordBrowser__Filter > table {
	margin-left: 0;
	margin-right: auto;
	border-spacing: 1px;
}

.Utils_RecordBrowser__Filter {
    display: block;
	margin: 4px 8px auto auto;
}



/* label */

.Utils_RecordBrowser__Filter .label {
    color: #EFEFEF;
    height: 30px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

/* data */

.Utils_RecordBrowser__Filter .data {
	text-align: left;
    background-color: #FFFFF9;
}

.Utils_RecordBrowser__Filter .data input,
.Utils_RecordBrowser__Filter .data select {
    background-color: #FFFFF9;
    border: none;
    width: 120px;
	height: 30px;
	font-size: 16px;
	margin-left: 2px;
}
.Utils_RecordBrowser__Filter .data select {
	margin-right: 2px;
	height: 30px;
    width: 120px;
	padding: 4px 0;
}

.Utils_RecordBrowser__Filter .data input[type='checkbox'] {
    width: 30px;
}

.Utils_RecordBrowser__Filter .data input:focus,
.Utils_RecordBrowser__Filter .data select:focus,
.Utils_RecordBrowser__Filter .data textarea:focus {
    background-color: #ffffa5;
}

/* buttons */

#recordbrowser_filters_ .buttons {
	padding-left: 5px;
}

#Utils_RecordBrowser__Filter .buttons,
#Utils_RecordBrowser__Filter .buttons_disabled {
	cursor: pointer;
	display: block;
    float: right;
    padding-right: 5px;
}

.epesi_rtl #Utils_RecordBrowser__Filter .buttons,
.epesi_rtl #Utils_RecordBrowser__Filter .buttons_disabled {
    padding-left: 5px;
    float: left;
}

.Utils_RecordBrowser__Filter .buttons input,
#Utils_RecordBrowser__Filter .buttons input {
    color: #EFEFEF;
    width: 120px;
    height: 30px;
    border: 0px;
	padding-bottom: 5px;
	cursor: pointer;
}

.Utils_RecordBrowser__Filter .buttons_disabled input,
#Utils_RecordBrowser__Filter .buttons_disabled input {
    color: #FFFFFF;
    background-color: #336699;
    width: 120px;
    height: 30px;
    border: 0px;
	padding-bottom: 5px;
	cursor: pointer;
}

.Utils_RecordBrowser__Filter .buttons input:hover,
#Utils_RecordBrowser__Filter .buttons input:hover {
  padding-bottom: 3px;
	padding-botom: 5px;
}
