@CHARSET "ISO-8859-1";

/*
#CRM_Calendar_Event_Personal .QForm_multiselect {
	border: 1px solid #B3B3B3;
}

#CRM_Calendar_Event_Personal .QForm_multiselect_left {
}

#CRM_Calendar_Event_Personal .QForm_multiselect_right {
}
*/

#CRM_Calendar_Event_Personal table.form {
	background-color: #FFFFFF;
	width: 100%;
	background-color: white;
	white-space: nowrap;
	border-top: 1px solid #b3b3b3;
	border-left: 1px solid #b3b3b3;
	border-right: 1px solid #b3b3b3;
}

#CRM_Calendar_Event_Personal table.form td.nowrap {
	white-space: nowrap;
}

#CRM_Calendar_Event_Personal table.x_details td.x_show_details {
	background: #BEbEbE;
	color: blue;
}

#CRM_Calendar_Event_Personal table.form span.error {
	color: red;
}

/* label */
/*
#CRM_Calendar_Event_Personal .label {
	background-color: #336699;
	color: #FFFFFF;
	height: 20px;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border-bottom: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
}
*/
/* data */
/*
#CRM_Calendar_Event_Personal .data {
	height: 20px;
	vertical-align: middle;
	background-color: #FFFFFF;
	text-align: left;
	border-bottom: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
	padding-left: 1px;
	padding-right: 1px;
}

#CRM_Calendar_Event_Personal .data a.button {
	color: #FFFFFF;
	background-color: #336699;
	padding: 4px 5px 3px 5px;
	border-bottom: 1px solid #B3B3B3;
}

#CRM_Calendar_Event_Personal .data a.button:hover {
	background-color: #339933;
}
*/

#CRM_Calendar_Event_Personal .arrows input {
	border: 0px;
	background-color: #336699;
	color: #FFFFFF;
	width: 40px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
}

#CRM_Calendar_Event_Personal .arrows input:hover {
	background-color: #339933;
}

#CRM_Calendar_Event_Personal .bold,
#CRM_Calendar_Event_Personal .bold input {
	font-weight: bold;
}





#CRM_Calendar_Event_Personal .label {
    background-color: #336699;
    color: #FFFFFF;
    border-bottom: 1px solid #B3B3B3;
    height: 20px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

#CRM_Calendar_Event_Personal .data {
    border-bottom: 1px solid #B3B3B3;
    padding-left: 2px;
    padding-right: 2px;
}

#CRM_Calendar_Event_Personal .data input,
#CRM_Calendar_Event_Personal .data select,
#CRM_Calendar_Event_Personal .data textarea {
    border: 0px;
    background-color: #e6ecf2;
    width: 100%;
}

#CRM_Calendar_Event_Personal .short_input input,
#CRM_Calendar_Event_Personal .short_input select,
#CRM_Calendar_Event_Personal .short_input textarea {
	width: auto;
}

#CRM_Calendar_Event_Personal .data input:focus,
#CRM_Calendar_Event_Personal .data select:focus,
#CRM_Calendar_Event_Personal .data textarea:focus {
    background-color: #f2f2e6;
    background-color: #e6e6cf;
}

#CRM_Calendar_Event_Personal .data input#due_date {
    display: block;
    margin-top: 1px;
    float: left;
}

#CRM_Calendar_Event_Personal .data a.button {
    height: 19px;
    display: block;
    float: right;
}


#CRM_Calendar_Event_Personal .no-border,
#CRM_Calendar_Event_Personal table.no-border {
	border-bottom: none;
}

#CRM_Calendar_Event_Personal #time_s,
#CRM_Calendar_Event_Personal #time_e {
	display: block;
	float: right;
	padding-top: 2px;
}