#c2fs {
    line-height: 15px;
    display: none;
    max-width: 800px;
}

#c2fs div.selected {
    color: black;
    background-color: #ffffe0;
    background: -moz-linear-gradient(top,  #ffffe0 0%, #ffff6b 50%, #ffff28 51%, #ffff8c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffe0), color-stop(50%,#ffff6b), color-stop(51%,#ffff28), color-stop(100%,#ffff8c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffe0 0%,#ffff6b 50%,#ffff28 51%,#ffff8c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffe0 0%,#ffff6b 50%,#ffff28 51%,#ffff8c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffe0 0%,#ffff6b 50%,#ffff28 51%,#ffff8c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffe0 0%,#ffff6b 50%,#ffff28 51%,#ffff8c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffe0', endColorstr='#ffff8c',GradientType=0 ); /* IE6-9 */
}

#c2fs span {
    color: #666666;
    vertical-align: super;
    display: -moz-inline-box;
    display: inline-block;    
    min-width: 10px;
}

#c2fs div {
    display: -moz-inline-box;
    display: inline-block;
    padding: 5px;
    margin: 10px 5px;
    border: 1px solid #aaaaaa;
    border-radius: 6px;
    color: #444444;
    cursor: pointer;
    background-color: white;
    background: -moz-linear-gradient(top, white 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(50%,#F1F1F1), color-stop(51%,#E1E1E1), color-stop(100%,#F6F6F6));
    background: -webkit-linear-gradient(top, white 0%,#F1F1F1 50%,#E1E1E1 51%,#F6F6F6 100%);
    background: -o-linear-gradient(top, white 0%,#F1F1F1 50%,#E1E1E1 51%,#F6F6F6 100%);
    background: -ms-linear-gradient(top, white 0%,#F1F1F1 50%,#E1E1E1 51%,#F6F6F6 100%);
    background: linear-gradient(top, white 0%,#F1F1F1 50%,#E1E1E1 51%,#F6F6F6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

#c2fBox {
    text-align: left;
    margin: 5px;
    width: 95%;
}

#c2ftxt {
    display: block;
    margin: 15px 0px;
}
