.Base_Setup {
	margin-left: 45px;
	margin-right: 45px;
    text-align: start;
}

.Base_Setup .filters {
	width: 100%;
	height: 44px;
	margin: 10px 0;
}

.Base_Setup .filters > div {
	cursor: pointer;
	display: inline-block;
	height: 21px;
	padding: 9px 18px;
	border: 1px solid #666;
	margin-right: 10px;
	font-size: 17px;
	font-weight: bold;
	color: #666;
	background: #efefef;
}

.Base_Setup .filters > div.selected {
	color: black;
	padding: 10px 17px 8px 19px;	
	background: #d0e8fc;
}

#Base_Setup .big-button {
    display: inline-block;
	width: 300px;
	height: 160px;
	margin: 5px;
    text-align: center;
}
#Base_Setup .big-button,
#Base_Setup .toggle_options {
	background: #f5f5f5;
}

#Base_Setup .big-button:hover,
#Base_Setup .toggle_options:hover {
	background: #ffffff;
}

#Base_Setup .big-button .package_label {
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
}

#Base_Setup .big-button .package_icon {
	float: left;
	margin-top: 2px;
	margin-left: 26px;
	padding-top: 5px;
}
#Base_Setup .big-button .package_icon,
#Base_Setup .big-button .package_icon img {
	width: 100px;
	height: 100px;
}

#Base_Setup .big-button .version {
	position: absolute;
	left: 5px;
	bottom: 5px;
	color: #777;
}

#Base_Setup .big-button .actions {
	position: relative;
	float: right;
	width: 160px;
}

#Base_Setup .big-button .options .actions {
	float: none;
	height: 25px;
	padding-right: 6px;
	width: 100%;
}

#Base_Setup .big-button .action {
	position: relative;
	cursor: pointer;
    font-weight: bold;
    width: 130px;
    line-height: 25px;
    min-height: 27px;
    display: block;
    border: none;
    text-align: center;
    vertical-align: middle;
	margin-top: 20px;
	color: white;
	padding-right: 6px;
	padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
}
.epesi_rtl #Base_Setup .big-button .action {
	padding-right: 0px;
	padding-left: 6px;
}

#Base_Setup .big-button .action img {
	position: absolute;
	bottom: 3px;
	right: 5px;
}

.epesi_rtl #Base_Setup .big-button .action img {
	position: absolute;
	bottom: 3px;
	left: 5px;
    right: auto;
}

#Base_Setup .big-button .options .action {
	float: right;
    font-weight: normal;
    width: 100px;
    line-height: 18px;
    min-height: 20px;
	margin-top: 0px;
	margin-right: 6px;
	margin-left: 10px;
}
.epesi_rtl #Base_Setup .big-button .options .action {
	float: left;
}

#Base_Setup .big-button .subaction {
	padding-top: 3px;
	width: 130px;
	height: 30px;
	padding-right: 6px;
	position: relative;
}
.epesi_rtl #Base_Setup .big-button .subaction {
	padding-right: 0px;
	padding-left: 6px;
}

#Base_Setup .big-button .subaction:first-child {
	padding-top: 0px;
}
#Base_Setup .big-button .subaction:last-child {
}

#Base_Setup .big-button .toggle_options {
	color: #777;
}

#Base_Setup .option_spacer {
	width: auto;
	margin: 0px 10px;
	border-top: 1px solid gray;
	border-bottom: 1px solid white;
}

#Base_Setup .options {
	width: 100%;
	text-align: left;
	position: absolute;
	top:155px;
	z-index: 8;
	background: #e1e1e1;
}

#Base_Setup .option {
	height: 30px;
}

#Base_Setup .option_label {
	width: 150px;
	padding: 7px 10px 7px 10px;
	text-align: left;
}
.epesi_rtl #Base_Setup .option_label {
	text-align: right;
}
#Base_Setup .option_action {
	width: 110px;
	float: right;
	padding: 2px 0px 2px 0;
}
.epesi_rtl #Base_Setup .option_action {
	float: left;
	margin-left: -6px;
}

#Base_Setup .install {
	background: #70b870;
}
#Base_Setup .install:hover {
	background: #7fbf7f;
}

#Base_Setup .partial-install {
	background: rgb(131,213,83);
}
#Base_Setup .partial-install {
	background: rgb(143,217,101);
}

#Base_Setup .store {
	background: rgb(88,166,208);
}
#Base_Setup .store:hover {
	background: rgb(113,179,215);
}

#Base_Setup .available {
	background: rgb(247,247,49);
}
#Base_Setup .available:hover {
	background: rgb(247,247,67);
}

#Base_Setup .disabled {
	background: #bfbfbf;
}
#Base_Setup .disabled:hover {
	background: #cacaca;
}

#Base_Setup .uninstall {
	background: #dd4b4d;
}
#Base_Setup .uninstall:hover {
	background: #e15d60;
}

#Base_Setup .problem {
	background: rgb(242,159,76);
}
#Base_Setup .problem:hover {
	background: rgb(244,173,102);
}

.price_summary table {
    width: 100%;
}

.price_summary td {
    background-color: white;
}
/*
Installed (green)

Update ready (orange)
Store product (paid) (orange)

Available (can be installed) (yellow)
Store product (blue)

Partially installed (lightgreen)
*/