body {
    font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans;
    font-size: 11px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

table {
    font-size: 11px;
}

a {
    color: #336699;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #336699;
}

input, select, textarea {
    border: 1px solid #B3B3B3;
    font-size: 11px;
}

input[type="submit"],
a.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    line-height: 20px;
    height: 20px;
    background-image: url("images/header-blue.png");
    border: 0px;
    text-align: center;
}

input[type="submit"]:hover,
a.button:hover {
    background-image: url("images/header-blue-hover.png");
}

span.footer {
    font-size: 10px;
    color: #777777;
}

span.footer a {
    color: #336699;
}

span.footer a:hover {
    color: #993333;
}

/*** table banner ***/

#banner {
    width: 100%;
    border-bottom: 4px solid #B3B3B3;
}

#banner .back {
    background-image: url("images/banner-background.png");
	width:100%;
}

/*** table main ***/

#main {
    border: 1px solid #B3B3B3;
    background-color: #F0F0F0;
    padding: 20px 20px 20px 20px;
	width: 100%;
	text-align: center;
}

div.license {
    overflow: auto;
    height: 300px;
    border: 1px solid #B3B3B3;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

span.required_note,
span.required_note_star {
    font-size: 9px;
}

span.required_note_star {
    color: #FF0000;
}
