parameters:
	ignoreErrors:
		-
			message: '#^Function smarty_function_eval not found\.$#'
			identifier: function.notFound
			count: 1
			path: include/EpesiSmartyRenderer.php

		-
			message: '#^Result of method EpesiSmartyRenderer\:\:_tplFetch\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 5
			path: include/EpesiSmartyRenderer.php

		-
			message: '#^Path in include_once\(\) "map\.php" is not a file or it does not exist\.$#'
			identifier: includeOnce.fileNotFound
			count: 1
			path: include/data_dir.php

		-
			message: '#^Function set_magic_quotes_runtime not found\.$#'
			identifier: function.notFound
			count: 1
			path: include/database.php

		-
			message: '#^Undefined variable\: \$time$#'
			identifier: variable.undefined
			count: 20
			path: include/database.php

		-
			message: '#^Class JSMin referenced with incorrect case\: JSmin\.$#'
			identifier: class.nameCase
			count: 1
			path: include/epesi.php

		-
			message: '#^Undefined variable\: \$time$#'
			identifier: variable.undefined
			count: 1
			path: include/epesi.php

		-
			message: '#^Function location\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: include/misc.php

		-
			message: '#^Method ModuleManager\:\:create_load_priority_array\(\) should return array but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: include/module_manager.php

		-
			message: '#^Path in require_once\(\) "temp/data/cache/common\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: include/module_manager.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: include/session.php

		-
			message: '#^Instantiated class Smarty not found\.$#'
			identifier: class.notFound
			count: 1
			path: include/simple_login.php

		-
			message: '#^Array has 2 duplicate keys with value ''CRM_Fax'' \(''CRM_Fax'', ''CRM_Fax''\)\.$#'
			identifier: array.duplicateKey
			count: 1
			path: modules/Base/Acl/patches/20120626_new_permission.php

		-
			message: '#^Call to an undefined static method Base_HomePageCommon\:\:load\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: modules/Base/HomePage/HomePageCommon_0.php

		-
			message: '#^Undefined variable\: \$$#'
			identifier: variable.undefined
			count: 1
			path: modules/Base/Mail/class.phpmailer.php

		-
			message: '#^Instantiated class ntlm_sasl_client_class not found\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Base/Mail/class.smtp.php

		-
			message: '#^Path in require_once\(\) "extras/ntlm_sasl_client\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: modules/Base/Mail/class.smtp.php

		-
			message: '#^Parameter \$section of method Base_Print_Printer\:\:print_section\(\) has invalid type Smarty\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Base/Print/Printer.php

		-
			message: '#^Parameter \$section of method Base_Print_Printer\:\:set_footer\(\) has invalid type Smarty\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Base/Print/Printer.php

		-
			message: '#^Instantiated class Smarty not found\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Base/Theme/ThemeCommon_0.php

		-
			message: '#^Path in require\(\) "Minify\.php" is not a file or it does not exist\.$#'
			identifier: require.fileNotFound
			count: 1
			path: modules/Base/Theme/theme_css.php

		-
			message: '#^Call to an undefined static method Acl\:\:del_group\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: modules/Base/patches/RB_permissions2.php

		-
			message: '#^Call to static method add_default_cades_permissions\(\) on an unknown class Custom_CADES_AccessRestrictionsCommon\.$#'
			identifier: class.notFound
			count: 18
			path: modules/Base/patches/RB_permissions2.php

		-
			message: '#^Instantiated class Custom_Prosperix_AccessRestrictionsInstall not found\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Base/patches/RB_permissions2.php

		-
			message: '#^File ends with a trailing whitespace\. This may cause problems when running the code in the web browser\. Remove the closing \?\> mark or remove the whitespace\.$#'
			identifier: whitespace.fileEnd
			count: 1
			path: modules/Base/patches/base_user_login_reset_pass.php

		-
			message: '#^Call to static method module_name\(\) on an unknown class CRM_Assets\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Base/patches/notes_addons.php

		-
			message: '#^Call to static method isError\(\) on an unknown class PEAR\.$#'
			identifier: class.notFound
			count: 1
			path: modules/CRM/Contacts/sample_soap_client.php

		-
			message: '#^File ends with a trailing whitespace\. This may cause problems when running the code in the web browser\. Remove the closing \?\> mark or remove the whitespace\.$#'
			identifier: whitespace.fileEnd
			count: 1
			path: modules/CRM/Contacts/sample_soap_client.php

		-
			message: '#^Instantiated class SOAP_WSDL not found\.$#'
			identifier: class.notFound
			count: 1
			path: modules/CRM/Contacts/sample_soap_client.php

		-
			message: '#^Path in require_once\(\) "SOAP/Client\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: modules/CRM/Contacts/sample_soap_client.php

		-
			message: '#^Access to an undefined property EpesiContacts\:\:\$__typedef\.$#'
			identifier: property.notFound
			count: 1
			path: modules/CRM/Contacts/soap.php

		-
			message: '#^File ends with a trailing whitespace\. This may cause problems when running the code in the web browser\. Remove the closing \?\> mark or remove the whitespace\.$#'
			identifier: whitespace.fileEnd
			count: 1
			path: modules/CRM/Contacts/soap.php

		-
			message: '#^Function define invoked with 1 parameter, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: modules/CRM/Contacts/soap.php

		-
			message: '#^Instantiated class SOAP_DISCO_Server not found\.$#'
			identifier: class.notFound
			count: 1
			path: modules/CRM/Contacts/soap.php

		-
			message: '#^Instantiated class SOAP_Server not found\.$#'
			identifier: class.notFound
			count: 1
			path: modules/CRM/Contacts/soap.php

		-
			message: '#^Instantiated class SOAP_Value not found\.$#'
			identifier: class.notFound
			count: 41
			path: modules/CRM/Contacts/soap.php

		-
			message: '#^Path in require_once\(\) "SOAP/Disco\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: modules/CRM/Contacts/soap.php

		-
			message: '#^Path in require_once\(\) "SOAP/Server\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: modules/CRM/Contacts/soap.php

		-
			message: '#^Instantiated class Fetch\\Server not found\.$#'
			identifier: class.notFound
			count: 1
			path: modules/CRM/Mail/MailCommon_0.php

		-
			message: '#^Access to an undefined property CRM_Mail\:\:\$lp\.$#'
			identifier: property.notFound
			count: 1
			path: modules/CRM/Mail/Mail_0.php

		-
			message: '#^Access to an undefined property CRM_Mail\:\:\$rb\.$#'
			identifier: property.notFound
			count: 1
			path: modules/CRM/Mail/Mail_0.php

		-
			message: '#^Call to an undefined static method CRM_RoundcubeCommon\:\:create_thread\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: modules/CRM/Roundcube/patches/20130606_add_thread_view2.php

		-
			message: '#^Call to an undefined static method CRM_RoundcubeCommon\:\:create_thread\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: modules/CRM/Roundcube/patches/20130617_add_thread_view4.php

		-
			message: '#^Call to an undefined static method CRM_RoundcubeCommon\:\:create_thread\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: modules/CRM/Roundcube/patches/20130617_add_thread_view5.php

		-
			message: '#^Call to an undefined static method HTML_QuickForm_element\:\:HTML_QuickForm_element\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: modules/Libs/Codepress/HTML_Quickform_codepress_0.php

		-
			message: '#^Call to static method load\(\) on an unknown class PhpOffice\\PhpSpreadsheet\\IOFactory\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/PHPExcel/PHPExcelCommon_0.php

		-
			message: '#^Call to an undefined static method DB\:\:isError\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: modules/Libs/QuickForm/FieldTypes/multiselect/multiselect.php

		-
			message: '#^Call to static method raiseError\(\) on an unknown class PEAR\.$#'
			identifier: class.notFound
			count: 3
			path: modules/Libs/QuickForm/FieldTypes/multiselect/multiselect.php

		-
			message: '#^Method HTML_QuickForm_multiselect\:\:load\(\) should return PEAR_Error but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: modules/Libs/QuickForm/FieldTypes/multiselect/multiselect.php

		-
			message: '#^Path in require_once\(\) "DB\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: modules/Libs/QuickForm/FieldTypes/multiselect/multiselect.php

		-
			message: '#^Result of method HTML_QuickForm_multiselect\:\:loadQuery\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: modules/Libs/QuickForm/FieldTypes/multiselect/multiselect.php

		-
			message: '#^Access to an undefined property HTML_QuickForm_Renderer_EpesiDefault\:\:\$_formName\.$#'
			identifier: property.notFound
			count: 3
			path: modules/Libs/QuickForm/Renderer/EpesiDefault.php

		-
			message: '#^Access to an undefined property HTML_QuickForm_Renderer_EpesiDefault\:\:\$_groupType\.$#'
			identifier: property.notFound
			count: 4
			path: modules/Libs/QuickForm/Renderer/EpesiDefault.php

		-
			message: '#^Access to constant ERROR_COOKIES_DISABLED on an unknown class rcmail\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Access to constant ERROR_INVALID_HOST on an unknown class rcmail\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Access to constant ERROR_INVALID_REQUEST on an unknown class rcmail\.$#'
			identifier: class.notFound
			count: 2
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Access to constant ERROR_RATE_LIMIT on an unknown class rcmail\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Access to constant ERROR_STORAGE on an unknown class rcmail\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Access to constant INPUT_GET on an unknown class rcube_utils\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Access to constant INPUT_POST on an unknown class rcube_utils\.$#'
			identifier: class.notFound
			count: 4
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Call to static method get_input_string\(\) on an unknown class rcube_utils\.$#'
			identifier: class.notFound
			count: 3
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Call to static method get_instance\(\) on an unknown class rcmail\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Call to static method https_check\(\) on an unknown class rcube_utils\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Call to static method logonWarning\(\) on an unknown class rcmail_install\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Call to static method raise_error\(\) on an unknown class rcmail\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Call to static method raise_error\(\) on an unknown class rcube\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Function rcmail_fatal_error not found\.$#'
			identifier: function.notFound
			count: 1
			path: modules/Libs/RoundCube/RC/public_html/index.php

		-
			message: '#^Instantiated class TCPDF not found\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Libs/TCPDF/TCPDFCommon_0.php

		-
			message: '#^Method Utils_AttachmentCommon\:\:rb_access\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: modules/Utils/Attachment/AttachmentCommon_0.php

		-
			message: '#^Access to an undefined property Utils_Attachment\:\:\$rb\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Utils/Attachment/Attachment_0.php

		-
			message: '#^Call to an undefined static method DB\:\:error\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: modules/Utils/Comment/CommentInstall.php

		-
			message: '#^Method Utils_CommonDataCommon\:\:remove\(\) should return true but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: modules/Utils/CommonData/CommonDataCommon_0.php

		-
			message: '#^Method Utils_CommonDataCommon\:\:remove_by_id\(\) should return true but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: modules/Utils/CommonData/CommonDataCommon_0.php

		-
			message: '#^Access to an undefined property HTML_QuickForm_commondata\:\:\$_appendName\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Utils/CommonData/qf.php

		-
			message: '#^Call to an undefined method HTML_QuickForm_commondata_group\:\:HTML_QuickForm_element\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: modules/Utils/CommonData/qf_group.php

		-
			message: '#^Call to static method recalculate_missing_amounts\(\) on an unknown class Premium_AccountsCommon\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Utils/CurrencyField/CurrencyFieldCommon_0.php

		-
			message: '#^Call to static method recalculate_missing_amounts\(\) on an unknown class Premium_ExpensesCommon\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Utils/CurrencyField/CurrencyFieldCommon_0.php

		-
			message: '#^Call to static method recalculate_missing_amounts\(\) on an unknown class Premium_TimesheetCommon\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Utils/CurrencyField/CurrencyFieldCommon_0.php

		-
			message: '#^Call to static method recalculate_missing_amounts\(\) on an unknown class Premium_VehiclesCommon\.$#'
			identifier: class.notFound
			count: 1
			path: modules/Utils/CurrencyField/CurrencyFieldCommon_0.php

		-
			message: '#^Access to an undefined property HTML_QuickForm_currency\:\:\$dec_digits\.$#'
			identifier: property.notFound
			count: 2
			path: modules/Utils/CurrencyField/currency.php

		-
			message: '#^Access to an undefined property HTML_QuickForm_currency\:\:\$filterCurrencies\.$#'
			identifier: property.notFound
			count: 2
			path: modules/Utils/CurrencyField/currency.php

		-
			message: '#^Access to an undefined property Utils_FileStorage\:\:\$caption\.$#'
			identifier: property.notFound
			count: 2
			path: modules/Utils/FileStorage/FileStorage_0.php

		-
			message: '#^Access to an undefined property Utils_FileUpload\:\:\$added_upload_elem\.$#'
			identifier: property.notFound
			count: 2
			path: modules/Utils/FileUpload/FileUpload_0.php

		-
			message: '#^Access to an undefined property Utils_Messenger\:\:\$lp\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Utils/Messenger/Messenger_0.php

		-
			message: '#^File begins with UTF\-8 BOM character\. This may cause problems when running the code in the web browser\.$#'
			identifier: whitespace.bom
			count: 1
			path: modules/Utils/Planner/Planner_0.php

		-
			message: '#^Access to an undefined property HTML_QuickForm_timestamp\:\:\$_options\.$#'
			identifier: property.notFound
			count: 5
			path: modules/Utils/PopupCalendar/timestamp.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 4
			path: modules/Utils/RecordBrowser/Crits.php

		-
			message: '#^Access to an undefined property Utils_RecordBrowser_CustomRecordsets\:\:\$rb\.$#'
			identifier: property.notFound
			count: 1
			path: modules/Utils/RecordBrowser/CustomRecordsets/CustomRecordsets_0.php

		-
			message: '#^Access to an undefined property Utils_RecordBrowser\:\:\$watchdog\.$#'
			identifier: property.notFound
			count: 6
			path: modules/Utils/RecordBrowser/RecordBrowser_0.php

		-
			message: '#^Class Epesi referenced with incorrect case\: epesi\.$#'
			identifier: class.nameCase
			count: 2
			path: modules/Utils/RecordBrowser/RecordPicker/select_all.php

		-
			message: '#^Class Epesi referenced with incorrect case\: epesi\.$#'
			identifier: class.nameCase
			count: 1
			path: modules/Utils/RecordBrowser/RecordPickerFS/select.php

		-
			message: '#^Class Epesi referenced with incorrect case\: epesi\.$#'
			identifier: class.nameCase
			count: 1
			path: modules/Utils/RecordBrowser/RecordPickerFS/select_all.php

		-
			message: '#^File ends with a trailing whitespace\. This may cause problems when running the code in the web browser\. Remove the closing \?\> mark or remove the whitespace\.$#'
			identifier: whitespace.fileEnd
			count: 1
			path: modules/Utils/RecordBrowser/patches/20161129_export_customization.php

		-
			message: '#^Access to an undefined property Utils_TabbedBrowser\:\:\$caption\.$#'
			identifier: property.notFound
			count: 4
			path: modules/Utils/TabbedBrowser/TabbedBrowser_0.php

		-
			message: '#^File ends with a trailing whitespace\. This may cause problems when running the code in the web browser\. Remove the closing \?\> mark or remove the whitespace\.$#'
			identifier: whitespace.fileEnd
			count: 1
			path: modules/Utils/Wizard/Wizard_0.php
