body {
	font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans;
    font-size: 11px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

table {
    font-size: 11px;
}

a {
    color: #336699;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #336699;
	font-size: 16px;
}

h2 {
	font-size: 14px;
}

span.footer {
    font-size: 10px;
    color: #777777;
}

span.footer a {
    color: #336699;
}

span.footer a:hover {
    color: #993333;
}

/*** table banner ***/

#banner {
    width: 100%;
    border-bottom: 4px solid #B3B3B3;
}

#banner .image {
    background-image: url("images/logo-small.png");
    background-repeat: repeat-x;
    width: 193px;
    height: 83px;
}

#banner .back {
    font-size: 30px;
    text-shadow: 1px 1px 2px gray;
    font-weight: bold;
    color: #339;
    letter-spacing: 1px;
    text-align: center;
    background-repeat: repeat-x;
    background-color: #E0E0E0;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

/*** table main ***/

#main {
    border: 1px solid #B3B3B3;
    background-color: #F0F0F0;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

div.license {
    display: inline-block;
    width: 500px;
    overflow: auto;
    height: 500px;
    border: 1px solid #B3B3B3;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

span.required_note,
span.required_note_star {
    font-size: 9px;
}

span.required_note_star {
    color: #FF0000;
}

.flag_button {
	display: inline-block;
	margin: 30px;
}

.flag_button img.flag {
	max-width: 130px;
}

.flag_button .label {
	font-size:20px;
	padding-top: 6px;
	display: block;
	text-align: center;
}

a.show_incomplete.button {
	text-align: center;
	display: block;
	margin: 10px auto;
	width: 400px;
	font-size: 20px;
	line-height: 30px;
	white-space: nowrap;
	height: 30px;
}

.error {
	color: red;
	font-weight: bold;
	font-size: 18px;
    text-align: center;
}