body {
	font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 30px 5px;
}

table {
    font-size: 14px;
}

a {
    color: #336699;
    font-weight: normal;
    text-decoration: none;
}

h1 {
    color: #030303;
    font-size: 24px;
}

h2 {
    font-size: 18px;
    color: #030303;
}

input, select, textarea {
    border: 1px solid #030303;
    font-size: 14px;
}

input[type="submit"],
a.button {
	cursor: pointer;
	display: inline-block;
    font-weight: normal;
    color: #FFFFFF;
    min-width: 100px;
    line-height: 20px;
    height: 20px;
    border: none;
    background-color: darkgreen;
    text-align: center;
    vertical-align: middle;
}

input[type="submit"]:hover,
a.button:hover {
    color: yellowgreen;
}

span.footer {
    font-size: 10px;
    color: #B3B3B3;
}

span.footer a {
    color: #B3B3B3;
}

span.footer a:hover {
    color: #009a00;
}

/*** table banner ***/

#banner {
    width: 100%;
    border-bottom: 2px solid #B3B3B3;
}

#banner .image {
    background-image: url("images/logo-small.png");
    background-repeat: repeat-x;
    width: 193px;
    height: 83px;
}

#banner .back {
    font-size: 28px;
    font-weight: bold;
    color: #030303;
    text-align: center;
    background-repeat: repeat-x;
    background-color: #ffffff;
	background: #ffffff; /* Old browsers */
	}

/*** table main ***/

#main {
    border: 1px solid #B3B3B3;
    background-color: #F0F0F0;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

div.license {
    display: inline-block;
    width: 98%;
    overflow: auto;
    height: auto;
    border: 1px solid #B3B3B3;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

span.required_note,
span.required_note_star {
    font-size: 9px;
}

span.required_note_star {
    color: #FF0000;
}

.flag_button {
	display: inline-block;
	margin: 30px;
}

.flag_button img.flag {
	max-width: 100px;
}

.flag_button .label {
	font: size 18px;
	padding-top: 10px;
	display: block;
	text-align: center;
}

a.show_incomplete.button {
	text-align: center;
	display: block;
	margin: 10px auto;
	width: 400px;
	font-size: 20px;
	line-height: 30px;
	white-space: nowrap;
	height: 30px;
}

.error {
	color: red;
	font-weight: bold;
	font-size: 18px;
    text-align: center;
}