/*

top-row (chodzi o linie nad nim, border-top: 1px)
total (jakis lekki kolorek, moze odcien niebieskiego lepiej?)
total-all (jakis jeszcze troche ciemniejszy lekki odcien ;))
fade-out-zero (kolor na jakies AAAAAA, zeby zera byly blade)
number (wyrownanie do prawej)

*/

table#Utils_GenericBrowser .top-row {
    border-top: 1px solid #336699;
}

table#Utils_GenericBrowser .total,
table#Utils_GenericBrowser .total-row_desc {
    background-color: #e6ecf2;
}

table#Utils_GenericBrowser .total-all {
    background-color: #b8c8d9;
    font-weight: bold;
}

table#Utils_GenericBrowser .fade-out-zero {
    color: #AAAAAA;
}

table#Utils_GenericBrowser .number {
    text-align: right;
}

/* row hover */

table#Utils_GenericBrowser tr:hover .total {
    background-color: #cfdae6;
}

table#Utils_GenericBrowser tr:hover .total-all {
    /*background-color: #a3b8cc;*/
    background-color: #8fa7bf;
}

table#Utils_GenericBrowser tr:hover .total-row_desc {
    background-color: #e6ecf2;
}

table#Utils_GenericBrowser tr:hover .row-desc {
    background-color: white;
}






.Utils_RecordBrowser_Reports__date_picker .label {
    background-color: #336699;
    color: #FFFFFF;
    height: 20px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.Utils_RecordBrowser_Reports__date_picker .data {
    background-color: white;
    text-align: left;
    border-bottom: none;
    padding-left: 4px;
    padding-right: 4px;
}
/*
.Utils_RecordBrowser_Reports__date_picker div.label,
.Utils_RecordBrowser_Reports__date_picker div.data {
    display: block;
    float: left;
}
*/
.Utils_RecordBrowser_Reports__date_picker .data input,
.Utils_RecordBrowser_Reports__date_picker .data select,
.Utils_RecordBrowser_Reports__date_picker .data textarea {
    border: 0px;
    background-color: #e6ecf2;
    /*width: 100%;*/
}

.Utils_RecordBrowser_Reports__date_picker .data input[type="checkbox"],
.Utils_RecordBrowser_Reports__date_picker .data input[type="radio"] {
    width: auto;
}

.Utils_RecordBrowser_Reports__date_picker .data input:focus,
.Utils_RecordBrowser_Reports__date_picker .data select:focus,
.Utils_RecordBrowser_Reports__date_picker .data textarea:focus {
    background-color: #ffffa5;
}

.Utils_RecordBrowser_Reports__date_picker .data select[disabled="disabled"],
.Utils_RecordBrowser_Reports__date_picker .data input[disabled="disabled"] {
    background-color: white;
}


.Utils_RecordBrowser_Reports__date_picker .button input {
    border: none;
    color: white;
    background-image: url("images/button.gif");
    width: 100px;
    height: 20px;
}

.Utils_RecordBrowser_Reports__date_picker .button input:hover {
    background-image: url("images/button-hover.gif");
}
