/*

top-row (chodzi o linie nad nim, border-top: 1px)
total (jakis lekki kolorek, moze odcien niebieskiego lepiej?)
total-all (jakis jeszcze troche ciemniejszy lekki odcien ;))
fade-out-zero (kolor na jakies AAAAAA, zeby zera byly blade)
number (wyrownanie do prawej)

*/

.Utils_GenericBrowser .top-row {
    border-top: 1px solid #336699;
}

.Utils_GenericBrowser .total,
.Utils_GenericBrowser .total-row_desc {
    background-color: #e6ecf2;
}

.Utils_GenericBrowser .total-all {
    background-color: #b8c8d9;
    font-weight: bold;
}

.Utils_GenericBrowser .fade-out-zero {
    color: #AAAAAA;
}

.Utils_GenericBrowser .number {
    text-align: right;
}

/* row hover */

.Utils_GenericBrowser .Utils_GenericBrowser__tr:hover .total {
    background-color: #cfdae6;
}

.Utils_GenericBrowser .Utils_GenericBrowser__tr:hover .total-all {
    /*background-color: #a3b8cc;*/
    background-color: #8fa7bf;
}

.Utils_GenericBrowser .Utils_GenericBrowser__tr:hover .total-row_desc {
    background-color: #e6ecf2;
}

.Utils_GenericBrowser .Utils_GenericBrowser__tr:hover .row-desc {
    background-color: white;
}
