div.expandable.collapsed {
	height: 18px;
}
div.expandable {
}
div.expandable.collapsed.exceedsHeight {
	height: 17px !important;
	border-bottom: 1px dotted red;
}
div.expandable:not(.exceedsHeight) p {
	margin: 0;
}
div.expandable.collapsed p {
	margin: 0;
}
div.expandable.expanded {
	white-space: normal;
}