.Utils_GenericBrowser__td .direction {
	width: 20px;
	margin: auto;
	text-align: center;
	color: white;
	padding: 0px 0px 2px 0px;
}

.GenericBrowser_letters {
	background-color: #DEB42F;
	height: 36px;
	padding-top: 2px;
	padding-left: 2px;
	margin: 2px auto auto 4px;
}

#generic_browser_search{
	width: 400px;
}
.Utils_GenericBrowser__quickjump {
	font-weight: normal;
}

/* search */

.letters-search {
    width: 100%;
	padding: 4px 8px;
}

.letters-search img {
    border: none;
}

.letters-search .label {
    background-color: #0A3C5C;
    color: DEB42F;
    padding-left: 8px;
    padding-right: 8px;
}

.letters-search .search-box input {
    background-color: #e6ecf2;
    height: 40px;
    padding-left: 4px;
    padding-right: 2px;
    vertical-align: middle;
    width: 96px;
    border: 2px solid #DEB42F;
}

.letters-search input:focus {
    background-color: #ffffa5;
}

.letters-search .submit input {
    width: 100px;
    height: 40px;
    border: none;
    vertical-align: middle;
    color: white;
	padding-bottom: 3px;
	margin-left: 1px;
	background: #1FAF53;
}

.letters-search .submit input:hover {
	background: #DEB42F;
}

.letters-search .advanced {
    padding-left: 6px;
}

.expand_collapse a.button,
.letters-search .advanced a.button {
	height: 24px;
	padding: 4px 0px 3px 0px;
    width: 150px;
	background: #1FAF53; 
}
.expand_collapse a.button {
    width:120px;
}

.letters-search .advanced a.button:hover {
	background: #0A3C5C;
}

table.Utils_GenericBrowser {
    background-color: #FEFEFE;
    /*border-top: 1px solid #B3B3B3;*/
    border-left: 1px solid #0A3C5C;
}


table.Utils_GenericBrowser input[type="text"],
table.Utils_GenericBrowser select {
	width: 98%;
}

table.Utils_GenericBrowser a.button {
	width: 24px;
	text-align:left;
}

table.Utils_GenericBrowser > thead > tr > th {
    font-weight: normal;
    background-repeat: repeat-x;
    text-align: left;
    min-height: 26px;
    /*border-top: 1px solid #B3B3B3;*/
    border-right: 1px solid #B3B3B3;
    border-bottom: 1px solid #0A3C5C;
	color: #EDEDED;
    vertical-align: middle;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #0A3C5C;
}
.epesi_rtl table.Utils_GenericBrowser > thead > tr > th {
    text-align: right;
}

table.Utils_GenericBrowser > thead > tr > th > .GB_margin {
	margin: 0px 40% auto 2px;
}

table.Utils_GenericBrowser > thead > tr > th > span {
	color: #EDEDED;
    display: block;
	height: 100%;
    line-height: 24px;
    padding: 2px 10px 2px 2px;
}
table.Utils_GenericBrowser > thead > tr > th a {
	color: #FFFFFF;
	width: 98%;
	display: block;
}

table.Utils_GenericBrowser > thead > tr > th:hover {	
	background: #1FAF53;
}
.plus-minus,
.plus-minus:hover {
	width: 8px!important;
	height: 8px !important;
	float: left;
	margin-top: 5px;
	background: none !important;
}

table.Utils_GenericBrowser > thead > tr > th input {
	display: block;
	border-right: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-top: 1px solid #B3B3B3;
    width: 100%;
    border: 0px;
	padding: 4px;
    background-color: #FFFFF9;
}

table.Utils_GenericBrowser > thead > tr > th input:focus {
    background-color: #f0f0e6;
}

table.Utils_GenericBrowser > tbody {
	border-right: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-top: 1px solid #B3B3B3;
	overflow: auto;
}

table.Utils_GenericBrowser > tbody > tr {
	background-color: #DEDEDE;
}

table.Utils_GenericBrowser > tbody > tr:hover {
	background-color: rgb(213, 230, 205);
}

.Utils_GenericBrowser__td {
    text-align: left;
    border-right: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-top: 1px solid #B3B3B3;
	height: 16px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 16px;
}
.epesi_rtl .Utils_GenericBrowser__td {
    text-align: right;
}

.Utils_GenericBrowser__td a img {
	margin: 0 2px;
}

table.Utils_GenericBrowser > tbody > td img {
	vertical-align: middle;
}

/* add new record browser*/
.record_browser_button,
.record_browser_add_new {
	display: block;
	/*width: 67px;*/
	height: 24px;
	color: white;
	padding: 6px 10px;
	background: #226622;
}
.record_browser_button:hover,
.record_browser_add_new:hover {
	color: white;
	background: #226622;
}
.record_browser_button {
	margin-right: 4px;
	display: inline-block;
	line-height: 20px;
}
.record_browser_button img{
	width: 16px;
	height: 16px;
	margin-right: 2px;
	margin-top: -3px;
}
.record_browser_add_new img {
	display: block;
	float: left;
	margin: 2px 6px auto auto;
}
.record_browser_add_new .add_new {
	margin-top:2px;
	display: inline-block;
}


/* letter links */

.letters-search .letters {
    text-align: left;
    padding: 0px 8px 0 0px;
    display: block;
}

.letters-search > tbody > tr > td {
    display: inline-block;
    float: left;
    margin-top: 4px;
}

.letters-search .reset {
    text-align: left;
}

.letter_search_icon {
    padding: 0px 4px 0 0px;
    color: white;
}

.letter_search_icon form {
    display: inline-block;
}

.letters-search .letters .all {
    width: auto;
    padding: 0px 5px 2px 7px;
	color: white;
	background: #226622;
}
.letters-search .letters .all:hover {
	background: #DEB42F;
}
.letters-search .letters .letter {
    width: 18px;
}

.letters-search .letters a,
.letters-search .letters span {
    margin: 2px 2px;
    display: block;
    float: left;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
	color: white;
	padding:  0px 1px 2px 2px;
	background: #226622;
}
.letters-search .letters a:hover,
.letters-search .letters span:hover {
	background: #DEB42F;
}
/* */

.quick_jump_letters {
    z-index: 1005;
    position: absolute;
    margin-right: 50px;
    margin-left: 50px;
}

.letters-search .letters .abc {
    height: 40px;
	padding: 2px 0px 8px 0px;
    line-height: 32px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    color: #DEB42F;
    cursor: hand;
    float: left;
	background: #226622;
}

.letters-search .letters .abc:hover {
	background: #0A3C5C;
}



.layer {
    padding: 8px;
    width: auto;
}

.layer .margin2px {
    padding: 1px;
    background-color: #EAEAEA;
}

.applet .layer .margin2px {
}

.IEfix {
    _height: 0px;
}

/* bottom navigation */
#Utils_GenericBrowser__navigation {
	height: 24px;
	vertical-align: middle;
	width:100%;
	table-layout: auto;
}

.nav_pagin select,
.nav_per_page select {
	font-size: 14px;
}

#Utils_GenericBrowser__navigation {
	color: white;
	background: #9c9c9c;
}

#Utils_GenericBrowser__navigation td.nav_summary {
	width: 160px;
	text-align: center;
	white-space: nowrap;
}

#Utils_GenericBrowser__navigation td.nav_button {
	width: 96px;
}

#Utils_GenericBrowser__navigation .nav_button a {
	display: block;
	color: white;
	width: 82px;
	height: 24px;
	padding: 4px 5px 2px 5px;
	margin-right: 4px;
}

#Utils_GenericBrowser__navigation .nav_button a:hover {
	background: #226622;
}

#Utils_GenericBrowser__navigation .nav_button div {
	margin: 0px 1px;
}

#Utils_GenericBrowser__navigation .nav_button .nav_left_arrow {
	float: left;
	margin-top: 1px;
}
#Utils_GenericBrowser__navigation .nav_button .nav_left_label {
	margin-left: 40px;
}

#Utils_GenericBrowser__navigation .nav_button .nav_right_arrow {
	float: right;
	margin-top: 1px;
}
#Utils_GenericBrowser__navigation .nav_button .nav_right_label {
	float: left;
}

#Utils_GenericBrowser__navigation .nav_button img {
	border: none;
}

#Utils_GenericBrowser__navigation .nav_per_page {
	padding-right: 2px;
}

.epesi_rtl #Utils_GenericBrowser__navigation img {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}



.Utils_GenericBrowser__overflow_div {
    background-color: white;
	border: 1px solid gray;
}

.Utils_GenericBrowser__overflow_div_content {
	padding: 4px;
	word-wrap: break-word;
}

.Utils_GenericBrowser img.action_button {
	width: 16px;
	height: 16px;
}

.Utils_GenericBrowser__overflow_div_content img.action_button {
	width: 16px;
	height: 16px;
	padding-right: 2px;
}

div.expandable.collapsed {
    height: 24px;
}
div.expandable {
}
div.expandable.collapsed.exceedsHeight {
    height: 24px !important;
    border-bottom: 2px dotted red;
}
div.expandable:not(.exceedsHeight) p {
    margin: 0;
}
div.expandable.collapsed p {
    margin: 0;
}
div.expandable.expanded {
    white-space: normal;
}