<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column.label | raw }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for col in row %}
                    <td>{{ col.label | raw }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr><td colspan="{{ columns|length }}">{{ summary | raw }}</td></tr>
    </tfoot>
</table>