#Applets_Weather {
}

#Applets_Weather ul, li {
	list-style: none;
}

#Applets_Weather {
	padding-left: 20px;
	padding-right: 20px;
	background-image: url('Applets/Weather/background.gif');
	background-repeat: repeat-x;
}

#Applets_Weather span {
	color: #777777;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	display: block;
}
