#shoutbox_board_big {
	margin-top: 5px;
    height: 320px;
	width: 100%;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-y: scroll;
    text-align: left;
    border: 1px solid #B3B3B3;
    padding: 5px;
    background-color: #FFFFFF;
	
	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
	
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 3px black;
	-moz-box-shadow: 1px 1px 3px black;
	box-shadow: 1px 1px 3px black;
	/* end css3 shadow border*/
}

#shoutbox_big_container {
    width: 95%;
}

#shoutbox_big_container .table {
    width: 100%;
}

#shoutbox_to_big {
    width: 100%;
}

#shoutbox_board_big .author {
    background-color: #6F6F6F;
	color: #ffffff;
	padding: 1px 2px 1px 5px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

#shoutbox_board_big .time {
	font-style:italic;
    color: #B3B3B3;
}

#shoutbox_text_big {
    width: 100%;
    height: 80px;

	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
	
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 3px black;
	-moz-box-shadow: 1px 1px 3px black;
	box-shadow: 1px 1px 3px black;
	/* end css3 shadow border*/
}

#shoutbox_button_big {
	cursor:pointer;
    color: #FFFFFF;
    border: 0px;
    width: 90px;
    height: 24px;
    padding: 0px 0px 6px 0px;
    float:right;
	
	/* css3 blue gradient */
	background: #7b9cbd; /* Old browsers */
	background: -moz-linear-gradient(top, #7b9cbd 0%, #336699 50%, #7b9cbd 51%, #7b9cbd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b9cbd), color-stop(50%,#336699), color-stop(51%,#7b9cbd), color-stop(100%,#7b9cbd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7b9cbd 0%,#336699 50%,#7b9cbd 51%,#7b9cbd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7b9cbd 0%,#336699 50%,#7b9cbd 51%,#7b9cbd 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #7b9cbd 0%,#336699 50%,#7b9cbd 51%,#7b9cbd 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b9cbd', endColorstr='#7b9cbd',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #7b9cbd 0%,#336699 50%,#7b9cbd 51%,#7b9cbd 100%); /* W3C */
	/* end css3  gradient */
	
	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
	
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 3px black;
	-moz-box-shadow: 1px 1px 3px black;
	box-shadow: 1px 1px 3px black;
	/* end css3 shadow border*/
}

#shoutbox_button_big:hover {
    background-image: url('images/header-blue-hover.gif');
}