#shoutbox_board_big {
	margin-top: 5px;
    height: 320px;
	width: 100%;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-y: scroll;
    text-align: left;
    border: 1px solid #B3B3B3;
    padding: 5px;
    background-color: #FFFFFF;
	
	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
	
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 3px black;
	-moz-box-shadow: 1px 1px 3px black;
	box-shadow: 1px 1px 3px black;
	/* end css3 shadow border*/
}

#shoutbox_big_container {
    width: 95%;
	text-align:left;
}

#shoutbox_big_container .table {
    width: 100%;
}

#shoutbox_board_big .author {
    background-color: #6F6F6F;
	color: #ffffff;
	padding: 1px 2px 1px 5px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

#shoutbox_board_big .time {
	font-style:italic;
    color: #B3B3B3;
}

#shoutbox_big_container .epesi_data textarea {
	height: 50px;
}