#shoutbox_board {
    height: 250px;
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-y: scroll;
    text-align: left;
}

.Apps_Shoutbox__dashboard #__autocomplete_id_shoutbox_to__search,
.Apps_Shoutbox__dashboard #__shoutbox_to_select_span #shoutbox_to {
    margin: 7px auto auto 5px;
}
.Apps_Shoutbox__dashboard #__autocomplete_id_shoutbox_to__search {
	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
	padding: 2px 5px;
}

#shoutbox_board br {
	line-height: 18px;
}

.Apps_Shoutbox__dashboard {
	position: relative;
}

#shoutbox_text, #shoutbox_button {
	margin-bottom: 15px;
}