#shoutbox_board {
    height: 250px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-y: scroll;
    text-align: left;
    border: 1px solid #B3B3B3;
    padding: 5px;
    background-color: #FFFFFF;
}

#shoutbox_board .author {
	color: #ffffff;
	text-align: center !important;
	padding: 2px 5px 2px 8px;
}

#shoutbox_board .author a {
	color: #ffffff;
}

#shoutbox_board .time {
	font-style:italic;
    color: #B3B3B3;
}

#shoutbox_text {
    width: 94%;
	margin: 35px auto 5px 6px;
	padding: 3px 5px;
}
#shoutbox_text:focus {
	background-color: #FFFFA5;
}
.Apps_Shoutbox__dashboard #__autocomplete_id_shoutbox_to__search,
.Apps_Shoutbox__dashboard #__shoutbox_to_select_span #shoutbox_to {
    margin: 7px auto auto 5px;
}
.Apps_Shoutbox__dashboard #__autocomplete_id_shoutbox_to__search {
	padding: 2px 5px;
}
.Apps_Shoutbox__dashboard #__autocomplete_id_shoutbox_to__search:focus,
.Apps_Shoutbox__dashboard #__shoutbox_to_select_span #shoutbox_to:focus {
	background-color: #FFFFA5;
}

#shoutbox_board br {
	line-height: 18px;
}

.Apps_Shoutbox__dashboard #__shoutbox_to_select_span {
	position: absolute;
	top: 3px;
	left: 0px;
}

.Apps_Shoutbox__dashboard #__shoutbox_to_autocomplete_span {
	position: absolute;
	top: 3px;
	left: 0px;
}

.Apps_Shoutbox__dashboard {
	position: relative;
}

.Apps_Shoutbox__dashboard form {
	background-color: #7B9CBD;
}

#shoutbox_button {
	position: absolute;
	top: 3px;
	right: 0px;
    color: #FFFFFF;
	float: right;
	margin: 5px 9px auto auto;
	padding: 3px 0;
    border: 0px;
    width: 75px;
	cursor: pointer;
	background: #226622;
}

#shoutbox_button:hover {
	background: #226622;
}

