#shoutbox_board {
    height: 250px;
	max-width: 290px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-y: scroll;
    text-align: left;
    border: 1px solid #B3B3B3;
    padding: 5px;
    background-color: #FFFFFF;
}

#shoutbox_board .author {
    color: #336699;
}

#shoutbox_board .time {
    color: #B3B3B3;
}

#shoutbox_text {
    width: 200px;
}

#shoutbox_button {
    color: #FFFFFF;
    background-color: #336699;
    background-image: url('images/header-blue.png');
    background-repeat: repeat-x;
    border: 0px;
    padding: 1px 10px 1px 10px;
}

#shoutbox_button:hover {
    background-image: url('images/header-blue-hover.png');
}
