#shoutbox_board {
    height: 200px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-y: scroll;
    text-align: left;
    border: 1px solid #b3b3b3;
    margin: 5px;
    padding: 5px;
    background-color: #ffffff;
}

#shoutbox_board .author {
    color: #336699;
}

#shoutbox_board .time {
    color: #b3b3b3;
}

.element_text {
}

#shoutbox_text {
    width: 226px;
}

#shoutbox_button {
    color: #ffffff;
    background-image: url('images/button-small.gif');
    border: none;
    /*padding: 1px 10px 1px 10px;*/
    width: 50px;
    height: 20px;
}

#shoutbox_button:hover {
    background-image: url('images/button-small-hover.gif');
}
