@CHARSET "ISO-8859-1";
.no_border {
	border: none;	
}
hr.small {
	background: #000000;
	height: 1px;
}
p.event {
	font-size: 7px;
	line-height: 11px;
	margin: 4px 0px 2px 0px;
	position: absolute;
}
/* classes for big table */
	#year {
		color: #000000;
		background: transparent;
		padding: 1px;
		border-top: 1px;
		border-right: 1px;
		border-bottom: 0px;
		border-left: 0px;
	}
	#year td {
		border: none;
		background: transparent;
	}
	#year td.empty {
		background: #fcfffd;
		border: 1px dashed #00ff00;
		margin: 2px;
	}
	#year td.day {
		vertical-align: top;
		color: #000000;
		border-top: none;
		border-right: 1px dashed #000000;
		border-bottom: 1px dashed #000000;
		border-left: none;
		margin: 2px;
		padding: 3px;
		text-align: left;
		background: #fcfffd;
	}
	#year td.today {
		vertical-align: top;
		color: #000000;
		border: 1px solid #000000;
		margin: 2px;
		padding: 3px;
		text-align: left;
		background: #f1f3f5;
	}
	#year td.header {
		color: #000000;
		vertical-align: middle;
		background-color: #dedfff;
		border: 1px solid black;
	}
	#year td.daysHeader {
		background-color: #eeefff;
		vertical-align: middle;
		padding: 0px 0px 0px 5px;
	}
	#year td.empty {
		background-color: transparent;
		border: none;
	}
	.holiday {
		font-weight: bold;
		border: 1px dotted #999999;
		background-color: #e3f7e5;
	}
	.holiday_today {
		font-weight: bold;
		border: 1px solid #000000;
		background-color: #e3f7e5;
	}
	.weekend {
		background: #fff3f5;
	}
	span.day_number {
		font-size: 14pt;
	}
a.new_event {
		padding: 0px 2px 0px 2px;
		border: 1px solid transparent;
		margin: 1px;
		text-decoration: none;
	}
a.new_event:hover {
		padding: 0px 2px 0px 2px;
		border: 1px solid red;
		text-decoration: none;
	}
	