.tooltip hr {
	margin: 0.5em;
	color: #DDDDDD;
}

.tooltip.in { /* remove transparency */
	opacity: 1;
	filter: alpha(opacity=100);
}

.tooltip-inner {
	max-width: 500px;
	background-color: #f5f5f5;
	border: 1px solid #DDDDDD;
	color: #333333;
}

.tooltip-inner table {
	text-align: start;
	width: 280px;
	border-spacing: 2px;
	border-collapse: separate;
}

.tooltip-inner table tr td:first-child {
	font-weight: bold;
	width: 90px;
}

.tooltip-inner table tr td:not(:first-child) {
	background-color: #ffffff;
	padding-left: 5px;
}

/* fix gentelella css */
.tooltip {
	z-index:99999 !important;
}