#tooltip_div .border {
	color: #336699;
	padding: 4px;
	/*background-color: white;*/
	background-color: #e6ecf2;
	/*border: 2px solid #336699;*/
	border: 4px solid white;
	/*background-color: #e6e6cf;
	border: 4px solid white;*/
}

#tooltip_div hr {
	border: 0px;
	color: #336699;
	background-color: #336699;
	size: 1px;
	height: 1px;
	width: 100%;
}

/* only for IE */

#tooltip_div .shadow-top,
#tooltip_div .shadow-middle,
#tooltip_div .shadow-bottom {
	_display: none;
}

#tooltip_div .layer {
	_padding: 0px;
	_width: 100%;
}

#tooltip_div .border2 {
	_border: 1px solid #336699;
}

#tooltip_layer_div table {
	table-layout: auto;
}