#calc {
    background-color: #FFFFFF;
}

#calc input {
	width: 226px;
	padding: 2px 4px;
	margin: 3px auto;
}

#calc .key {
    color: #ffffff;
    width: 50px;
    height: 30px;
	padding-bottom: 6px;
	font-weight: bold;
    border: none;
    margin: 3px;
	cursor: pointer;

	background: #226622;
}

#calc input:hover.key {
	background: #226622;
}

#calc .text {
    border: 2px solid #B3B3B3;
    /*width: 141px;*/
    width: 221px;
}


#calc .text:focus {
	background-color: #FFFFA5;
}
