#calc {
    background-color: #FFFFFF;
}

#calc input {
	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
	
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 3px black;
	-moz-box-shadow: 1px 1px 3px black;
	box-shadow: 1px 1px 3px black;
	/* end css3 shadow border*/
	
	width: 226px;
	padding: 2px 4px;
	margin: 3px auto;
}

#calc .key {
    color: #ffffff;
    width: 50px;
    height: 30px;
	padding-bottom: 6px;
	font-weight: bold;
    border: none;
    margin: 3px;
	cursor: pointer;

	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
	
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 3px black;
	-moz-box-shadow: 1px 1px 3px black;
	box-shadow: 1px 1px 3px black;
	/* end css3 shadow border*/

	/*dark css3 green background gradient */
	background: #226622; /* Old browsers */
	/* end dark css3 green background gradient */
}

#calc input:hover.key {
	/*light css3 green background gradient */
	background: #226622; /* Old browsers */
	/* end light css3 green background gradient */
}

#calc .text {
    border: 2px solid #B3B3B3;
    /*width: 141px;*/
    width: 221px;
}


#calc .text:focus {
	background-color: #FFFFA5;
}
