@CHARSET "ISO-8859-1";

/*
p.event {
	font-size: 7px;
	line-height: 11px;
	margin: 4px 0px 2px 0px;
	position: absolute;
}
*/

/* classes for big table */

a.new_event:hover {
	padding: 0px 4px 0px 4px;
	border: 1px solid red;
	text-decoration: none;
}

a.icon {
	border: none;
	text-decoration: none;
}

/* CRM week calendar */

.crm_calendar_week {
	width: 100%;
	background: transparent;
	border: 1px solid #FFFFFF;
	border-left: 0px;
	border-top: 0px;
}

.crm_calendar_week td {
	height: 25px;
	vertical-align: middle;
}

.crm_calendar_week td.today {
	background-color: red;
}

.crm_calendar_week td.hours_header {
	width: 9%;
	border: 0px;
	text-align: center;
	color: #339933;
	/*font-weight: bold;*/
	border: 0px;
	background-color: #FFFFFF;
}

.crm_calendar_week td.hours_header_lower {
	width: 9%;
	vertical-align: top;
	color: #FFFFFF;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #FFFFFF;
	text-align: center;
	background-color: #336699;
	padding-top: 4px;
}

.crm_calendar_week td.header_day {
	height: 50px;
	vertical-align: top;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #b3b3b3;
	background-image: url('images/day-header.png');
	background-repeat: repeat-x;
	width: 13%;
	padding-left: 5px;
	padding-right: 5px;
}

.crm_calendar_week td.header_day:hover {
	background-image: url('images/day-header-hover.png');
}

.crm_calendar_week td.header_day a table {
	font-weight: bold;
	font-size: 16px;
	height: 50px;
}

.crm_calendar_week td.header_day_today {
	vertical-align: top;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #CFDAE6;
	background-image: url('images/day-header-today.png');
	background-repeat: repeat-x;
	width: 13%;
	padding-left: 5px;
	padding-right: 5px;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

.crm_calendar_week td.header_day_today:hover {
	background-image: url('images/day-header-today-hover.png');
}

.crm_calendar_week td.header_day_today a table {
	font-weight: bold;
	font-size: 16px;
	height: 50px;
}

.crm_calendar_week .weekend {
	background-image: url('images/day-header-weekend.png');
}

.crm_calendar_week .weekend:hover {
	background-image: url('images/day-header-weekend-hover.png');
}

.crm_calendar_week td.header_timeless {
	vertical-align: top;
	color: #000000;
	border-left: 1px solid #B3B3B3;
	border-top: 1px solid #FFFFFF;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #e6e6cf;
	padding: 0px;
	cursor: pointer;
}

.crm_calendar_week td.header_timeless:hover {
	background-color: #e6cfcf
}

.crm_calendar_week td.header_timeless_today {
	vertical-align: top;
	color: #000000;
	border-left: 1px solid #B3B3B3;
	border-top: 1px solid #FFFFFF;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #e6e6cf;
	padding: 0px;
	cursor: pointer;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

.crm_calendar_week td.header_timeless_today:hover {
	background-color: #e6cfcf
}

.crm_calendar_week td.header_weekday {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	text-align: left;
	background: #fcfffd;
}

.crm_calendar_week td.header_month {
	color: #FFFFFF;
	vertical-align: middle;
	background-color: #336699;
	background-image: url('images/header-blue.png');
	background-repeat: repeat-x;
	height: 30px;
	border: 0px;
	padding-left: 10px;
	border-top: 1px solid #FFFFFF;
	font-size: 14px;
	text-align: center;
}

.crm_calendar_week td.header_month a {
	color: #FFFFFF;
}

.crm_calendar_week td.hour {
	width: 9%;
	vertical-align: top;
	color: #FFFFFF;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #FFFFFF;
	text-align: center;
	/*background-color: #CFDAE6;*/
	background-color: #336699;
	padding-top: 2px;
}

.crm_calendar_week td.midday_hour {
	width: 9%;
	vertical-align: top;
	color: #FFFFFF;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #FFFFFF;
	text-align: center;
	/*background-color: #E6ECF2;*/
	background-color: #336699;
	padding-top: 2px;
}

.crm_calendar_week td.inter {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #CFDAE6;
	padding: 0px;
	cursor: pointer;
}

.crm_calendar_week td.inter:hover {
	background-color: #e6cfcf
}

.crm_calendar_week td.inter_today {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #CFDAE6;
	padding: 0px;
	cursor: pointer;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

.crm_calendar_week td.inter_today:hover {
	background-color: #e6cfcf
}

.crm_calendar_week td.midday_inter {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.crm_calendar_week td.midday_inter:hover {
	background-color: #e6cfcf
}

.crm_calendar_week td.midday_inter_today {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	padding: 0px;
	margin: 0px;
	background-color: #E6ECF2;
	cursor: pointer;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

.crm_calendar_week td.midday_inter_today:hover {
	background-color: #e6cfcf
}

/* event */

.crm_calendar_week div.events_brief {
	height: 18px;
	border: 2px solid #339933;
	background-color: #cfe6cf;
	color: #000000;
	font-weight: normal;
	padding: 0px;
	margin: 1px;
}

.crm_calendar_week div.events_brief span {
	height: 18px;
}

.crm_calendar_week .events_icon {
	border: 1px solid #336699;
}

.crm_calendar_week .events_drag_handle {
	cursor: move;
	background-color: #339933;
	width: 18px;
	display: block;
	float: left;
	padding-left: 1px;
	padding-top: 1px;
}

.crm_calendar_week .events_brief_info {
	display: block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
}

.crm_calendar_week .events_more {
	background-color: #339933;
	display: block;
	float: right;
	padding-left: 4px;
	padding-right: 2px;
	padding-top: 1px;
}

/* menu */

div.week-menu {
	padding-bottom: 0px;
	/*border-bottom: 4px solid #B3B3B3;*/
}

div.week-menu img {
	vertical-align: middle;
}

div.week-menu a.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    line-height: 20px;
    display: block;
	background-color: #336699;
    /*background-image: url("images/header-blue.png");*/
    background-image: none;
    border: 0px;
    text-align: center;
}


div.week-menu a.button:hover {
	background-color: #339933;
    /*background-image: url("images/header-blue-hover.png");*/
}
