@CHARSET "ISO-8859-1";

.no_border {
	border: none;
}
hr.small {
	background: #000000;
	height: 1px;
}
p.event {
	font-size: 7px;
	line-height: 11px;
	margin: 4 0 2 0;
	position: absolute;
}
/* classes for big table */

a.new_event:hover {
		padding: 0 4 0 4;
		border: 1px solid red;
		text-decoration: none;
	}
a.icon {
	border: none;
	text-decoration: none;
}
.crm_calendar_week{
	width: 80%;
	background: transparent;
}

.crm_calendar_week td.today {
	background: #cfcfed;
}
.crm_calendar_week td.hours_header {
	width: 5%;
	border-top: none;
	border-right: 1px solid #000000;
	border-bottom: none;
	border-left: none;
}
.crm_calendar_week td.hours_header_lower {
	width: 5%;
	border-top: none;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: none;
}
.crm_calendar_week td.header_day {
	vertical-align: top;
	color: #000000;
	border-left: none;
	border-right: 1px solid #000000;
	border-bottom: none;
	border-left: none;
	text-align: left;
	background: #fcfffd;
	width: 14%;
}
.crm_calendar_week td.header_day_today {
	vertical-align: top;
	color: #000000;
	border-left: none;
	border-right: 1px solid #000000;
	border-bottom: none;
	border-left: none;
	text-align: left;
	background: #cfcfed;
	width: 14%;
}


.crm_calendar_week td.header_timeless {
	vertical-align: top;
	color: #000000;
	border-left: none;
	border-right: 1px solid #000000;
	border-bottom: 1px double #000000;
	border-left: none;
	text-align: left;
	background: #fcfffd;
	width: 14%;
}
.crm_calendar_week td.header_timeless_today {
	vertical-align: top;
	color: #000000;
	border-left: none;
	border-right: 1px solid #000000;
	border-bottom: 1px double #000000;
	border-left: none;
	text-align: left;
	background: #cfcfed;
	width: 14%;
}


.crm_calendar_week td.header_weekday {
	vertical-align: top;
	color: #000000;
	border-left: none;
	border-right: 1px solid #000000;
	border-bottom: none;
	border-left: none;
	text-align: left;
	background: #fcfffd;
}
.crm_calendar_week td.header_month {
	color: #000000;
	vertical-align: middle;
	height: 40;
	background: #dedfff;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px dotted black;
	border-left: none;
}
.crm_calendar_week td.hour {
	vertical-align: top;
	color: #000000;
	border-top: none;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	white-space: nowrap;
	text-align: center;
	background: #dfdfcd;
}


.crm_calendar_week td.inter {
	vertical-align: top;
	color: #000000;
	border-top: none;
	border-right: 1px dashed #888888;
	border-bottom: 1px dashed #888888;
	border-left: none;
	text-align: left;
	background: #dfdfcd;
}
.crm_calendar_week td.inter_today {
	vertical-align: top;
	color: #000000;
	border-top: none;
	border-right: 1px dashed #888888;
	border-bottom: 1px dashed #888888;
	border-left: none;
	text-align: left;
	background: #cfcfed;
}
.crm_calendar_week td.midday_inter {
	vertical-align: top;
	color: #000000;
	border-top: none;
	border-right: 1px dashed #888888;
	border-bottom: 1px dashed #888888;
	border-left: none;
	text-align: left;
	background: #ffffed;
}
.crm_calendar_week td.midday_inter_today {
	vertical-align: top;
	color: #000000;
	border-top: none;
	border-right: 1px dashed #888888;
	border-bottom: 1px dashed #888888;
	border-left: none;
	text-align: left;
	background: #efefdd;
}



.crm_calendar_week td.midday_hour {
	vertical-align: top;
	color: #000000;
	border-top: none;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	white-space: nowrap;
	text-align: left;
	background: #ffffed;
}



div.events_brief {
	background-color: #336699;
	padding: 2 0 0 1;
	border: 1px solid #336699;
	background: #73d6f9;
}
.crm_calendar_week .event_icon {
	border: 1px solid #336699;
}
.crm_calendar_week .event_drag_handle {
	cursor: move;
}

/* menu */

div.week-menu {
	padding-bottom: 10px;
	border-bottom: 4px solid #B3B3B3;
}

div.week-menu img {
	vertical-align: middle;
}

div.week-menu a.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    line-height: 20px;
    height: 20px;
    display: block;
    background-image: url("images/header-blue.png");
    border: 0px;
    text-align: center;
}

div.week-menu a.button:hover {
    background-image: url("images/header-blue-hover.png");

}
