#Utils_TabbedBrowser_div {
	/*background-image: url('images/tabbed-background.png');
	background-repeat: repeat-x;
	background-position: 0px 31px;*/
}

ul#Utils_TabbedBrowser {
	text-align: left;
	font-weight: normal;
	font-size: 11px;
	/*border-bottom: 4px solid #828282;*/
	list-style-type: none;
	/* padding: 13px 20px 3px 20px; */
	padding: 0px 20px 0px 20px;
	padding-top: 0px;
	margin-top: 0px;
	background: transparent;
	margin-left: 0px;

	background-image: url('images/tabbed-background.gif');
	background-position: 0px 4px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

ul#Utils_TabbedBrowser li {
	display: inline;
	white-space: nowrap;
	line-height: 29px;
}

ul#Utils_TabbedBrowser a.tabbed_browser_selected {
	color: #FFFFFF;
	padding-top: 3px;
	background-color: #709c70;
	background-image: url("images/header-green-dark.gif");
	background-repeat: repeat-x;
	font-weight: bold;
}

ul#Utils_TabbedBrowser li a {
	padding: 3px 4px;
	border: 0px;
	/*background-color: #55AA55;*/
	background-color: #339933;
	background-image: url('images/header-black.gif');
	background-repeat: repeat-x;
	color: #FFFFFF;
	margin-right: 0px;
	text-decoration: none;
	border-bottom: none;
	/*
	padding-left: 30px;
	padding-right: 30px;
	*/
	padding-left: 10px;
	padding-right:10px;
}

ul#Utils_TabbedBrowser a:hover {
	color: #000000;
	padding-top: 3px;
	background-color: #709c70;
	background-image: url('images/header-green-dark.gif');
	background-repeat: repeat-x;
	color: #ffffff;
}


/* only for IE */

#Utils_TabbedBrowser {
	_margin-top: 11px;
}
