.border_bottom{
	border-bottom: 4px solid #939393;
	
	/* css3 shadow */
	-webkit-box-shadow: 0px -2px 3px #303030;
	-moz-box-shadow: 0px -2px 3px #303030;
	box-shadow: 0px -2px 3px #303030;
	/* end css3 shadow */
	margin-bottom: 4px;
}

.Utils_TabbedBrowser_div {
	/*background-image: url('images/tabbed-background.png');
	background-repeat: repeat-x;
	background-position: 0px 31px;*/
}

ul.Utils_TabbedBrowser {
	text-align: left;
	font-weight: normal;
	font-size: 11px;
	/*border-bottom: 4px solid #828282;*/
	list-style-type: none;
	/* padding: 13px 20px 3px 20px; */
	padding: 0px 20px 0px 20px;
	padding-top: 0px;
	margin-top: 0px;
	background: transparent;
	margin-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

ul.Utils_TabbedBrowser li {
	display: inline;
	white-space: nowrap;
	line-height: 29px;
}

ul.Utils_TabbedBrowser li span.tabbed_browser_selected {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
	/* gray v1 css3 background gradient */
	background: #9c9c9c; /* Old browsers */
	background: -moz-linear-gradient(top, #9c9c9c 0%, #858585 49%, #666666 51%, #939393 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c9c9c), color-stop(49%,#858585), color-stop(51%,#666666), color-stop(100%,#939393)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9c9c9c 0%,#858585 49%,#666666 51%,#939393 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9c9c9c 0%,#858585 49%,#666666 51%,#939393 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #9c9c9c 0%,#858585 49%,#666666 51%,#939393 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #9c9c9c 0%,#858585 49%,#666666 51%,#939393 100%); /* W3C */
	/* gray v1 css3 background gradient */
}
ul.Utils_TabbedBrowser li span.tabbed_browser_selected:hover {
	cursor: pointer;
	/* gray v2 css3 background gradient */
	background: #b2b2b2; /* Old browsers */
	background: -moz-linear-gradient(top, #b2b2b2 0%, #9b9b9b 49%, #7c7c7c 51%, #a8a8a8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(49%,#9b9b9b), color-stop(51%,#7c7c7c), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b2b2b2 0%,#9b9b9b 49%,#7c7c7c 51%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b2b2b2 0%,#9b9b9b 49%,#7c7c7c 51%,#a8a8a8 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #b2b2b2 0%,#9b9b9b 49%,#7c7c7c 51%,#a8a8a8 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#7c7c7c',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #b2b2b2 0%,#9b9b9b 49%,#7c7c7c 51%,#a8a8a8 100%); /* W3C */
	/* gray v1 css3 background gradient */
}
ul.Utils_TabbedBrowser li span {
	border: 0px;
	color: #FFFFFF;
	margin-right: 0px;
	text-decoration: none;
	padding: 8px 10px 8px 10px;
	
	/*dark css3 green background image gradient */
	background: #226622; /* Old browsers */
	background: -moz-linear-gradient(top, #709c70 0%, #4d844d 49%, #226622 51%, #649464 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#709c70), color-stop(49%,#4d844d), color-stop(51%,#226622), color-stop(100%,#649464)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35b135', endColorstr='#2d602d',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* W3C */
	/* end dark css3 green background gradient */
	
	/* css3 border radius */
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	/* end css3 border radius */
}

ul.Utils_TabbedBrowser li a {
	padding: 0px 2px;
}

ul.Utils_TabbedBrowser li img {
	padding: 0px;
}

ul.Utils_TabbedBrowser span:hover {
	cursor: pointer;
	/*light css3 green background gradient */
	background: #226622; /* Old browsers */
	background: -moz-linear-gradient(top, #226622 0%, #71b871 1%, #58ab58 49%, #379b37 51%, #63b163 95%, #226622 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#226622), color-stop(1%,#71b871), color-stop(49%,#58ab58), color-stop(51%,#379b37), color-stop(95%,#63b163), color-stop(100%,#226622)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%,#226622 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%,#226622 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%,#226622 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ada5a', endColorstr='#308630',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%,#226622 100%); /* W3C */
	/* end light css3 green background gradient */
}

ul.Utils_TabbedBrowser li div.tabbedbrowser_submenu {
	z-index: 1500;
	line-height:21px;
	padding-top: 0px;
}

ul.Utils_TabbedBrowser li div.tabbedbrowser_submenu span {
	display: block;
	width: 100px;
	background-image: none;
	background-color: #222;
	padding-top: 0px;
	padding-bottom: 0px;
}

ul.Utils_TabbedBrowser li div.tabbedbrowser_submenu span:hover {
	background-color: #709c70;
}

ul.Utils_TabbedBrowser li div.tabbedbrowser_submenu span.tabbed_browser_selected {
	background-color: #709c70;
}

/* only for IE */

.Utils_TabbedBrowser {
	_margin-top: 11px;
}
