#Utils_TabbedBrowser_div {
	background-image: url('images/tabbed-background.png');
	background-repeat: repeat-x;
}

ul#Utils_TabbedBrowser {
	text-align: left;
	font-weight: normal;
	font-size: 11px;
	border-bottom: 4px solid #595959;
	list-style-type: none;
	/* padding: 13px 20px 3px 20px; */
	padding: 0px 20px 3px 20px;
	background: transparent;
	margin-left: 0px;
}

ul#Utils_TabbedBrowser li {
	display: inline;
}

ul#Utils_TabbedBrowser a.tabbed_browser_selected {
	color: #FFFFFF;
	top: 4px;
	padding-top: 4px;
	background-color: #595959;
	background-image: url("images/header-gray-dark.png");
	background-repeat: repeat-x;
}

ul#Utils_TabbedBrowser li a {
	padding: 3px 4px;
	border: 0px;
	background-color: #B3B3B3;
	color: #FFFFFF;
	margin-right: 0px;
	text-decoration: none;
	border-bottom: none;
	padding-left: 30px;
	padding-right: 30px;
}

ul#Utils_TabbedBrowser a:hover {
	color: #FFFFFF;
	background-color: #595959;
	/*background-image: url("images/header-blue-hover.png");*/
	background-repeat: repeat-x;
}


/* only for IE */

#Utils_TabbedBrowser {
	_margin-top: 11px;
}
