@CHARSET "ISO-8859-1";

/*
.no_border {
	border: none;
}
hr.small {
	background: #000000;
	height: 1px;
}
p.event {
	font-size: 7px;
	line-height: 11px;
	margin: 4px 0px 2px 0px;
	position: absolute;
}
*/
/* classes for big table */
/*
	table.big {
		width: 80%;
		height: 100%;
		color: #000000;
		background: transparent;
		padding: 1px;
		border-top: 1px;
		border-right: 1px;
		border-bottom: 0px;
		border-left: 0px;
	}
	table.big td {
		border: none;
		background: transparent;
	}
	table.big td.empty {
		background: #fcfffd;
		border: 1px dashed #00ff00;
		margin: 2px;
	}
	table.big td.day {
		vertical-align: top;
		width: 14%;
		color: #000000;
		border-top: none;
		border-right: 1px dashed #000000;
		border-bottom: 1px dashed #000000;
		border-left: none;
		margin: 2px;
		padding: 3px;
		text-align: left;
		background: #fcfffd;
	}
	table.big td.today {
		vertical-align: top;
		width: 14%;
		color: #000000;
		border: 1px solid #000000;
		margin: 2px;
		padding: 3px;
		text-align: left;
		background: #f1f3f5;
	}
	table.big td.header {
		color: #000000;
		vertical-align: middle;
		background-color: #dedfff;
		border: 1px solid black;
	}
	table.big td.daysHeader {
		background-color: #eeefff;
		vertical-align: middle;
		height: 30px;
		padding: 0px 0px 0px 5px;
	}
	.holiday {
		font-weight: bold;
		border: 1px dotted #999999;
		background-color: #e3f7e5;
	}
	.holiday_today {
		font-weight: bold;
		border: 1px solid #000000;
		background-color: #e3f7e5;
	}
	.weekend {
		background: #fff3f5;
	}
	span.day_number {
		font-size: 14pt;
	}

*/

/*
div.events {
	padding: 2px;
	margin: 5px 0px 0px 20px;
	position: absolute;
	display: none;
	background: white;
	z-index: 1000;
	border: 1px solid black;
	width: 200px;
	}
div.events_brief {
		padding: 1px 0px 0px 1px;
	}
*/

#Utils_Calendar__agenda {
}

#Utils_Calendar__agenda td {
	height: 30px;
	margin-top: 2px;
}

#Utils_Calendar__agenda .button input {
	color: #FFFFFF;
	border: none;
	height: 30px;
	width: 100px;
	
	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
	
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 3px black;
	-moz-box-shadow: 1px 1px 3px black;
	box-shadow: 1px 1px 3px black;
	/* end css3 shadow border*/
	
	/*dark css3 green background gradient */
	background: #226622; /* Old browsers */
	background: -moz-linear-gradient(top, #709c70 0%, #4d844d 49%, #226622 51%, #649464 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#709c70), color-stop(49%,#4d844d), color-stop(51%,#226622), color-stop(100%,#649464)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64B164', endColorstr='#307030',GradientType=0); /* IE6-9 */
	background: linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* W3C */
	/* end dark css3 green background gradient */
}

#Utils_Calendar__agenda .button input:hover {
	/*light css3 green background gradient */
	background: #226622; /* Old browsers */
	background: -moz-linear-gradient(top, #226622 0%, #71b871 1%, #58ab58 49%, #379b37 51%, #63b163 95%, #226622 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#226622), color-stop(1%,#71b871), color-stop(49%,#58ab58), color-stop(51%,#379b37), color-stop(95%,#63b163), color-stop(100%,#226622)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%,#226622 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%,#226622 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%,#226622 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ada5a', endColorstr='#2d602d',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%,#226622 100%); /* W3C */
	/* end light css3 green background gradient */
    color: white;
}

#calendar_event_handlers_trigger {
	height: 26px;
	padding-top: 4px;
}

#Utils_Calendar__agenda .label {
	background-color: #336699;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

#Utils_Calendar__agenda .data {
	/*background-color: #336699;*/
	/*background-image: url('images/header-blue.gif');*/
	background-repeat: repeat-x;
	/*border: 1px solid #B3B3B3;*/
	/*height: 20px;
	width: 220px;*/
}

#Utils_Calendar__agenda .data img {
	vertical-align: middle;
}

#Utils_Calendar__agenda .data input {
	padding: 3px 2px 2px 2px;
	width: 94px;
	display: block;
	float: left;
	height: 30px;
}

#Utils_Calendar__agenda .data input:focus {
	background-color: #FFFFA5;
}

/* Select date */

#Utils_Calendar__agenda .data a.button {
	/*padding-left: 15px;
	padding-right: 25px;*/
	/*padding-right: 20px;*/
	color: #FFFFFF;
	/* background-color: #339933; */
	width: 100px;
    height: 20px;
	display: block;
	float: left;
    border: none;
}

#Utils_Calendar__agenda .data a.button:hover {
}
