/* navigation-menu */

div.navigation-menu {
	padding-bottom: 0px;
	/*border-bottom: 4px solid #B3B3B3;*/
}

div.navigation-menu img {
	vertical-align:top;
}

div.navigation-menu a.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100%;
    height: 26px;
	padding-top: 4px;
    display: block;
    border: 0px;
    text-align: center;
}

div.navigation-menu a.button img {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border: none;
}

div.navigation-menu a.button {line-height:: 0px\0/;}

div.navigation-menu a.button:hover {

}

div.navigation-menu > table {
	width: 98%;
}

div.navigation-menu > table td {
	padding-left: 3px;
	padding-right: 3px;
}

.button_cell {
	width: 115px;
	white-space: nowrap;
	overflow: hidden;
}

/* trash */

.trash_cell {
	width: 145px;
}

div.navigation-menu .trash {
	display: block;
	margin: 5px auto auto 0px;
	padding: 4px;
	height: 32px;
	width: 128px;
	border: 1px solid #F0F0F0;
}

div.navigation-menu .trash .icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
}

div.navigation-menu .trash .text {
	display: block;
	float: left;
	width: 96px;
	height: 32px;
	color: #F0F0F0;
	vertical-align: middle;
	text-align: center;
}

div.navigation-menu .trash:hover {
	background-color: #F0F0F0;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

div.navigation-menu .trash:hover .text {
	color: #777777;
}

div.navigation-menu .trash:hover img {
	padding-top: 1px;
	padding-left: 1px;
}
