.events_drag_handle {
	cursor: move;
}

.no_border {
	border: none;
}

hr.small {
	background: #B3B3B3;
	height: 1px;
	border: 0px;
}

p.event {
	font-size: 7px;
	line-height: 11px;
	margin: 4px 0px 2px 0px;
	position: absolute;
}

.crm_calendar_events_personal__action_icon {
	border: none;
}

.crm_calendar_events_personal__action_link {
	border: none;
}

table.week {
	width: 100%;
	border-right: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
}

table.week td {
	height: 25px;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

table.week td.header {
	border: 1px solid #B3B3B3;
	background: #dedfff;
	width: 10%;
}

table.week td.hours_header {
	width: 20%;
	border: 0px;
	text-align: center;
	color: #339933;
	/*font-weight: bold;*/
	background-color: #FFFFFF;
}

table.week td.hours_header_lower {
	width: 20%;
	vertical-align: top;
	color: #FFFFFF;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: center;
	/*background-color: #E6ECF2;*/
	background-color: #336699;
	padding-top: 4px;
}

table.week td.header_day {
	height: 50px;
	vertical-align: top;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #B3B3B3;
	background-image: url('images/day-header.png');
	background-repeat: repeat-x;
	width: 13%;
	padding-left: 5px;
	padding-right: 5px;
}

table.week td.header_day:hover {
	background-image: url('images/day-header-hover.png');
}

table.week td.header_day a table {
	font-weight: bold;
	font-size: 14px;
	height: 50px;
}

table.week td.header_day_today {
	vertical-align: top;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #CFDAE6;
	background-image: url('images/day-header-today.png');
	background-repeat: repeat-x;
	width: 13%;
	padding-left: 5px;
	padding-right: 5px;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

table.week td.header_day_today a table {
	font-weight: bold;
	font-size: 14px;
	height: 50px;
}

table.week td.header_timeless {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #e6e6cf;
}

table.week td.header_timeless:hover {
	background-color: #e6cfcf
}

table.week td.header_weekday {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	text-align: left;
	background: #fcfffd;
}

table.week td.header_month {
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	background-color: #336699;
	background-image: url('images/header-blue.png');
	background-repeat: repeat-x;
	height: 30px;
	border: 0px;
	border-top: 1px solid #B3B3B3;
	padding-left: 10px;
	width: 80%;
	font-size: 14px;
	font-weight: bold;
}

table.week td.header_month a {
	color: #FFFFFF;
}

table.week td.today {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background: #f1f3f5;
}

table.week td.hour {
	width: 20%;
	vertical-align: top;
	color: #FFFFFF;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: center;
	/*background-color: #CFDAE6;*/
	background-color: #336699;
	padding-top: 2px;
}

table.week td.midday_hour {
	width: 20%;
	vertical-align: top;
	color: #FFFFFF;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: center;
	/*background-color: #E6ECF2;*/
	background-color: #336699;
	padding-top: 2px;
}

table.week td.inter {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #CFDAE6;
	padding: 0px;
}

table.week td.inter:hover {
	background-color: #e6cfcf
}

table.week td.midday_inter {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

table.week td.midday_inter:hover {
	background-color: #e6cfcf
}

/* events */

table.week div.events_brief {
	height: 18px;
	border: 2px solid #339933;
	background-color: #cfe6cf;
	color: #000000;
	font-weight: normal;
	padding: 0px;
	margin: 1px;
}

table.week div.events_brief span {
	height: 18px;
}

table.week .events_icon {
	border: 1px solid #336699;
}

table.week .events_drag_handle {
	cursor: move;
	background-color: #339933;
	width: 18px;
	display: block;
	float: left;
	padding-left: 1px;
	padding-top: 1px;
}

table.week .events_brief_info {
	display: block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
}

table.week .events_more {
	background-color: #339933;
	display: block;
	float: right;
	padding-left: 4px;
	padding-right: 2px;
	padding-top: 1px;
}

/* menu */

div.day-menu {
	padding-bottom: 0px;
}

div.day-menu table {
	width: 100%;
}

div.day-menu img {
	vertical-align: middle;
}

div.day-menu .empty {
	width: 50%;
}

div.day-menu a.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    line-height: 20px;
    height: 20px;
    display: block;
	background-color: #336699;
    background-image: none;
    border: 0px;
    text-align: center;
}

div.day-menu a.button:hover {
	background-color: #339933;
}

div.day-menu .add-info {
	color: #777777;
	padding-right: 20px;
}

div.day-menu .add-info:hover {
	color: #000000;
}
