#calendar_event_handlers_trigger {
	height: 26px;
	padding-top: 4px;
}

#Utils_Calendar__day {
	width: 100%;
	border-right: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#Utils_Calendar__day .hour,
#Utils_Calendar__day .hours_header,
#Utils_Calendar__day .midday_hour,
#Utils_Calendar__day [class^="inter"] {
	height: 29px;
	padding: 0px;
	margin: 0px;
}

/* hours header */

#Utils_Calendar__day .hours_header {
	border: 0px;
	text-align: center;
	color: #339933;
	/*font-weight: bold;*/
	background-color: #FFFFFF;
}

/* header day */

#Utils_Calendar__day .header_day {
	width: 100%;
	border-left: 1px solid #B3B3B3;
	height: 50px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-size: 17px;
	color: #336699;
	vertical-align: middle;

	/* css3 gray gradient - calendar */
	background: #ffffff; /* Old browsers */
	/* end css3 gray gradient - calendar */
}

#Utils_Calendar__day .header_day_weekend {
	width: 100%;
	border-left: 1px solid #B3B3B3;
	height: 50px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-size: 17px;
	color: #336699;
	vertical-align: middle;
	
	/* css3 light blue gradient - calendar */
	background: #fcfdff; /* Old browsers */
	/* end css3 light blue gradient - calendar */
}

/* header month */

#Utils_Calendar__day .header_month {
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	height: 30px;
	padding-left: 10px;
	font-size: 17px;
	font-weight: bold;
	
	/* css3 blue gradient */
	background: #7b9cbd; /* Old browsers */
	/* end css3  gradient */
}

#Utils_Calendar__day .header_month a {
	color: #FFFFFF;
	padding: 5px;
}

#Utils_Calendar__day .header_month a:hover {
	background-color: #336699;
}

/* today */

#Utils_Calendar__day .today {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background: #f1f3f5;
}

/* hour */

#Utils_Calendar__day .hour a {
	color: #FFFFFF;
}

#Utils_Calendar__day .hour {
	width: 90px;
	vertical-align: middle;
	color: #FFFFFF;
	border-top: 1px solid #B3B3B3;
	text-align: center;
	/*background-color: #CFDAE6;*/
	background-color: #336699;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#Utils_Calendar__day .day-row:hover .hour {
	background-color: #339966;
}

/* midday hour */

#Utils_Calendar__day .midday_hour {
	vertical-align: top;
	color: #FFFFFF;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: center;
	/*background-color: #E6ECF2;*/
	background-color: #336699;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

/* inter */

#Utils_Calendar__day .inter {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
/*	background-color: #FFFFFF;*/
	padding: 0px;
}

#Utils_Calendar__day .inter:hover {
	background-color: #e6cfcf
}

#Utils_Calendar__day .inter_weekend {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #E0EDE0;
	padding: 0px;
}

#Utils_Calendar__day .inter_weekend:hover {
	background-color: #e6cfcf
}

/* midday inter */

#Utils_Calendar__day .midday_inter {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

#Utils_Calendar__day .midday_inter:hover {
	background-color: #e6cfcf
}
