#Utils_Calendar__day {
	width: 100%;
	border-right: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
}

#Utils_Calendar__day td {
	height: 29px;
	padding: 0px;
	margin: 0px;
}

/* hours header */

#Utils_Calendar__day td.hours_header {
	border: 0px;
	text-align: center;
	color: #339933;
	/*font-weight: bold;*/
	background-color: #FFFFFF;
}

/* header day */

#Utils_Calendar__day td.header_day {
	width: 100%;
	border-left: 1px solid #B3B3B3;
	height: 50px;
	text-align: center;
	background-color: #B3B3B3;
	background-image: url('images/day-header.png');
	background-repeat: repeat-x;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-size: 14px;
	color: #336699;
	vertical-align: middle;
}

#Utils_Calendar__day td.header_day_weekend {
	width: 100%;
	border-left: 1px solid #B3B3B3;
	height: 50px;
	text-align: center;
	background-color: #B3B3B3;
	background-image: url('images/day-header-weekend.png');
	background-repeat: repeat-x;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-size: 14px;
	color: #336699;
	vertical-align: middle;
}

/* header month */

#Utils_Calendar__day td.header_month {
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	background-color: #336699;
	background-image: url('images/header-blue-30px.png');
	background-repeat: repeat-x;
	height: 30px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
}

#Utils_Calendar__day td.header_month a {
	color: #FFFFFF;
	padding: 5px;
}

#Utils_Calendar__day td.header_month a:hover {
	background-color: #336699;
}

/* today */

#Utils_Calendar__day td.today {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background: #f1f3f5;
}

/* hour */

#Utils_Calendar__day td.hour span a {
	color: #FFFFFF;
}

#Utils_Calendar__day td.hour {
	vertical-align: middle;
	color: #FFFFFF;
	border-top: 1px solid #B3B3B3;
	text-align: center;
	/*background-color: #CFDAE6;*/
	background-color: #336699;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#Utils_Calendar__day tr:hover td.hour {
	background-color: #339966;
}

/* midday hour */

#Utils_Calendar__day td.midday_hour {
	vertical-align: top;
	color: #FFFFFF;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: center;
	/*background-color: #E6ECF2;*/
	background-color: #336699;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

/* inter */

#Utils_Calendar__day td.inter {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #FFFFFF;
	padding: 0px;
}

#Utils_Calendar__day td.inter:hover {
	background-color: #e6cfcf
}

#Utils_Calendar__day td.inter_weekend {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #E0EDE0;
	padding: 0px;
}

#Utils_Calendar__day td.inter_weekend:hover {
	background-color: #e6cfcf
}

/* midday inter */

#Utils_Calendar__day td.midday_inter {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

#Utils_Calendar__day td.midday_inter:hover {
	background-color: #e6cfcf
}

/* menu */

div.day-menu {
	padding-bottom: 0px;
}

div.day-menu table.day-menu {
	width: 100%;
}

div.day-menu table.day-menu td {
	padding-left: 2px;
	padding-right: 2px;
}

div.day-menu img {
	vertical-align: middle;
}

div.day-menu .empty {
	width: 50%;
}

div.day-menu a.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    line-height: 20px;
    height: 20px;
    display: block;
    background-image: url('images/button.gif');
    border: 0px;
    text-align: center;
}

div.day-menu a.button:hover {
	background-image: url('images/button-hover.gif');
}

/* trash */

div.day-menu .trash {
	display: block;
	margin-left: 20px;
	padding: 3px;
	height: 32px;
	width: 128px;
	border: 1px solid #F0F0F0;
}

div.day-menu .trash .icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
}

div.day-menu .trash .text {
	display: block;
	float: left;
	width: 96px;
	height: 32px;
	color: #F0F0F0;
	vertical-align: middle;
	text-align: center;
}

div.day-menu .trash:hover {
	background-color: #F0F0F0;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

div.day-menu .trash:hover .text {
	color: #777777;
}

div.day-menu .trash:hover img {
	padding-top: 1px;
	padding-left: 1px;
}
