#Utils_Calendar div.day {
	color: blue;
	display: block;
	height: 1.3em;
	text-decoration: none;
	margin: 1px;
	text-align: center;
	vertical-align: center;
}
#Utils_Calendar div.month {
	color: blue;
	display: block;
	height: 1.3em;
	text-decoration: none;
	margin: 1;
	text-align: center;
	vertical-align: center;
}
#Utils_Calendar table.small {
		border: 1px solid #000000;
		padding: 0 0 0 0;
		width: 100%;
	}
#Utils_Calendar table.small td {
		border: 1px solid transparent;
		padding: 1;
		text-align: center;
	}
	
#Utils_Calendar table.small td.daysHeader {
		width: 2.3em;
		text-align: center;
		background: #eeefff;
		text-align: center;
	}
#Utils_Calendar table.small td.empty {
		background: #ffffff;
	}
#Utils_Calendar table.small td.today {
		border: 1px solid #000000;
		text-align: center;
	}
#Utils_Calendar table.small td.spacerTop {
		height: 0px;
		margin: 0 0 0 0;
		background: #ffffff;
		border-top: 1px solid #000000;
	}

div.utils_calendar_popup {
	background-color: white;
	border: 1px solid gray;
}
