#Utils_Calendar__event {
    display: block;
    height: 36px;
	margin: 1px;
	border: 2px solid #339933;
	background-color: #cfe6cf;
	background-image: url('images/header-light-green.png');
    background-repeat: repeat-x;
}

#Utils_Calendar__event div.row {
    display: block;
    height: 18px;
}

#Utils_Calendar__event #event_grab {
    display: block;
    float: left;
    cursor: move;
    padding-top: 2px;
    padding-right: 2px;
    background-color: #339933;
}

#Utils_Calendar__event #event_time {
    display: block;
    float: left;
    padding-left: 5px;
}

#Utils_Calendar__event #event_title {
    display: block;
    color: black;
    padding-top: 2px;
    text-align: center;
}

#Utils_Calendar__event #event_menu {
    width: 106px;
    height: 36px;
    display: none;
    position: absolute;
    top: 0px;
    left: 1px;
    z-index: 5;
}

#Utils_Calendar__event #event_menu_content {
    display: block;
    width: 80px;
    height: 20px;
	background-color: #e6ecf2;
    padding-left: 3px;
    padding-right: 3px;
}

#Utils_Calendar__event #event_menu_content img {
    padding: 3px;
}

#Utils_Calendar__event #event_menu_content img:hover {
    background-color: white;
}

#Utils_Calendar__event #event_info {
    display: block;
    float: right;
    padding-top: 2px;
    padding-left: 2px;
    background-color: #339933;
    cursor: help;
}

#Utils_Calendar__event #event_info:hover {
}
