#Utils_Calendar__event_tip2 {
    width: 200px;    
}

#Utils_Calendar__event_tip2 .title {
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}