#Utils_Calendar__event_tip {
    width: 200px;    
}

#Utils_Calendar__event_tip .label {
    font-weight: bold;
}

#Utils_Calendar__event_tip .info {
    background-color: white;
    text-align: center;
}