#Utils_Calendar__event_tip {
    width: 200px;    
}

#Utils_Calendar__event_tip .epesi-rv-row {
    display: flex;
}

#Utils_Calendar__event_tip .label {
    flex: 0 0 auto;
    margin-right: 4px;
    font-weight: bold;
}

#Utils_Calendar__event_tip .data {
    flex: 1 1 auto;
}

#Utils_Calendar__event_tip .info {
    background-color: white;
    text-align: center;
}

#Utils_Calendar__event_tip .title {
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}