@CHARSET "ISO-8859-1";

/* ???
p.event {
	font-size: 7px;
	line-height: 11px;
	margin: 4px 0px 2px 0px;
	position: absolute;
}
*/

/* Utils_Calendar__month */

table#Utils_Calendar__month {
	width: 100%;
	border-left: 1px solid #B3B3B3;
	border-top: 1px solid #B3B3B3;
	background-color: #336699;
}

table#Utils_Calendar__month td.empty {
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	background-color: #F0F0F0;
}

/* day */

table#Utils_Calendar__month td.day {
	vertical-align: top;
	text-align: left;
	width: 14%;
	height: 50px;
	padding: 1px 2px 1px 2px;
	border-bottom: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
}

table#Utils_Calendar__month td.current {
	color: #000000;
	background-color: #FFFFFF;
}

table#Utils_Calendar__month td.current a {
	font-size: 14px;
}

table#Utils_Calendar__month td.other {
	color: #B3B3B3;
	background-color: #F0F0F0;
}

table#Utils_Calendar__month td.other a {
	font-size: 14px;
	color: #B3B3B3;
}

table#Utils_Calendar__month td.today:hover,
table#Utils_Calendar__month td.current:hover {
	background-color: #e6cfcf
}

table#Utils_Calendar__month td.today {
	/*background-color: #CFDAE6;*/
	background-color: #E6ECF2;
	border: 2px solid #336699;
}

/* header */

table#Utils_Calendar__month td.header {
	color: #FFFFFF;
	height: 20px;
	vertical-align: middle;
	background-color: #336699;
	background-image: url('images/header-blue.png');
	background-repeat: repeat-x;
	padding-left: 5px;
	border-left: 1px solid #FFFFFF;
}

table#Utils_Calendar__month td.week-number {
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	background-color: #336699;
	border-top: 1px solid #FFFFFF;
}

table#Utils_Calendar__month td.week-number a {
	color: #FFFFFF;
	display: block;
	line-height: 50px;
	width: 20px;
}

table#Utils_Calendar__month td.week-number a:hover {
	background-color: #339933;
}
/*
span.day-number {
	font-size: 14px;
}
*/
/* ???
	.holiday {
		font-weight: bold;
		border: 1px dotted #999999;
		background-color: #e3f7e5;
	}
	.holiday_today {
		font-weight: bold;
		border: 1px solid #000000;
		background-color: #e3f7e5;
	}
	.weekend {
		background: #fff3f5;
	}
	a.new_event {
		padding: 0px 4px 0px 4px;
		border: 1px solid transparent;
		margin: 15px;
		text-decoration: none;
	}
*/

/* event */

table#Utils_Calendar__month div.events_brief {
	height: 18px;
	border: 2px solid #339933;
	background-color: #cfe6cf;
	color: #000000;
	font-weight: normal;
	padding: 0px;
	margin: 1px;
}

table#Utils_Calendar__month div.events_brief span {
	height: 18px;
}

table#Utils_Calendar__month .events_icon {
	border: 1px solid #336699;
}

table#Utils_Calendar__month .events_drag_handle {
	cursor: move;
	background-color: #339933;
	width: 18px;
	display: block;
	float: left;
	padding-left: 1px;
	padding-top: 1px;
}

table#Utils_Calendar__month .events_brief_info {
	display: block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
}

table#Utils_Calendar__month .events_more {
	background-color: #339933;
	display: block;
	float: right;
	padding-left: 4px;
	padding-right: 2px;
	padding-top: 1px;
}

/* month-header */

table#Utils_Calendar__month .month-header {
	color: #FFFFFF;
	vertical-align: middle;
	background-color: #336699;
	background-image: url('images/header-blue.png');
	background-repeat: repeat-x;
	height: 30px;
	padding-left: 10px;
	border-bottom: 1px solid #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

/* month-menu */

#month-menu {
	padding-bottom: 0px;
	/*border-bottom: 4px solid #B3B3B3;*/
}

#month-menu table {
	width: 100%;
}

#month-menu img {
	vertical-align: middle;
}

#month-menu .empty {
	width: 50%;
}

#month-menu .add-info {
	color: #777777;
	padding-right: 20px;
}

#month-menu .add-info:hover {
	color: #000000;
}

#month-menu a.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    line-height: 20px;
    display: block;
	background-color: #336699;
    /*background-image: url("images/header-blue.png");*/
    background-image: none;
    border: 0px;
    text-align: center;
}

#month-menu a.button:hover {
	background-color: #339933;
    /*background-image: url("images/header-blue-hover.png");*/
}
