@CHARSET "ISO-8859-1";

/* Utils_Calendar__month */

table#Utils_Calendar__month {
	width: 100%;
	background-color: #336699;
}

table#Utils_Calendar__month td.empty {
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	background-color: #F0F0F0;
}

/* day */

table#Utils_Calendar__month td.day {
	vertical-align: top;
	text-align: left;
	width: 14%;
	height: 50px;
	padding: 1px 2px 1px 2px;
	border-bottom: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
}

table#Utils_Calendar__month a.day_link {
	font-size: 14px;
	font-weight: bold;
	padding-left: 2px;
	padding-top: 2px;
}

table#Utils_Calendar__month td.current {
	color: #000000;
	background-color: #FFFFFF;
}

table#Utils_Calendar__month td.other {
	color: #B3B3B3;
	background-color: #F0F0F0;
}

table#Utils_Calendar__month td.today {
	/*background-color: #CFDAE6;*/
	background-color: #E6ECF2;
	border: 2px solid #336699;
}

table#Utils_Calendar__month td.current_weekend {
	color: #000000;
	background-color: #E0EDE0;
}

table#Utils_Calendar__month td.current_weekend a {
	color: #338833;
}

table#Utils_Calendar__month td.today_weekend a {
	color: #338833;
}

table#Utils_Calendar__month td.other_weekend {
	color: #B3B3B3;
	background-color: #D7DDE3;
}

table#Utils_Calendar__month td.today_weekend {
	background-color: #CCFFCC;
	border: 2px solid #336699;
}

table#Utils_Calendar__month td.other a.day_link {
	color: #B3B3B3;
}

table#Utils_Calendar__month td.other_weekend a.day_link {
	color: #B3B3B3;
}

table#Utils_Calendar__month td.today_weekend:hover,
table#Utils_Calendar__month td.current_weekend:hover,
table#Utils_Calendar__month td.today:hover,
table#Utils_Calendar__month td.current:hover {
	background-color: #e6cfcf
}

/* header */

table#Utils_Calendar__month td.day_header {
	color: #336699;
	font-weight: bold;
	font-size: 12px;
	height: 30px;
	vertical-align: middle;
	background-color: #336699;
	background-image: url('images/header-gray-30px.png');
	background-repeat: repeat-x;
	padding-left: 5px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #B3B3B3;
	border-bottom: 2px solid #FFFFFF;
}

table#Utils_Calendar__month td.weekend_day_header {
	color: #005505;
	font-weight: bold;
	font-size: 12px;
	height: 30px;
	vertical-align: middle;
	background-color: #336699;
	background-image: url('images/day-header-weekend.png');
	/* background-image: url('images/header-green-30px.png'); */
	background-repeat: repeat-x;
	padding-left: 5px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #B3B3B3;
	border-bottom: 2px solid #ACD2AC;
}

table#Utils_Calendar__month td.week-number {
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	background-color: #336699;
	border-bottom: 1px solid #FFFFFF;
}

table#Utils_Calendar__month td.week-number a {
	color: #FFFFFF;
	display: block;
	line-height: 50px;
	width: 20px;
}

table#Utils_Calendar__month td.week-number a:hover {
	background-color: #339933;
}

/* event */

table#Utils_Calendar__month div.events_brief {
	height: 18px;
	border: 2px solid #339933;
	background-color: #cfe6cf;
	color: #000000;
	font-weight: normal;
	padding: 0px;
	margin: 1px;
}

table#Utils_Calendar__month div.events_brief span {
	height: 18px;
}

table#Utils_Calendar__month .events_icon {
	border: 1px solid #336699;
}

table#Utils_Calendar__month .events_drag_handle {
	cursor: move;
	background-color: #339933;
	width: 18px;
	display: block;
	float: left;
	padding-left: 1px;
	padding-top: 1px;
}

table#Utils_Calendar__month .events_brief_info {
	display: block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
}

table#Utils_Calendar__month .events_more {
	background-color: #339933;
	display: block;
	float: right;
	padding-left: 4px;
	padding-right: 2px;
	padding-top: 1px;
}

/* month-header */

table#Utils_Calendar__month .month-header {
	color: #FFFFFF;
	vertical-align: middle;
	background-color: #336699;
	background-image: url('images/header-blue-30px.png');
	background-repeat: repeat-x;
	height: 30px;
	padding-left: 10px;
	border-bottom: 1px solid #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

table#Utils_Calendar__month .month-header a {
	color: #FFFFFF;
	padding: 6px;
}

table#Utils_Calendar__month .month-header a:hover {
	background-color: #336699;
}

/* month-menu */

#month-menu {
	padding-bottom: 0px;
	/*border-bottom: 4px solid #B3B3B3;*/
}

#month-menu table.month-menu {
	width: 100%;
}

#month-menu table.month-menu td {
	padding-left: 2px;
	padding-right: 2px;
}

#month-menu img {
	vertical-align: middle;
}

#month-menu .empty {
	width: 50%;
}

#month-menu a.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    line-height: 20px;
    display: block;
    background-image: url('images/button.gif');
    border: 0px;
    text-align: center;
}

#month-menu a.button:hover {
	background-image: url('images/button-hover.gif');
}

/* trash */

#month-menu .trash {
	display: block;
	margin-left: 20px;
	padding: 3px;
	height: 32px;
	width: 128px;
	border: 1px solid #F0F0F0;
}

#month-menu .trash .icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
}

#month-menu .trash .text {
	display: block;
	float: left;
	width: 96px;
	height: 32px;
	color: #F0F0F0;
	vertical-align: middle;
	text-align: center;
}

#month-menu .trash:hover {
	background-color: #F0F0F0;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

#month-menu .trash:hover .text {
	color: #777777;
}

#month-menu .trash:hover img {
	padding-top: 1px;
	padding-left: 1px;
}