@CHARSET "ISO-8859-1";
#calendar_event_handlers_trigger {
	height: 26px;
	padding-top: 4px;
}

/* Utils_Calendar__month */

table#Utils_Calendar__month {
	width: 100%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
/*	background-color: #336699;
*/
}

table#Utils_Calendar__month td.empty {
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	background-color: #F0F0F0;
}

/* day */

table#Utils_Calendar__month td.day {
	vertical-align: top;
	text-align: left;
	width: 14%;
	height: 50px;
	padding: 1px 2px 1px 2px;
	border-bottom: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
}

table#Utils_Calendar__month a.day_link {
	font-size: 17px;
	font-weight: bold;
	padding-left: 2px;
	padding-top: 2px;
}

table#Utils_Calendar__month td.current {
	color: #000000;
	background-color: #FFFFFF;
}

table#Utils_Calendar__month td.current div.inner {
    width: 100%;
    min-height: 50px;
}

table#Utils_Calendar__month td.other {
	color: #B3B3B3;
	background-color: #F0F0F0;
}

table#Utils_Calendar__month td.other div.inner {
    width: 100%;
    min-height: 50px;
}

table#Utils_Calendar__month td.today {
	border: 2px solid #336699;
	background-color: #E6ECF2;
}

table#Utils_Calendar__month td.today div.inner {
    width: 100%;
    min-height: 50px;
}

table#Utils_Calendar__month td.current_weekend {
	color: #000000;
	background-color: #E0EDE0;
}

table#Utils_Calendar__month td.current_weekend div.inner {
    width: 100%;
    min-height: 50px;
}

table#Utils_Calendar__month td.current_weekend a {
	color: #338833;
}

table#Utils_Calendar__month td.today_weekend a {
	color: #338833;
}

table#Utils_Calendar__month td.other_weekend {
	color: #B3B3B3;
	background-color: #D7DDE3;
}

table#Utils_Calendar__month td.other_weekend div.inner {
    width: 100%;
    min-height: 50px;
}


table#Utils_Calendar__month td.today_weekend {
	border: 2px solid #336699;
	background-color: #CCFFCC;
}

table#Utils_Calendar__month td.other_weekend div.inner {
    width: 100%;
    min-height: 50px;
}

table#Utils_Calendar__month td.other a.day_link {
	color: #B3B3B3;
}

table#Utils_Calendar__month td.other_weekend a.day_link {
	color: #B3B3B3;
}

table#Utils_Calendar__month td.today_weekend:hover,
table#Utils_Calendar__month td.current_weekend:hover,
table#Utils_Calendar__month td.today:hover,
table#Utils_Calendar__month td.current:hover {
	background-color: #e6cfcf !important;
}

/* header */

table#Utils_Calendar__month td.day_header {
	color: #336699;
	font-weight: bold;
	font-size: 14px;
	height: 30px;
	vertical-align: middle;
	padding-left: 5px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #B3B3B3;
	border-bottom: 2px solid #FFFFFF;

	/* css3 gray gradient - calendar */
	background: #ffffff; /* Old browsers */
	/* end css3 gray gradient - calendar */
}

table#Utils_Calendar__month td.weekend_day_header {
	color: #005505;
	font-weight: bold;
	font-size: 14px;
	height: 30px;
	vertical-align: middle;
	padding-left: 5px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #B3B3B3;
	border-bottom: 2px solid #ACD2AC;

	/* css3 light blue gradient - calendar */
	background: #fcfdff; /* Old browsers */
	/* end css3 light blue gradient - calendar */
}

table#Utils_Calendar__month td.week-number {
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	background-color: #336699;
	border-bottom: 1px solid #FFFFFF;
	width: 30px;
}

table#Utils_Calendar__month td.week-number a {
	color: #FFFFFF;
	display: block;
	line-height: 50px;
	width: 100%;
}

table#Utils_Calendar__month td.week-number a:hover {
	background-color: #339933;
}

/* event */

table#Utils_Calendar__month div.events_brief {
	height: 18px;
	border: 2px solid #339933;
	background-color: #cfe6cf;
	color: #000000;
	font-weight: normal;
	padding: 0px;
	margin: 1px;
}

table#Utils_Calendar__month div.events_brief span {
	height: 18px;
}

table#Utils_Calendar__month .events_icon {
	border: 1px solid #336699;
}

table#Utils_Calendar__month .events_drag_handle {
	cursor: move;
	background-color: #339933;
	width: 18px;
	display: block;
	float: left;
	padding-left: 1px;
	padding-top: 1px;
}

table#Utils_Calendar__month .events_brief_info {
	display: block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
}

table#Utils_Calendar__month .events_more {
	background-color: #339933;
	display: block;
	float: right;
	padding-left: 4px;
	padding-right: 2px;
	padding-top: 1px;
}

/* month-header */

table#Utils_Calendar__month .month-header {
	color: #FFFFFF;
	vertical-align: middle;
	height: 30px;
	padding-left: 10px;
	border-bottom: 1px solid #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	
	/* css3 blue gradient */
	background: #7b9cbd; /* Old browsers */
	/* end css3  gradient */
}

table#Utils_Calendar__month .month-header a {
	color: #FFFFFF;
	padding: 6px;
}

table#Utils_Calendar__month .month-header a:hover {
	background-color: #336699;
}
