@CHARSET "ISO-8859-1";

#Utils_Calendar__week {
	width: 100%;
	border-right: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
}

#Utils_Calendar__week td {
	height: 25px;
}

#Utils_Calendar__week td.hours_header {
	width: 9%;
	border: 0px;
	text-align: center;
	color: #339933;
	/*font-weight: bold;*/
	border: 0px;
	background-color: #FFFFFF;
}

/* header day other */

#Utils_Calendar__week td.header_day_other {
	vertical-align: middle;
	border-left: 1px solid #FFFFFF;
	text-align: left;
	background-color: #b3b3b3;
	background-image: url('images/day-header.png');
	background-repeat: repeat-x;
	width: 13%;
	padding-left: 5px;
	padding-right: 5px;
}

#Utils_Calendar__week td.header_day_other:hover {
	background-image: url('images/day-header-hover.png');
}

#Utils_Calendar__week td.header_day_other a {
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 50px;
}

/* header day today */

#Utils_Calendar__week td.header_day_today {
	vertical-align: middle;
	font-size: 14px;
	text-align: left;
	background-color: #CFDAE6;
	background-image: url('images/day-header-today.png');
	background-repeat: repeat-x;
	width: 13%;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

#Utils_Calendar__week td.header_day_today:hover {
	background-image: url('images/day-header-today-hover.png');
}

#Utils_Calendar__week td.header_day_today a {
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 50px;
}

/* weekend */

#Utils_Calendar__week .weekend {
	background-image: url('images/day-header-weekend.png');
}

#Utils_Calendar__week .weekend:hover {
	background-image: url('images/day-header-weekend-hover.png');
}

/* header month */

#Utils_Calendar__week td.header_month {
	color: #FFFFFF;
	vertical-align: middle;
	background-color: #336699;
	background-image: url('images/header-blue.png');
	background-repeat: repeat-x;
	height: 30px;
	border-left: 1px solid #FFFFFF;
	/*border-right: 1px solid #FFFFFF;*/
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#Utils_Calendar__week td.header_month a {
	color: #FFFFFF;
}

#Utils_Calendar__week td.hour {
	width: 9%;
	vertical-align: top;
	color: #FFFFFF;
	border-top: 1px solid #B3B3B3;
	text-align: center;
	/*background-color: #CFDAE6;*/
	background-color: #336699;
	padding-top: 2px;
}

#Utils_Calendar__week td.inter_other {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #FFFFFF;
	padding: 0px;
	cursor: pointer;
}

#Utils_Calendar__week td.inter_other:hover {
	background-color: #e6cfcf
}

#Utils_Calendar__week td.inter_today {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #CFDAE6;
	padding: 0px;
	cursor: pointer;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

#Utils_Calendar__week td.inter_today:hover {
	background-color: #e6cfcf
}

/* menu */

div.week-menu {
	padding-bottom: 0px;
	/*border-bottom: 4px solid #B3B3B3;*/
}

div.week-menu img {
	vertical-align: middle;
}

div.week-menu a.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    line-height: 20px;
    display: block;
	background-color: #336699;
    /*background-image: url("images/header-blue.png");*/
    background-image: none;
    border: 0px;
    text-align: center;
}

div.week-menu a.button:hover {
	background-color: #339933;
    /*background-image: url("images/header-blue-hover.png");*/
}

div.week-menu table {
	width: 100%;
}

div.week-menu .empty {
	width: 50%;
}

div.week-menu .add-info {
	color: #777777;
	padding-right: 20px;
}

div.week-menu .add-info:hover {
	color: #000000;
}

/* trash */

div.week-menu .trash {
	display: block;
	margin-left: 20px;
	padding: 3px;
	height: 32px;
	width: 128px;
	border: 1px solid #F0F0F0;
}

div.week-menu .trash .icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
}

div.week-menu .trash .text {
	display: block;
	float: left;
	width: 96px;
	height: 32px;
	color: #F0F0F0;
	vertical-align: middle;
	text-align: center;
}

div.week-menu .trash:hover {
	background-color: #F0F0F0;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

div.week-menu .trash:hover .text {
	color: #777777;
}

div.week-menu .trash:hover img {
	padding-top: 1px;
	padding-left: 1px;
}