@CHARSET "ISO-8859-1";

#Utils_Calendar__week {
	width: 100%;
	border-right: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
}

#Utils_Calendar__week td {
	height: 29px;
}

#Utils_Calendar__week td.hours_header {
	border: 0px;
	text-align: center;
	color: #339933;
	/*font-weight: bold;*/
	background-color: #FFFFFF;
}

/* header day other */

#Utils_Calendar__week td.header_day_other {
	vertical-align: middle;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #B3B3B3;
	width: 14%;
	padding: 0px;
}

#Utils_Calendar__week td.header_day_other a {
	display: block;
	font-weight: bold;
	font-size: 14px;
	background-image: url('images/day-header.png');
	background-repeat: repeat-x;
	line-height: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

#Utils_Calendar__week td.header_day_other a:hover {
	background-image: url('images/day-header-hover.png');
}

/* header day other weekend */

#Utils_Calendar__week td.header_day_other_weekend {
	vertical-align: middle;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #B3B3B3;
	width: 14%;
	padding: 0px;
}

#Utils_Calendar__week td.header_day_other_weekend a {
	display: block;
	color: #226630;
	font-weight: bold;
	font-size: 14px;
	background-image: url('images/day-header-weekend.png');
	background-repeat: repeat-x;
	line-height: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

#Utils_Calendar__week td.header_day_other_weekend a:hover {
	background-image: url('images/day-header-weekend-hover.png');
}

/* header day today */

#Utils_Calendar__week td.header_day_today {
	vertical-align: middle;
	font-size: 14px;
	width: 14%;
	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
	padding: 0px;
}

#Utils_Calendar__week td.header_day_today a {
	display: block;
	font-weight: bold;
	font-size: 14px;
	background-color: #CFDAE6;
	background-image: url('images/day-header-today.png');
	background-repeat: repeat-x;
	line-height: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

#Utils_Calendar__week td.header_day_today a:hover {
	background-image: url('images/day-header-today-hover.png');
}

/* header day today weekend */

#Utils_Calendar__week td.header_day_today_weekend {
	vertical-align: middle;
	font-size: 14px;
	width: 14%;
	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
	padding: 0px;
}

#Utils_Calendar__week td.header_day_today_weekend a {
	display: block;
	color: #226630;
	font-weight: bold;
	font-size: 14px;
	background-color: #CFDAE6;
	background-image: url('images/day-header-weekend.png');
	background-repeat: repeat-x;
	line-height: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

#Utils_Calendar__week td.header_day_today_weekend a:hover {
	background-image: url('images/day-header-weekend-hover.png');
}

/* header month */

#Utils_Calendar__week td.header_month {
	color: #FFFFFF;
	vertical-align: middle;
	background-color: #336699;
	background-image: url('images/header-blue-30px.png');
	background-repeat: repeat-x;
	height: 30px;
	border-right: 1px solid #FFFFFF;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#Utils_Calendar__week td.header_month a {
	color: #FFFFFF;
	padding: 5px;
}

#Utils_Calendar__week td.header_month a:hover {
	background-color: #336699;
}

/* hour */

#Utils_Calendar__week td.hour span a {
	color: #FFFFFF;
}

#Utils_Calendar__week td.hour {
	vertical-align: middle;
	color: #FFFFFF;
	border-top: 1px solid #B3B3B3;
	text-align: center;
	/*background-color: #CFDAE6;*/
	background-color: #336699;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#Utils_Calendar__week tr:hover td.hour {
	background-color: #339966;
}

/* inter */

#Utils_Calendar__week td.inter_other {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #FFFFFF;
	padding: 0px;
	cursor: pointer;
}

#Utils_Calendar__week td.inter_other:hover {
	background-color: #e6cfcf
}

#Utils_Calendar__week td.inter_other_weekend {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #E0EDE0;
	padding: 0px;
	cursor: pointer;
}

#Utils_Calendar__week td.inter_other_weekend:hover {
	background-color: #e6cfcf
}

#Utils_Calendar__week td.inter_today {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	/*background-color: #CFDAE6;*/
	background-color: #e6ecf2;
	padding: 0px;
	cursor: pointer;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

#Utils_Calendar__week td.inter_today:hover {
	background-color: #e6cfcf;
}

#Utils_Calendar__week td.inter_today_weekend {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	/*background-color: #CFDAE6;*/
	background-color: #E6ECF2;
	padding: 0px;
	cursor: pointer;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

#Utils_Calendar__week td.inter_today_weekend:hover {
	background-color: #e6cfcf;
}

/* menu */

div.week-menu {
	padding-bottom: 0px;
	/*border-bottom: 4px solid #B3B3B3;*/
}

div.week-menu img {
	vertical-align: middle;
}

div.week-menu a.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    line-height: 20px;
    display: block;
	background-image: url('images/button.gif');
    border: 0px;
    text-align: center;
}

div.week-menu a.button:hover {
    background-image: url('images/button-hover.gif');
}

div.week-menu table.week-menu {
	width: 100%;
}

div.week-menu table.week-menu td {
	padding-left: 2px;
	padding-right: 2px;
}

div.week-menu .empty {
	width: 50%;
}

/* trash */

div.week-menu .trash {
	display: block;
	margin-left: 20px;
	padding: 4px;
	height: 32px;
	width: 128px;
	border: 1px solid #F0F0F0;
}

div.week-menu .trash .icon {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
}

div.week-menu .trash .text {
	display: block;
	float: left;
	width: 96px;
	height: 32px;
	color: #F0F0F0;
	vertical-align: middle;
	text-align: center;
}

div.week-menu .trash:hover {
	background-color: #F0F0F0;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

div.week-menu .trash:hover .text {
	color: #777777;
}

div.week-menu .trash:hover img {
	padding-top: 1px;
	padding-left: 1px;
}
