@CHARSET "ISO-8859-1";

/*
p.event {
	font-size: 7px;
	line-height: 11px;
	margin: 4px 0px 2px 0px;
	position: absolute;
}
*/

/* CRM week calendar */

#Utils_Calendar__week {
	width: 100%;
	border-right: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
}

#Utils_Calendar__week td {
	height: 25px;
	vertical-align: middle;
}

#Utils_Calendar__week td.today {
	background-color: red;
}

#Utils_Calendar__week td.hours_header {
	width: 9%;
	border: 0px;
	text-align: center;
	color: #339933;
	/*font-weight: bold;*/
	border: 0px;
	background-color: #FFFFFF;
}

#Utils_Calendar__week td.hours_header_lower {
	width: 9%;
	vertical-align: top;
	color: #FFFFFF;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	text-align: center;
	background-color: #336699;
	padding-top: 4px;
}

#Utils_Calendar__week td.header_day {
	height: 50px;
	vertical-align: middle;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #b3b3b3;
	background-image: url('images/day-header.png');
	background-repeat: repeat-x;
	width: 13%;
	padding-left: 5px;
	padding-right: 5px;
}

#Utils_Calendar__week td.header_day:hover {
	background-image: url('images/day-header-hover.png');
}

#Utils_Calendar__week td.header_day a {
	font-weight: bold;
	font-size: 14px;
	height: 50px;
}

#Utils_Calendar__week td.header_day_today {
	vertical-align: top;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #CFDAE6;
	background-image: url('images/day-header-today.png');
	background-repeat: repeat-x;
	width: 13%;
	padding-left: 5px;
	padding-right: 5px;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

#Utils_Calendar__week td.header_day_today:hover {
	background-image: url('images/day-header-today-hover.png');
}

#Utils_Calendar__week td.header_day_today a table {
	font-weight: bold;
	font-size: 14px;
	height: 50px;
}

#Utils_Calendar__week .weekend {
	background-image: url('images/day-header-weekend.png');
}

#Utils_Calendar__week .weekend:hover {
	background-image: url('images/day-header-weekend-hover.png');
}

#Utils_Calendar__week td.header_timeless {
	vertical-align: top;
	color: #000000;
	border-left: 1px solid #B3B3B3;
	border-top: 1px solid #FFFFFF;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #e6e6cf;
	padding: 0px;
	cursor: pointer;
}

#Utils_Calendar__week td.header_timeless:hover {
	background-color: #e6cfcf
}

#Utils_Calendar__week td.header_timeless_today {
	vertical-align: top;
	color: #000000;
	border-left: 1px solid #B3B3B3;
	border-top: 1px solid #FFFFFF;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #e6e6cf;
	padding: 0px;
	cursor: pointer;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

#Utils_Calendar__week td.header_timeless_today:hover {
	background-color: #e6cfcf
}

#Utils_Calendar__week td.header_weekday {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	text-align: left;
	background: #fcfffd;
}

#Utils_Calendar__week td.header_month {
	color: #FFFFFF;
	vertical-align: middle;
	background-color: #336699;
	background-image: url('images/header-blue.png');
	background-repeat: repeat-x;
	height: 30px;
	border-left: 1px solid #FFFFFF;
	/*border-right: 1px solid #FFFFFF;*/
	padding-left: 10px;
	border-top: 1px solid #B3B3B3;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#Utils_Calendar__week td.header_month a {
	color: #FFFFFF;
}

#Utils_Calendar__week td.hour {
	width: 9%;
	vertical-align: top;
	color: #FFFFFF;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	text-align: center;
	/*background-color: #CFDAE6;*/
	background-color: #336699;
	padding-top: 2px;
}

#Utils_Calendar__week td.midday_hour {
	width: 9%;
	vertical-align: top;
	color: #FFFFFF;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	text-align: center;
	/*background-color: #E6ECF2;*/
	background-color: #336699;
	padding-top: 2px;
}

#Utils_Calendar__week td.inter {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #CFDAE6;
	padding: 0px;
	cursor: pointer;
}

#Utils_Calendar__week td.inter:hover {
	background-color: #e6cfcf
}

#Utils_Calendar__week td.inter_today {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #CFDAE6;
	padding: 0px;
	cursor: pointer;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

#Utils_Calendar__week td.inter_today:hover {
	background-color: #e6cfcf
}

#Utils_Calendar__week td.midday_inter {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

#Utils_Calendar__week td.midday_inter:hover {
	background-color: #e6cfcf
}

#Utils_Calendar__week td.midday_inter_today {
	vertical-align: top;
	color: #000000;
	border: 1px solid #B3B3B3;
	border-right: 0px;
	border-bottom: 0px;
	text-align: left;
	padding: 0px;
	margin: 0px;
	background-color: #E6ECF2;
	cursor: pointer;

	border-left: 2px solid #336699;
	border-right: 2px solid #336699;
}

#Utils_Calendar__week td.midday_inter_today:hover {
	background-color: #e6cfcf
}

/* event */

#Utils_Calendar__week .events_brief {
	border: 2px solid #339933;
	background-color: #cfe6cf;
	padding: 0px;
	margin: 1px;
}

#Utils_Calendar__week .events_icon {
	border: 1px solid #336699;
}

#Utils_Calendar__week .events_drag_handle {
	cursor: move;
	background-color: #339933;
	display: block;
	float: left;
	padding: 0px 2px 2px 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#Utils_Calendar__week .events_brief_info_time {
	background-color: #cfe6cf;
	display: block;
	padding: 2px;
	min-height: 14px;
	text-align: center;
	/*background-image: url('images/header-light-green-hover.png');
	background-repeat: repeat-x;*/
}

#Utils_Calendar__week .events_brief_info_title {
	vertical-align: middle;
	background-color: #cfe6cf;
	background-image: url('images/header-light-green.png');
	background-repeat: repeat-x;
	display: block;
	padding: 2px;
	text-align: center;
}

#Utils_Calendar__week .events_brief_info_title:hover {
}

#Utils_Calendar__week .events_brief_info_title a {
	color: #000000;
}

#Utils_Calendar__week .events_more {
	background-color: #339933;
	display: block;
	float: right;
	padding: 0px 0px 2px 2px;
	position: absolute;
	top: 0px;
	right: 0px;
}

/* menu */

div.week-menu {
	padding-bottom: 0px;
	/*border-bottom: 4px solid #B3B3B3;*/
}

div.week-menu img {
	vertical-align: middle;
}

div.week-menu a.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    line-height: 20px;
    display: block;
	background-color: #336699;
    /*background-image: url("images/header-blue.png");*/
    background-image: none;
    border: 0px;
    text-align: center;
}

div.week-menu a.button:hover {
	background-color: #339933;
    /*background-image: url("images/header-blue-hover.png");*/
}

div.week-menu table {
	width: 100%;
}

div.week-menu .empty {
	width: 50%;
}

div.week-menu .add-info {
	color: #777777;
	padding-right: 20px;
}

div.week-menu .add-info:hover {
	color: #000000;
}
