#dashboard .applet {
	/*padding: 5px;*/
}

#dashboard .handle {
	cursor: move;
}

#dashboard .handle .toggle,
#dashboard .handle .remove,
#dashboard .handle .configure {
	cursor: pointer;
}

#dashboard .content_td {
	background-color: #FFFFFF;
}

#dashboard .container {
	width: 100%;
	padding: 5px 5px 5px 5px;
	background-color: #FFFFFF;
}

#dashboard .controls {
	text-align: right;
}

#dashboard .controls a {
	color: #FFFFFF;
}

#dashboard .header {
	color: #FFFFFF;
	font-weight: bold;
	height: 20px;
	background-image: url('images/header-green.png');
}
