#dashboard .applet {
	/*padding: 5px;*/
}

#dashboard .handle {
	cursor: move;
}

#dashboard .handle .toggle,
#dashboard .handle .remove,
#dashboard .handle .configure {
	cursor: pointer;
}

#dashboard .content_td {
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: top;
}

#dashboard .container {
	width: 290px;
	border: 5px solid #FFFFFF;
	background-color: #FFFFFF;
}

#dashboard .controls {
	width: 30%;
	text-align: right;
}

#dashboard .title {
	width: 70%;
	text-align: left;
}

#dashboard .controls a {
	color: #FFFFFF;
}

#dashboard .header {
	color: #FFFFFF;
	font-weight: bold;
	height: 20px;
	background-image: url('images/header-blue.png');
}
