#Base_Search__Results {
	width: 970px;
}

#Base_Search__Results .label {
}

#Base_Search__Results .header {
	color: #FFFFFF;
	background-color: #336699;
	background-image: url("images/header-blue.gif");
	background-repeat: repeat-x;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#Base_Search__Results a {
	color: #4C4C4C;
}

#Base_Search__Results a:hover {
	color: #336699;
}

#Base_Search__Results .link {
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
	background-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	height: 20px;
	display: flex;
	align-items: center;
}

#Base_Search__Results .warning {
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
	background-color: #FFCCCC;
	padding-left: 20px;
	padding-right: 20px;
	height: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

#Base_Search__Results .link:hover {
	background-color: #F0F0F0;
}
