table#Base_Search__Search {
    width:970px;
    margin:0px auto;
}
table#Base_Search__Search span.error {
	color: red;
}

table#Base_Search__Search td.header_tail {
	color: #FFFFFF;
	font-weight: bold;
	width: 200px;
	height: 20px;
	border: 0px;
	text-align: center;
	vertical-align: middle;
	background: #7b9cbd;
}

table#Base_Search__Search td.header_tail span.header {
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
}

table#Base_Search__Search input[type=text] {
	color: #000000;
	border: 1px solid #b3b3b3;
	/*width: 173px;*/
	width: 152px;
	height: 16px;
	font-size: 11px;
	padding-left: 5px;
}

.epesi_rtl table#Base_Search__Search input {
	margin-left: 10px;
}

table#Base_Search__Search input:focus {
	background-color: #FFFFA5;
}

table#Base_Search__Search td.input {
	height: 21px;
	width: 164px;
	padding-right: 0px;
}

table#Base_Search__Search td.submit {
	padding-left: 2px;
}

table#Base_Search__Search input.mini_submit {
	color: #FFFFFF;
	width: 110px;
	height: 21px;
	font-size: 11px;
	border: none;
	display: block;
	float: right;
	cursor: pointer;
	background: #226622;

}

table#Base_Search__Search input.mini_submit:hover {
	background: #226622;
}
.search_icon {
	width: 22px;
	height: 20px;
	position: relative;
	left: 86px;
	bottom: 20px;
	background: url("Base/Box/search_icon.png") no-repeat right;
}

table#Base_Search__Search input.submit {
	cursor: pointer;
	color: #FFFFFF;
	border: 0px;
	width: 100px;
	height: 20px;
	font-size: 11px;
	background: #226622;
}

table#Base_Search__Search input.submit:hover {
	background: #226622;
}

table#Base_Search__Search .label {
	color: #000000;
	font-size: 11px;
	vertical-align: middle;
}
table#Base_Search__Search ul li {
    width:170px;
    display:block;
    float:left;
    margin-right:14px;
}

table#Base_Search__Search td.data select {
	font-size: 11px;
	vertical-align: middle;
}

.search_button {
	font-weight: normal;
    color: #FFFFFF;
    width: 110px;
    line-height: 21px;
    height: 22px;
    display: block;
    border: none;
    text-align: center;
    vertical-align: middle;
	background: #226622;
}
.search_button:hover,
.search_button:focus{
    color: white;
	background: #226622;
}

.search_button_css3_box {
    display: block;
    height: 21px;
    overflow: hidden;
    width: 108px;
}

.epesi_rtl .search_button_css3_box {
	margin-right: 1px;
}