#Base_Search__Search {
    width:970px;
    margin:0px auto;
}
#Base_Search__Search span.error {
	color: red;
}

#Base_Search__Search .header_tail {
	color: #FFFFFF;
	font-weight: bold;
	width: 200px;
	height: 20px;
	border: 0px;
	display: flex;
	align-items: center;
	justify-content: center;

	/* css3 blue gradient */
	background: #7b9cbd; /* Old browsers */
	/* end css3  gradient */

	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */

	/* css3 shadow border*/
 	-webkit-box-shadow: 1px 1px 2px black;
 	-moz-box-shadow: 1px 1px 2px black;
 	box-shadow: 1px 1px 2px black;
 	/* end css3 shadow border*/
}

#Base_Search__Search .header_tail span.header {
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
}

#Base_Search__Search input[type=text] {
	color: #000000;
	border: 1px solid #b3b3b3;
	/*width: 173px;*/
	width: 152px;
	height: 16px;
	font-size: 13px;
	padding-left: 5px;

	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
}

.epesi_rtl #Base_Search__Search input {
	margin-left: 10px;
}

#Base_Search__Search input:focus {
	background-color: #FFFFA5;
}

#Base_Search__Search .input {
	height: 21px;
	width: 164px;
	padding-right: 0px;
}

#Base_Search__Search .submit {
	padding-left: 2px;
}

#Base_Search__Search input.mini_submit {
	color: #FFFFFF;
	width: 110px;
	height: 21px;
	font-size: 13px;
	border: none;
	display: block;
	float: right;
	cursor: pointer;

	/*dark css3 green background image gradient */
	background: #226622; /* Old browsers */
	/* end dark css3 green background gradient */

}

#Base_Search__Search input.mini_submit:hover {
	/*light css3 green background gradient */
	background: #226622; /* Old browsers */
	/* end light css3 green background gradient */
}
.search_icon {
	width: 22px;
	height: 20px;
	position: relative;
	left: 86px;
	bottom: 20px;
	background: url("Base/Box/search_icon.png") no-repeat right;
}

#Base_Search__Search input.submit {
	cursor: pointer;
	color: #FFFFFF;
	border: 0px;
	width: 100px;
	height: 20px;
	font-size: 13px;

	/*dark css3 green background image gradient */
	background: #226622; /* Old browsers */
	/* end dark css3 green background gradient */
}

#Base_Search__Search input.submit:hover {
	/*light css3 green background gradient */
	background: #226622; /* Old browsers */
	/* end light css3 green background gradient */
}

#Base_Search__Search .label {
	color: #000000;
	font-size: 13px;
}
#Base_Search__Search ul li {
    width:170px;
    display:block;
    float:left;
    margin-right:14px;
}

#Base_Search__Search .data select {
	font-size: 13px;
}

.search_button {
	font-weight: normal;
    color: #FFFFFF;
    width: 110px;
    line-height: 21px;
    height: 22px;
    display: block;
    border: none;
    text-align: center;
    vertical-align: middle;

	/*dark css3 green background image gradient */
	background: #226622; /* Old browsers */
	/* end dark css3 green background gradient */
}
.search_button:hover,
.search_button:focus{
    color: white;
	/*light css3 green background gradient */
	background: #226622; /* Old browsers */
	/* end light css3 green background gradient */
}

.search_button_css3_box {
	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 2px black;
	-moz-box-shadow: 1px 1px 2px black;
	box-shadow: 1px 1px 2px black;
	/* end css3 shadow border*/

    display: block;
    height: 21px;
    overflow: hidden;
    width: 108px;
}

.epesi_rtl .search_button_css3_box {
	margin-right: 1px;
}
