table#Apps_Gallery {
	width: 100%;
}

table#Apps_Gallery td.images {
	vertical-align: top;
	padding: 4px 4px 4px 4px;
}

table#Apps_Gallery .path {
	background-image: url("images/header-blue.gif");
	color: #FFFFFF;
	background-repeat: repeat-x;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 4px solid #B3B3B3;
}

table#Apps_Gallery .path a {
	color: #FFFFFF;
}

table#Apps_Gallery .dirs {
	text-align: center;
	vertical-align: top;
	border-bottom: 4px solid #B3B3B3;
}

table#Apps_Gallery .tree {
	width: 20%;
	height: 100%;
	vertical-align: top;
	border-right: 1px solid #B3B3B3;
	padding: 5px 15px 5px 5px;
}

table#Apps_Gallery .images {
	height: 100%;
}

table#Apps_Gallery a.gallery_path_link {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}

table#Apps_Gallery a.gallery_path_link:hover {
}

table#Apps_Gallery a.gallery_path_child_link {
	text-align: left;
	display: block;
	text-decoration: none;
	padding: 2px 5px 3px 5px;
}

table#Apps_Gallery a.gallery_path_child_link:hover {
	text-decoration: underline;
}

table#Apps_Gallery td.images a img {
	border: none;
}


/* Form */

table#Apps_Gallery__form span.error {
	color: red;
}

table#Apps_Gallery__form input {
	font-size: 11px;
	border: 1px solid #B3B3B3;
}

table#Apps_Gallery__form input.submit {
	border: 1px solid #B3B3B3;
	width: 70%;
}

table#Apps_Gallery__form .label {
	font-weight: bold;
}

table#Apps_Gallery__form td.header_tail {
	text-align: left;
}

table#Apps_Gallery__form td.header_tail span.header {
	text-align: center;
	font-weight: bold;
	background: #336699;
	background-image: url("images/header-blue.gif");
	color: #FFFFFF;
	background-repeat: repeat-x;
	border: 1px solid #B3B3B3;
	padding: 4px 5px 3px 5px;
}

table#Apps_Gallery__form td.button input {
	color: #FFFFFF;
	border: 0px;
	width: 100px;
	height: 20px;
	background-image: url("images/header-blue.gif");
	border: 0px;
	font-size: 11px;
}

table#Apps_Gallery__form td.button input:hover {
	background-image: url("images/header-blue-hover.gif");
}
