table.gallery {
	width: 80%;
}
table.gallery td.images {
	vertical-align: top;
}
table.gallery .path {
	text-align: center;
	font-size: 200%;
	vertical-align: top;
}
table.gallery .dirs {
	text-align: center;
	font-size: 160%;
	vertical-align: top;
	border-bottom: 1px solid black;
}
table.gallery .tree {
	width: 20%;
	vertical-align: top;
	border-right: 1px solid black;
	padding: 5px 15px 5px 5px;
}
a.gallery_path_link {
	text-align: left;
	text-decoration: none;
	margin: 2px;
	padding: 2px 5px 3px 5px;
}
a.gallery_path_link:hover {
	border: 1px solid black;
	background: #f2f5ff;
	margin: 2px;
	padding: 1px 4px 2px 4px;
}

a.gallery_path_child_link {
	text-align: left;
	display: block;
	text-decoration: none;
	padding: 2px 5px 3px 5px;
}
a.gallery_path_child_link:hover {
	text-decoration: underline;
}



table.Apps_Gallery span.error {
	color: red;
}

table.Apps_Gallery input {
	color: black;
	border: 1px solid black;
}
table.Apps_Gallery input.submit {
	color: black;
	border: 1px solid black;
	width: 70%;
}
table.Apps_Gallery .label {
	font-weight: bold;
}

table.Apps_Gallery td.header_tail {
	color: black;
	font-size: 120%;
	border-bottom: 2px solid blue;
	text-align: left;
	padding-left: 0.5em;
	padding-bottom: 2px;
}

table.Apps_Gallery td.header_tail span.header {
	color: black;
	padding: 0.3em 0.5em 0.3em 0.5em;
	margin: 2px 20px 2px 2px;
	font-size: 70%;
	text-align: left;
	font-weight: bold;
	letter-spacing: 0.4em;
	background: #BBBBEF;
	border-top: 1px solid blue;
	border-right: 1px solid blue;
	border-bottom: none;
	border-left: 1px solid blue;
}
