body {
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 10px;
	margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	background-color: #FFFFFF;
}

a {
    color: #1d7dd1;
    font-weight: bold;
    text-decoration: none;
}

table.listing {
    width: 100%;
}

table.listing td {
    width: 50%;
}

table.listing tr.even {
    background-color: white;
}

table.listing tr.odd {
    background-color: #e5e5ff;
}

.button {
    color: #0d8120;
    font-weight: bold;
    line-height: 30px;
    display: block;
    width: 100px;
    text-align: center;
}

.green {
    color: #669933;
}

.red {
    color: #993333;
}

.blue {
    color: #336699;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.header {
    height: 30px;
    padding-top: 5px;
    padding-left: 30px;
    color: #777777;
    font-size: 24px;
    font-weight: bold;
}

.title {
    height: 30px;
    color: #0A0A0A;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

span.footer {
    font-size: 12px;
    color: #777777;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #777777;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*** table banner ***/

#banner {
    width: 100%;
    border-bottom: 2px solid #777777;
}

#banner .image {
    background-image: url("logo-small.png");
    background-repeat: repeat-x;
    width: 193px;
    height: 83px;
}

#banner .header {
	background: #ffffff; /* Old browsers */
}

/*** main box ***/

#main {
    border: 1px solid #777777;
    background-color: #EEEEEE;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
	width: 50%;
    text-align: left;
    margin:20px;
}

.content {
    padding: 20px 20px 20px 20px;
}

.div-button {
    height: 64px;
    padding-top: 20px;
}

div.licence {
    overflow: auto;
    height: 300px;
    border: 1px solid #B3B3B3;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

input {
    font-size: 14px;
    border: 2px solid #777777;
    background-color: #fefefe;
}
