#Browsing_records {
    vertical-align: top;
    width: 100%;
}

#Browsing_records .icon {
    width: 32px;
    height: 32px;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
    background-color: #336699;
}

#Browsing_records .icon img {
    size: portrait;
}

#Browsing_records .name {
    width: 290px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 10px;
    height: 30px;
    vertical-align: top;
    background-image: url('images/blue-gradient.png');
    background-repeat: repeat-y;
}

#Browsing_records .filters {
    text-align: right;
    vertical-align: top;
}
