#Browsing_records {
    vertical-align: top;
    width: 100%;
	table-layout: auto;
}

#Browsing_records .name img.icon {
    position: absolute;
    clip: rect(0px 32px 28px 0px);
	margin-top: -2px;
}

#Browsing_records .name .label {
	margin-left: 40px;
	margin-top: 2px;
}
#Browsing_records .name .label a {
	color: white;
	text-decoration: underline;
}
.epesi_rtl #Browsing_records .name .label {
	margin-left: 0px;
	margin-right: 40px;
}

#Browsing_records .name {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    height: 24px;
    white-space: nowrap;
    vertical-align: top;
	
	margin-left: 10px;
	margin-right: 10px;
	padding: 3px 18px;
	background: #9c9c9c;
}

#Browsing_records .filters {
    text-align: right;
    vertical-align: top;
}

#Browsing_records .filters_button {
    float: right;
    width: 100px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#Browsing_records .filters_button:hover {
}

#Browsing_records .filters_button #filters_button_text {
    display: block;
    float: right;
    width: 80px;
    padding-top: 4px;
    text-align: center;
    color: white;
}

#Browsing_records .filters_button #filters_button_icon_up,
#Browsing_records .filters_button #filters_button_icon_down {
    display: block;
    float: right;
    width: 14px;
    height: 14px;
    margin: 3px;
    background-repeat: no-repeat;
}

#Browsing_records .filters_button #filters_button_icon_up {
    background-image: url('images/roll-up.png');
}

#Browsing_records .filters_button:hover #filters_button_icon_up {
    background-image: url('images/roll-up-hover.png');
}

#Browsing_records .filters_button #filters_button_icon_down {
    background-image: url('images/roll-down.png');
}

#Browsing_records .filters_button:hover #filters_button_icon_down {
    background-image: url('images/roll-down-hover.png');
}

#Utils_GenericBrowser input,
#Utils_GenericBrowser select {
	background-color:#E6ECF2;
	border: 0 none;
	width: 100%;
}

#Utils_GenericBrowser input:focus,
#Utils_GenericBrowser select:focus {
	background-color:#FFFFA5;
}

#Utils_GenericBrowser input[type="submit"] {
	color: white;
	border: 0 none;
	width: auto;
}
/*
#Utils_GenericBrowser .utils_datepicket_element td {
	border: 0 none;
}

table#Utils_GenericBrowser .Utils_RecordBrowser__grid_table td {
    border-right: 0px none;
    border-bottom: 0px none;
    height: 0px;
    padding: 0px;
    margin: 0px;
}

table#Utils_GenericBrowser .Utils_RecordBrowser__grid_table tr {
	background-color: transparent;
    padding: 0px;
    margin: 0px;
}
*/