#Browsing_records {
    vertical-align: middle;
}

#Browsing_records .icon {
    text-align: left;
    padding-left: 20px;
}

#Browsing_records .name {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #336699;
    padding-left: 20px;
    padding-right: 20px;
}

#Browsing_records .filters {
}
