.Utils_RB__changelist .header {
	background-color: lightblue;
}

.Utils_RB__changelist .last_row {
	border-bottom: 2px solid black;
}

.Utils_RB__changelist > div > div {
	padding: 4px;
}

.Utils_RB__changelist {
	border: 1px solid black;
	width: 400px;
	color: black;
}

.Utils_RB__changelist .message {
	text-align: center;
	font-weight: bold;
}

.Utils_RB__changelist [role="cell"] {
	border-right: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
}

.Utils_RB__changelist .user,
.Utils_RB__changelist .timestamp {
	border-right: none;
	color: #777;
	font-size: 11px;
}

.Utils_RB__changelist .timestamp {
	text-align: right;
}

.Utils_RB__changelist a {
	color: inherit;
}

.Utils_RB__changelist .data {
	word-wrap: break-word;
    overflow-x: hidden;
}
