#Utils_RecordBrowser__Filter {
    width: 100%;
    display: block;
    padding-top: 8px;
    height: 23px;
}

.Utils_RecordBrowser__Filter {
    display: block;
    padding-right: 20px;
}

/* label */

.Utils_RecordBrowser__Filter .label {
    background-color: #336699;
    color: #FFFFFF;
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    height: 20px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

/* data */

.Utils_RecordBrowser__Filter .data {
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    padding-left: 2px;
    padding-right: 2px;
}

.Utils_RecordBrowser__Filter .data input,
.Utils_RecordBrowser__Filter .data select,
.Utils_RecordBrowser__Filter .data textarea {
    border: 0px;
    background-color: #e6ecf2;
    width: 100%;
}

.Utils_RecordBrowser__Filter .data input[type='checkbox'] {
    width: auto;
}

.Utils_RecordBrowser__Filter .data input:focus,
.Utils_RecordBrowser__Filter .data select:focus,
.Utils_RecordBrowser__Filter .data textarea:focus {
    background-color: #f2f2e6;
    background-color: #ffffa5;
}

/* buttons */

#Utils_RecordBrowser__Filter .buttons,
#Utils_RecordBrowser__Filter .buttons_disabled {
    display: block;
    float: right;
    padding-right: 20px;
}

.Utils_RecordBrowser__Filter .buttons input,
#Utils_RecordBrowser__Filter .buttons input {
    color: #FFFFFF;
    background-image: url('images/button.gif');
    width: 100px;
    height: 20px;
    border: 0px;
}

.Utils_RecordBrowser__Filter .buttons_disabled input,
#Utils_RecordBrowser__Filter .buttons_disabled input {
    color: #FFFFFF;
    background-color: #336699;
    background-image: url('images/header-gray.png');
    width: 100px;
    height: 20px;
    border: 0px;
}

.Utils_RecordBrowser__Filter .buttons input:hover,
#Utils_RecordBrowser__Filter .buttons input:hover {
    background-image: url('images/button-hover.gif');
}
