#buttons input {
    color: #FFFFFF;
    background-color: #336699;
    background-image: url('images/header-blue.png');
    width: 100px;
    height: 20px;
    border: 0px;
}

#buttons input:hover {
    background-image: url('images/header-blue-hover.png');
}
