.css3_content_shadow_new_record {
	margin: 8px; 
	width: 56px;
	height: 73px;
	overflow: hidden;
	background-color: white; 
	
	/*Transition*/
	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;	
	/* end Transition*/
	
	/* css3 shadow border*/
	-webkit-box-shadow: 0px 0px 3px gray;
	-moz-box-shadow: 0px 0px 3px gray;
	box-shadow: 0px 0px 3px gray;
	/* end css3 shadow border*/
	
	/* border radius css3 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius css3 */
}
.css3_content_shadow_new_record:hover {
	/* css3 shadow border*/
	-webkit-box-shadow: 0px 0px 10px #005100;
	-moz-box-shadow: 0px 0px 10px #005100;
	box-shadow: 0px 0px 10px #005100;
	/* end css3 shadow border*/
}

.new_record_big-button {
	/*width: 200px;*/
	height: auto;
	vertical-align: middle;
	text-align: center;
	font-size: 11px;
	display: block;
	padding-top: 3px;
	cursor: pointer;
	color: #336699;
}

.css3_content_shadow_new_record a {
	color: #336699;
}

.css3_content_shadow_new_record a:hover {
	color: #993333;
}

.new_record_icon_td_text {
	width: 50px;
	height: 29px;
	overflow: hidden;
	text-align: center;
    vertical-align: middle;
}