.Utils_RecordBrowser__dirty_read_table {
    width: 100%;
    vertical-align: middle;
    height: 31px;
}

.Utils_RecordBrowser__dirty_read_table .icon {
    width: 32px;
    height: 27px;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
    background-color: #666666;
    background-image: url('images/dark-gray.gif');
}

.Utils_RecordBrowser__dirty_read_table .icon img {
    position: absolute;
    clip: rect(0px 32px 28px 0px);
}

.Utils_RecordBrowser__dirty_read_table .name {
    width: 290px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 7px;
    height: 24px;
    vertical-align: top;
    background-image: url('images/dark-gray-gradient.gif');
    background-repeat: repeat-y;
}
