.top_nav li a i.fa-2x {
  font-size:2em;
}
.top_nav ul.msg_list li .message {
    display: block!important;
    font-size: 11px;
}
.top_nav ul.msg_list li .message a {
  padding: 3px 0px !important;
}
.top_nav ul.msg_list li .time {
    font-size: 11px;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    right: 35px;
}
.top_nav ul.msg_list li .image span {
    float: left;
    margin-right: 10px;
}
