div.mail_progressbar_out {
	border: 2px solid black;
	width: 100%;
}

div.mail_progressbar_in {
	background-color: yellow;
	height: 20px;
}

.utils_tree_node_content img,
.utils_tree_node_content_selected img {
	vertical-align: middle;
	padding-left: 4px;
}

#Apps_MailClient {
	background-color: white;
	width: 100%;
	height: 450px;
    border: 1px solid #b3b3b3;
}

#Apps_MailClient td {
	vertical-align: top;
}

#Apps_MailClient td.letters {
	vertical-align: middle;
}

#Apps_MailClient table.mail {
	width: 100%;
	border-top: 1px solid #b3b3b3;
	height: 100%;
}

#Apps_MailClient .list {
	height: 220px;
	border-left: 1px solid #b3b3b3;
}

#Apps_MailClient .space {
	height: 5px;
	background-color: #f0f0f0;
	background-color: #e6e6e6;
	border-top: 1px solid #b3b3b3;
	color: #b3b3b3;
	text-align: center;
	vertical-align: middle;
}

#Apps_MailClient .content {
	height: 225px;
	border-left: 1px solid #b3b3b3;
}

#Apps_MailClient .menu {
	vertical-align: top;
	width: 200px;
	overflow: auto;
	background-color: #f0f0f0;
	background-color: #e6e6e6;
	/*border-right: 1px solid #b3b3b3;*/
}

#Apps_MailClient .preview_body iframe#mail_view_body {
	border: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 185px;
}

/* no shadow in tables */
#Apps_MailClient .shadow-top,
#Apps_MailClient .shadow-middle,
#Apps_MailClient .shadow-bottom {
	display: none;
}

#Apps_MailClient .layer {
	padding: 0px;
	width: 100%;
}

#Apps_MailClient .layer .margin2px {
	padding: 0px;
}

#Apps_MailClient #Utils_GenericBrowser {
	border-left: none;
}

#Apps_MailClient #Utils_GenericBrowser td {
	white-space: nowrap;
}

#Apps_MailClient #Utils_GenericBrowser td img {
	padding-right: 1px;
}

/* New Mail */

#Apps_MailClient_new {
	background-color: white;
	width: 100%;
}

/* label */

#Apps_MailClient .label,
#Apps_MailClient_new .label {
    color: white;
    background-color: #336699;
    border-bottom: 1px solid #b3b3b3;
    height: 20px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
    text-align: left;
}

#Apps_MailClient_new .buttons {
	width: 105px;
	height: 20px;
}

#Apps_MailClient_new .buttons2 {
	width: 100px;
	height: 20px;
}

#Apps_MailClient_new .buttons a {
	display: block;
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	color: white;
	background-image: url('images/button.gif');
	float: left;
}

#Apps_MailClient_new .buttons a:hover {
	background-image: url('images/button-hover.gif');
}

/* data */

#Apps_MailClient_new .data {
    text-align: left;
    border-bottom: none;
    padding-left: 4px;
    padding-right: 4px;
}

#Apps_MailClient .data {
    border-bottom: 1px solid #b3b3b3;
    padding-left: 5px;
    padding-right: 5px;
}

#Apps_MailClient .data input,
#Apps_MailClient .data select,
#Apps_MailClient .data textarea,
#Apps_MailClient_new .data input,
#Apps_MailClient_new .data select,
#Apps_MailClient_new .data textarea {
    border: 0px;
    background-color: #e6ecf2;
    width: 100%;
}

#Apps_MailClient .data input[type="checkbox"],
#Apps_MailClient .data input[type="radio"],
#Apps_MailClient_new .data input[type="checkbox"],
#Apps_MailClient_new .data input[type="radio"] {
    width: auto;
}

#Apps_MailClient .data input:focus,
#Apps_MailClient .data select:focus,
#Apps_MailClient .data textarea:focus,
#Apps_MailClient_new .data input:focus,
#Apps_MailClient_new .data select:focus,
#Apps_MailClient_new .data textarea:focus {
    background-color: #ffffa5;
}

/* multiselect */

#Apps_MailClient_new #multiselect .form-element select,
#Apps_MailClient_new #multiselect .to-element select {
    /*width: 150px;*/
    width: 100%;
    height: 100px;
}

#Apps_MailClient_new .data a.button {
    height: 20px;
    display: block;
    float: right;
}

/* header */

.Apps_MailClient_header,
.Apps_MailClient_new_header {
    width: 100%;
    vertical-align: middle;
    height: 31px;
}

.Apps_MailClient_header .icon,
.Apps_MailClient_new_header .icon {
    width: 32px;
    height: 27px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
    background-color: #666666;
    background-image: url('images/dark-gray.gif');
}

.Apps_MailClient_header .arrow,
.Apps_MailClient_new_header .arrow {
    width: 32px;
    height: 31px;
    vertical-align: top;
    text-align: center;
    background-color: #666666;
    background-image: url('images/dark-gray.gif');
}

.Apps_MailClient_header .arrow a,
.Apps_MailClient_new_header .arrow a {
    display: block;
    width: 32px;
    height: 16px;
    padding-top: 8px;
    padding-bottom: 7px;
}

.Apps_MailClient_header .arrow a:hover,
.Apps_MailClient_new_header .arrow a:hover {
    background-color: #336699;
}

.Apps_MailClient_header .icon img,
.Apps_MailClient_new_header .icon img {
    position: absolute;
    clip: rect(0px 32px 28px 0px);
}

.Apps_MailClient_header .name,
.Apps_MailClient_new_header .name {
    width: 290px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 7px;
    height: 24px;
    vertical-align: top;
    background-image: url('images/dark-gray-gradient.gif');
    background-repeat: repeat-y;
}

.Apps_MailClient_header .required_fav_info,
.Apps_MailClient_new_header .required_fav_info {
    color: #777777;
    text-align: right;
    padding-right: 20px;
}
