@CHARSET "ISO-8859-1";
hr.small {
	background: #000000;
	height: 1px;
}
p.event {
	font-size: 7px;
	line-height: 11px;
	margin: 4px 0px 2px 0px;
}

#CRM_Calendar_Event_Personal table {
	width: 100%;
}

#CRM_Calendar_Event_Personal table.form {
	background-color: #FFFFFF;
	padding: 5px;
}

/* forms */

#CRM_Calendar_Event_Personal .forms {
	padding-bottom: 5px;
}

#CRM_Calendar_Event_Personal .forms td {
	width: 25%;
}

#CRM_Calendar_Event_Personal .forms .bb {
	border-bottom: 1px solid #B3B3B3;
}

/* description */

#CRM_Calendar_Event_Personal .description {
	padding-bottom: 5px;
}

#CRM_Calendar_Event_Personal .description td {
	border: 0px;
}

/* multiselect */

#CRM_Calendar_Event_Personal .multiselect {
	padding-left: 5px;
	padding-right: 5px;
	background-color: #FFFFFF;
}

#CRM_Calendar_Event_Personal .multiselect select {
	width: 100%;
}

#CRM_Calendar_Event_Personal .multiselect table {
	width: 100%;
}

#CRM_Calendar_Event_Personal .multiselect table td {
	border: 0px;
}

#CRM_Calendar_Event_Personal .multiselect .left-td {
	width: 50%;
	padding-right: 5px;
	background-color: #FFFFFF;
}

#CRM_Calendar_Event_Personal .multiselect .rigth-td {
	width: 50%;
	background-color: #FFFFFF;
}

#CRM_Calendar_Event_Personal .QForm_multiselect {
	border: 1px solid #B3B3B3;
}

#CRM_Calendar_Event_Personal .QForm_multiselect_left {
}

#CRM_Calendar_Event_Personal .QForm_multiselect_right {
}

#CRM_Calendar_Event_Personal table.form {
	white-space: nowrap;
}

#CRM_Calendar_Event_Personal table.form td {
}

#CRM_Calendar_Event_Personal table.form td.nowrap {
	white-space: nowrap;
}

#CRM_Calendar_Event_Personal .group_bottom {
	/*border-bottom: 1px solid #336699;
	margin-bottom: 5px;*/
}

#CRM_Calendar_Event_Personal table.x_details td.x_show_details {
	background: #BEbEbE;
	color: blue;
}

#CRM_Calendar_Event_Personal table.form span.error {
	color: red;
}

#CRM_Calendar_Event_Personal table.form .bottom {
	vertical-align: top;
}

/* label */

#CRM_Calendar_Event_Personal .label {
	background-color: #336699;
	color: #FFFFFF;
	height: 20px;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
}

/* data */

#CRM_Calendar_Event_Personal .data {
	height: 20px;
	vertical-align: middle;
	background-color: #FFFFFF;
	text-align: left;
	border-top: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
	padding-left: 2px;
	padding-right: 2px;
}

#CRM_Calendar_Event_Personal .data input,
#CRM_Calendar_Event_Personal .data select,
#CRM_Calendar_Event_Personal .data textarea {
	border: 0px;
	background-color: #e6ecf2;
}

#CRM_Calendar_Event_Personal .data input:focus,
#CRM_Calendar_Event_Personal .data select:focus,
#CRM_Calendar_Event_Personal .data textarea:focus {
    background-color: #f2f2e6;
    background-color: #e6e6cf;
}

#CRM_Calendar_Event_Personal .data a {
	color: #FFFFFF;
	background-color: #336699;
	background-image: url('images/header-blue.png');
	background-repeat: repeat-x;
	padding: 3px 5px 3px 5px;
	margin-right: 8px;
	border-bottom: 1px solid #B3B3B3;
}

#CRM_Calendar_Event_Personal .data a:hover {
	background-image: url('images/header-blue-hover.png');
}

#CRM_Calendar_Event_Personal .data a:focus {
	background-image: url('images/header-green.png');
}

#CRM_Calendar_Event_Personal .padd {
	padding-left: 10px;
	padding-right: 10px;
}

#CRM_Calendar_Event_Personal .no-border {
	border-bottom: 0px;
}

#CRM_Calendar_Event_Personal .arrows input {
	border: 0px;
	background-color: #336699;
	background-image: url('images/header-blue.png');
	background-repeat: repeat-x;
	color: #FFFFFF;
	width: 40px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
}

#CRM_Calendar_Event_Personal .arrows input:hover {
	background-image: url('images/header-blue-hover.png');
}

#CRM_Calendar_Event_Personal .bold,
#CRM_Calendar_Event_Personal .bold input {
	font-weight: bold;
}
