.Utils_Tray__wrap {
	overflow: auto;
	white-space: nowrap;
}

.Utils_Tray__box {
	float: left;
	min-width: 120px;
}

.Utils_Tray__box_wrap {
	overflow: auto;
	white-space: nowrap;
}

.Utils_Tray__slot {
	float: left;
	width:55px;
	cursor: pointer;
	/*border-collapse: collapse;*/
	border: 1px solid transparent;
	padding:0px;
	text-align: center;
}

.Utils_Tray__slot:hover {
	border: 1px solid gray;
	background-color:rgba(200,200,200,0.7);
}

.Utils_Tray__table {
	border-collapse: collapse;
	width: 100%;
	padding: 0px;
}

.Utils_Tray__table td, .Utils_Tray__table th {
	border: 1px solid lightgray;
	padding: 0px;
	border-top: 0;
	border-bottom: 1px solid lightgray;
}

.Utils_Tray__table tr:first-child td {
	border-top: 0;
}

.Utils_Tray__table tr:last-child td {
	border-bottom: 0;
}

.Utils_Tray__table tr td:first-child,
.Utils_Tray__table tr th:first-child {
	border-left: 0;
}

.Utils_Tray__table tr td:last-child,
.Utils_Tray__table tr th:last-child {
	border-right: 0;
}

.Utils_Tray__box_table {
	width: 100%;
	height: 100%;
	padding: 0px;
	border-collapse: collapse;
}

.Utils_Tray__box_table th {
	font-weight: normal;
	height: 20px;
	border: 0px;
	background-repeat: repeat-x;
	text-align: left;
	min-height: 25px;
	/*border-top: 1px solid #B3B3B3;*/
	border-right: 1px solid #B3B3B3;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #3f6a8c;
}

.Utils_Tray__box_table td {
	border: 0px;
	padding: 2px;
	vertical-align: top;
}
		
.Utils_Tray__slot {
	position:relative;
	width:55px;
	cursor: pointer;
	/*border-collapse: collapse;*/
	border: 1px solid transparent;
	padding:0px;
	text-align: center;
}


.Utils_Tray__slot:hover {
	border: 1px solid gray;
	background-color:rgba(200,200,200,0.7);
}

.Utils_Tray__title {
    width: 100%;
    vertical-align: middle;
    height: 31px;
	table-layout: auto;
}

.Utils_Tray__title .name img.icon {
    position: absolute;
    clip: rect(0px, 32px, 28px, 0px);
	margin-top: -2px;
}

.Utils_Tray__title .name .label {
	margin-left: 40px;
	margin-top: 3px;
}
.epesi_rtl .Utils_Tray__title .name .label {
	margin-left: 0px;
	margin-right: 40px;
}

.Utils_Tray__title .name {
	width: auto;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    height: 24px;
    white-space: nowrap;
    vertical-align: top;
	
	margin-left: 12px;
	margin-right: 12px;
	padding: 3px 18px;
	background: #9c9c9c;
}


.Utils_Tray__slot_count {
	position:absolute; 
	top:35px; 
	left:20px; 
	width:15px; 
	height:15px;
	z-index:5;
	border:1px solid gray;
	background: #ffffff;
}

.Utils_Tray__slot_name {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
} 
