table#Apps_Forum__New_Thread {
	width: 950px;
}

table#Apps_Forum__New_Thread td.header {
	color: #4C4C4C;
	background-image: url("images/background-30px-2.png");
	background-repeat: repeat-x;
	font-weight: bold;
	height: 30px;
	border: 1px solid #CCCCCC;
	text-align: center;
	vertical-align: center;
	/*border-bottom: 4px solid #CCCCCC;	*/
}

table#Apps_Forum__New_Thread td.topic_label {
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table#Apps_Forum__New_Thread td.topic_input {
	width: 850px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table#Apps_Forum__New_Thread td.topic_input input {
	width: 850px;
}

table#Apps_Forum__New_Thread td.post_input textarea {
	width: 850px;
	height: 200px;
}

table#Apps_Forum__New_Thread input {
	font-size: 11px;
}

table#Apps_Forum__New_Thread select {
	font-size: 11px;
}

table#Apps_Forum__New_Thread td.submit input {
	color: #4C4C4C;
	border: 0px;
	width: 100px;
	height: 20px;
	text-align: center;
	vertical-align: center;
	background-image: url("images/button.png");
	font-size: 11px;
}