table#Apps_Forum__New_Thread {
	width: 950px;
}

table#Apps_Forum__New_Thread td.header {
	color: #FFFFFF;
	background-image: url("images/header-blue.gif");
	background-repeat: repeat-x;
	height: 20px;
	text-align: center;
	vertical-align: middle;
}

table#Apps_Forum__New_Thread td.header a {
	color: #FFFFFF;
}

table#Apps_Forum__New_Thread td.topic_label {
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table#Apps_Forum__New_Thread td.topic_input {
	width: 850px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table#Apps_Forum__New_Thread td.topic_input input {
	width: 850px;
}

table#Apps_Forum__New_Thread td.post_input textarea {
	width: 850px;
	height: 200px;
}

table#Apps_Forum__New_Thread input {
	font-size: 11px;
}

table#Apps_Forum__New_Thread select {
	font-size: 11px;
}

table#Apps_Forum__New_Thread td.submit input {
	color: #FFFFFF;
	border: 0px;
	width: 100px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	background-image: url("images/header-blue.gif");
	font-size: 11px;
}

table#Apps_Forum__New_Thread td.submit input:hover {
	background-image: url("images/header-blue-hover.gif");
}
