table#Apps_Forum__Threads {
	width: 950px;
}

table#Apps_Forum__Threads td.header {
	color: #FFFFFF;
	background-image: url("images/header-blue.gif");
	background-repeat: repeat-x;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 4px solid #B3B3B3;
}

table#Apps_Forum__Threads td.header a {
	color: #FFFFFF;
}
