table#Apps_Forum__View_Thread {
	width: 950px;
}

table#Apps_Forum__View_Thread td.header {
	color: #FFFFFF;
	background-image: url("images/header-blue.gif");
	background-repeat: repeat-x;
	height: 20px;
	text-align: center;
	vertical-align: middle;
}

table#Apps_Forum__View_Thread td.header a {
	color: #FFFFFF;
}
