#Applets_Note {
	color: black;
}

#Applets_Note div {
	display: block;
	color: black;
	padding: 5px;
}

#Applets_Note div.note-yellow {
	background-color: #f2f2e6;
}

#Applets_Note div.note-red {
	background-color: #f2e6e6;
}

#Applets_Note div.note-blue {
	background-color: #e6ecf2;
}

#Applets_Note div.note-white {
	background-color: white;
}

#Applets_Note div.note-gray {
	background-color: #f0f0f0;
}

#Applets_Note div.note-nice-yellow {
	background-color: #f7f7ba;
}

#Applets_Note div.note-gradient {
	background-color: white;
	background-image: url('Applets_Note__background.png');
	background-repeat: repeat-x;
}

#Applets_Note div.note-gradient2 {
	background-color: #e5e562;
	background-image: url('Applets_Note__background-2.png');
	background-repeat: repeat-x;
}
