#Applets_Note {
	color: black;
}

#Applets_Note div {
	display: block;
	color: black;
	padding: 5px;
}

#Applets_Note div.note-blue {
	background-color: #cfdae6;
}

#Applets_Note div.note-red {
	background-color: #e6cfcf;
}

#Applets_Note div.note-yellow {
	background-color: #e6e6cf;
}

#Applets_Note div.note-green {
	background-color: #cfe6cf;
}

#Applets_Note div.note-dark-blue {
	background-color: #336699;
	color: white;
}

#Applets_Note div.note-dark-red {
	background-color: #993333;
	color: white;
}

#Applets_Note div.note-dark-yellow {
	background-color: #999933;
	color: white;
}

#Applets_Note div.note-dark-green {
	background-color: #339966;
	color: white;
}

#Applets_Note div.note-white {
	background-color: white;
}

#Applets_Note div.note-gray {
	background-color: #f0f0f0;
}

#Applets_Note div.note-nice-yellow {
	background-color: #f7f7ba;
}

#Applets_Note div.note-gradient {
	background-color: white;
	background-image: url('Applets/Note/background.png');
	background-repeat: repeat-x;
}

#Applets_Note div.note-gradient2 {
	background-color: #e5e562;
	background-image: url('Applets/Note/background-2.png');
	background-repeat: repeat-x;
}
