@CHARSET "ISO-8859-1";

/*
#CRM_Calendar_Event_Personal .QForm_multiselect {
	border: 1px solid #B3B3B3;
}

#CRM_Calendar_Event_Personal .QForm_multiselect_left {
}

#CRM_Calendar_Event_Personal .QForm_multiselect_right {
}
*/

#CRM_Calendar_Event_Personal table.form {
	background-color: #FFFFFF;
	width: 100%;
	background-color: white;
	white-space: nowrap;
	border-top: 1px solid #b3b3b3;
	border-left: 1px solid #b3b3b3;
	border-right: 1px solid #b3b3b3;
}

#CRM_Calendar_Event_Personal table.form td.nowrap {
	white-space: nowrap;
}

#CRM_Calendar_Event_Personal table.x_details td.x_show_details {
	background: #BEbEbE;
	color: blue;
}

#CRM_Calendar_Event_Personal table.form span.error {
	color: red;
}

/* label */
/*
#CRM_Calendar_Event_Personal .label {
	background-color: #336699;
	color: #FFFFFF;
	height: 20px;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border-bottom: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
}
*/
/* data */
/*
#CRM_Calendar_Event_Personal .data {
	height: 20px;
	vertical-align: middle;
	background-color: #FFFFFF;
	text-align: left;
	border-bottom: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
	padding-left: 1px;
	padding-right: 1px;
}

#CRM_Calendar_Event_Personal .data a.button {
	color: #FFFFFF;
	background-color: #336699;
	padding: 4px 5px 3px 5px;
	border-bottom: 1px solid #B3B3B3;
}

#CRM_Calendar_Event_Personal .data a.button:hover {
	background-color: #339933;
}
*/

#CRM_Calendar_Event_Personal .arrows input {
	border: 0px;
	background-color: #336699;
	color: #FFFFFF;
	width: 40px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
}

#CRM_Calendar_Event_Personal .arrows input:hover {
	background-color: #339933;
}

#CRM_Calendar_Event_Personal .title,
#CRM_Calendar_Event_Personal .title input {
	font-size: 14px;
}

#CRM_Calendar_Event_Personal .title input {
	margin-top: 2px;
	margin-bottom: 2px;
}




#CRM_Calendar_Event_Personal .label {
    background-color: #336699;
    color: #FFFFFF;
    border-bottom: 1px solid #B3B3B3;
    height: 20px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

#CRM_Calendar_Event_Personal table.view .data {
    border-bottom: 1px solid #B3B3B3;
    padding-left: 5px;
    padding-right: 5px;
}

#CRM_Calendar_Event_Personal table.edit .data {
    border-bottom: none;
    padding-left: 4px;
    padding-right: 4px;
}

#CRM_Calendar_Event_Personal table.edit {
	border: none;
}

#CRM_Calendar_Event_Personal .data input,
#CRM_Calendar_Event_Personal .data select,
#CRM_Calendar_Event_Personal .data textarea {
    border: 0px;
    background-color: #e6ecf2;
    width: 100%;
}

#CRM_Calendar_Event_Personal .data input[type="checkbox"],
#CRM_Calendar_Event_Personal .data input[type="radio"] {
    width: auto;
}

#CRM_Calendar_Event_Personal .data input:focus,
#CRM_Calendar_Event_Personal .data select:focus,
#CRM_Calendar_Event_Personal .data textarea:focus {
    /*background-color: #f2f2e6;
    background-color: #e6e6cf;*/
    background-color: #ffffa5;
}

#CRM_Calendar_Event_Personal #multiselect .form-element select,
#CRM_Calendar_Event_Personal #multiselect .to-element select {
    width: 150px;
    height: 100px;
}

#CRM_Calendar_Event_Personal .data input#due_date {
    display: block;
    margin-top: 1px;
    float: left;
}

#CRM_Calendar_Event_Personal .data a.button {
    height: 19px;
    display: block;
    float: right;
}


#CRM_Calendar_Event_Personal .no-border,
#CRM_Calendar_Event_Personal table.no-border {
	border-top: none;
}

#CRM_Calendar_Event_Personal #time_s,
#CRM_Calendar_Event_Personal #time_e {
	display: block;
	float: right;
	padding-top: 2px;
}

#CRM_Calendar_Event_Personal .priority select option[value="0"],
#CRM_Calendar_Event_Personal .priority select option[value="1"],
#CRM_Calendar_Event_Personal .priority select option[value="2"],
#CRM_Calendar_Event_Personal .access   select option[value="0"],
#CRM_Calendar_Event_Personal .access   select option[value="1"],
#CRM_Calendar_Event_Personal .access   select option[value="2"],
#CRM_Calendar_Event_Personal .priority select option[value="3"] {
	background-color: white;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 1px 0px;
}

#CRM_Calendar_Event_Personal .priority select option[value="0"] { background-image: url('CRM_Calendar_Event__priority-none.png');   }
#CRM_Calendar_Event_Personal .priority select option[value="1"] { background-image: url('CRM_Calendar_Event__priority-low.png');    }
#CRM_Calendar_Event_Personal .priority select option[value="2"] { background-image: url('CRM_Calendar_Event__priority-medium.png'); }
#CRM_Calendar_Event_Personal .priority select option[value="3"] { background-image: url('CRM_Calendar_Event__priority-high.png');   }

#CRM_Calendar_Event_Personal .access select option[value="0"] { background-image: url('CRM_Calendar_Event__access-public.png');    }
#CRM_Calendar_Event_Personal .access select option[value="1"] { background-image: url('CRM_Calendar_Event__access-read-only.png'); }
#CRM_Calendar_Event_Personal .access select option[value="2"] { background-image: url('CRM_Calendar_Event__access-private.png');   }

#CRM_Calendar_Event_Personal .access .icon,
#CRM_Calendar_Event_Personal .priority .icon {
	width: 24px;
	height: 12px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	display: block;
	float: left;
}
/* colors select */

select[name="color"] option[value="0"] { color: #339933; background-color: white; }
select[name="color"] option[value="1"] { color: #339933; background-color: white; }
select[name="color"] option[value="2"] { color: #999933; background-color: white; }
select[name="color"] option[value="3"] { color: #993333; background-color: white; }
select[name="color"] option[value="4"] { color: #336699; background-color: white; }
select[name="color"] option[value="5"] { color: #808080; background-color: white; }
select[name="color"] option[value="6"] { color: #339999; background-color: white; }
select[name="color"] option[value="7"] { color: #993399; background-color: white; }

/* header day */

#CRM_Calendar_Event_Personal .header-day {
	height: 50px;
	text-align: center;
	background-color: #B3B3B3;
	background-image: url('images/day-header.png');
	background-repeat: repeat-x;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-size: 18px;
	color: black;
	vertical-align: middle;
}
