@CHARSET "ISO-8859-1";

/*
#CRM_Calendar_Event_Personal .QForm_multiselect {
	border: 1px solid #B3B3B3;
}

#CRM_Calendar_Event_Personal .QForm_multiselect_left {
}

#CRM_Calendar_Event_Personal .QForm_multiselect_right {
}
*/

#CRM_Calendar_Event_Personal table.form {
	background-color: #FFFFFF;
	width: 100%;
	background-color: white;
	white-space: nowrap;
	border-top: 1px solid #b3b3b3;
	border-left: 1px solid #b3b3b3;
	border-right: 1px solid #b3b3b3;
}

#CRM_Calendar_Event_Personal table.form td.nowrap {
	white-space: nowrap;
}

#CRM_Calendar_Event_Personal table.x_details td.x_show_details {
	background: #BEbEbE;
	color: blue;
}

#CRM_Calendar_Event_Personal table.form span.error {
	color: red;
}

/* label */
/*
#CRM_Calendar_Event_Personal .label {
	background-color: #336699;
	color: #FFFFFF;
	height: 20px;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border-bottom: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
}
*/
/* data */
/*
#CRM_Calendar_Event_Personal .data {
	height: 20px;
	vertical-align: middle;
	background-color: #FFFFFF;
	text-align: left;
	border-bottom: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
	padding-left: 1px;
	padding-right: 1px;
}

#CRM_Calendar_Event_Personal .data a.button {
	color: #FFFFFF;
	background-color: #336699;
	padding: 4px 5px 3px 5px;
	border-bottom: 1px solid #B3B3B3;
}

#CRM_Calendar_Event_Personal .data a.button:hover {
	background-color: #339933;
}
*/

#CRM_Calendar_Event_Personal .arrows input {
	border: 0px;
	background-color: #336699;
	color: #FFFFFF;
	width: 40px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
}

#CRM_Calendar_Event_Personal .arrows input:hover {
	background-color: #339933;
}

/* multiselect links */

#CRM_Calendar_Event_Personal .arrows {
	line-height: 16px;
}

#CRM_Calendar_Event_Personal .title,
#CRM_Calendar_Event_Personal .title input {
}

#CRM_Calendar_Event_Personal .title input {
	margin-top: 2px;
	margin-bottom: 2px;
}




#CRM_Calendar_Event_Personal .label {
    background-color: #336699;
    color: #FFFFFF;
    border-bottom: 1px solid #B3B3B3;
    height: 20px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

#CRM_Calendar_Event_Personal table.view .data {
    border-bottom: 1px solid #B3B3B3;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

#CRM_Calendar_Event_Personal table.edit .data {
    border-bottom: none;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
}

#CRM_Calendar_Event_Personal table.edit {
	border: none;
}

#CRM_Calendar_Event_Personal .data input,
#CRM_Calendar_Event_Personal .data select,
#CRM_Calendar_Event_Personal .data textarea {
    border: 0px;
    background-color: #e6ecf2;
    width: 100%;
}

#CRM_Calendar_Event_Personal .data textarea {
	height: 134px;
}

#CRM_Calendar_Event_Personal .data input[type="checkbox"],
#CRM_Calendar_Event_Personal .data input[type="radio"] {
    width: auto;
}

#CRM_Calendar_Event_Personal .data input:focus,
#CRM_Calendar_Event_Personal .data select:focus,
#CRM_Calendar_Event_Personal .data textarea:focus {
    /*background-color: #f2f2e6;
    background-color: #ffffa5;*/
    background-color: #ffffa5;
}

#CRM_Calendar_Event_Personal #multiselect .form-element select,
#CRM_Calendar_Event_Personal #multiselect .to-element select {
    width: 150px;
    height: 100px;
}

#CRM_Calendar_Event_Personal .data input#due_date {
    display: block;
    margin-top: 1px;
    float: left;
}

#CRM_Calendar_Event_Personal .data a.button {
    height: 19px;
    display: block;
    float: right;
}


#CRM_Calendar_Event_Personal .no-border,
#CRM_Calendar_Event_Personal table.no-border {
	border-top: none;
}

#CRM_Calendar_Event_Personal #time_s,
#CRM_Calendar_Event_Personal #time_e {
	display: block;
	float: right;
	padding-top: 2px;
}

#CRM_Calendar_Event_Personal .time_s input,
#CRM_Calendar_Event_Personal .time_e input {
	width: 100px;
}

#CRM_Calendar_Event_Personal #time_s select,
#CRM_Calendar_Event_Personal #time_e select {
	width: auto;
}

#CRM_Calendar_Event_Personal .status   select option[value="0"],
#CRM_Calendar_Event_Personal .status   select option[value="1"],
#CRM_Calendar_Event_Personal .status   select option[value="2"],
#CRM_Calendar_Event_Personal .status   select option[value="3"],
#CRM_Calendar_Event_Personal .priority select option[value="0"],
#CRM_Calendar_Event_Personal .priority select option[value="1"],
#CRM_Calendar_Event_Personal .priority select option[value="2"],
#CRM_Calendar_Event_Personal .access   select option[value="0"],
#CRM_Calendar_Event_Personal .access   select option[value="1"],
#CRM_Calendar_Event_Personal .access   select option[value="2"] {
	background-color: white;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 1px 0px;
}

#CRM_Calendar_Event_Personal .status select option[value="3"] { background-image: url('CRM/Calendar/Event/status-canceled.png');    }
#CRM_Calendar_Event_Personal .status select option[value="2"] { background-image: url('CRM/Calendar/Event/status-closed.png');      }
#CRM_Calendar_Event_Personal .status select option[value="1"] { background-image: url('CRM/Calendar/Event/status-in-progress.png'); }
#CRM_Calendar_Event_Personal .status select option[value="0"] { background-image: url('CRM/Calendar/Event/status-open.png');        }

#CRM_Calendar_Event_Personal .status_3 { background-image: url('CRM/Calendar/Event/status-canceled.png');    }
#CRM_Calendar_Event_Personal .status_2 { background-image: url('CRM/Calendar/Event/status-closed.png');      }
#CRM_Calendar_Event_Personal .status_1 { background-image: url('CRM/Calendar/Event/status-in-progress.png'); }
#CRM_Calendar_Event_Personal .status_0 { background-image: url('CRM/Calendar/Event/status-open.png');        }

#CRM_Calendar_Event_Personal .priority select option[value="0"] { background-image: url('CRM/Calendar/Event/priority-low.png');    }
#CRM_Calendar_Event_Personal .priority select option[value="1"] { background-image: url('CRM/Calendar/Event/priority-medium.png'); }
#CRM_Calendar_Event_Personal .priority select option[value="2"] { background-image: url('CRM/Calendar/Event/priority-high.png');   }

#CRM_Calendar_Event_Personal .priority_0 { background-image: url('CRM/Calendar/Event/priority-low.png');    }
#CRM_Calendar_Event_Personal .priority_1 { background-image: url('CRM/Calendar/Event/priority-medium.png'); }
#CRM_Calendar_Event_Personal .priority_2 { background-image: url('CRM/Calendar/Event/priority-high.png');   }

#CRM_Calendar_Event_Personal .access select option[value="0"] { background-image: url('CRM/Calendar/Event/access-public.png');    }
#CRM_Calendar_Event_Personal .access select option[value="1"] { background-image: url('CRM/Calendar/Event/access-read-only.png'); }
#CRM_Calendar_Event_Personal .access select option[value="2"] { background-image: url('CRM/Calendar/Event/access-private.png');   }

#CRM_Calendar_Event_Personal .access_0 { background-image: url('CRM/Calendar/Event/access-public.png');    }
#CRM_Calendar_Event_Personal .access_1 { background-image: url('CRM/Calendar/Event/access-read-only.png'); }
#CRM_Calendar_Event_Personal .access_2 { background-image: url('CRM/Calendar/Event/access-private.png');   }

#CRM_Calendar_Event_Personal .access .icon,
#CRM_Calendar_Event_Personal .priority .icon,
#CRM_Calendar_Event_Personal .status .icon {
	height: 12px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 6px;
	display: block;
	float: left;
	background-repeat: no-repeat;
}

#CRM_Calendar_Event_Personal .access .icon,
#CRM_Calendar_Event_Personal .status .icon {
	width: 12px;
}

#CRM_Calendar_Event_Personal .priority .icon {
	width: 24px;
}

/* colors select */

select[name="color"] option[value="0"] { color: #339933; background-color: white; }
select[name="color"] option[value="1"] { color: #339933; background-color: white; }
select[name="color"] option[value="2"] { color: #999933; background-color: white; }
select[name="color"] option[value="3"] { color: #993333; background-color: white; }
select[name="color"] option[value="4"] { color: #336699; background-color: white; }
select[name="color"] option[value="5"] { color: #808080; background-color: white; }
select[name="color"] option[value="6"] { color: #339999; background-color: white; }
select[name="color"] option[value="7"] { color: #993399; background-color: white; }

#CRM_Calendar_Event_Personal .color_0 { color: #339933; }
#CRM_Calendar_Event_Personal .color_1 { color: #339933; }
#CRM_Calendar_Event_Personal .color_2 { color: #999933; }
#CRM_Calendar_Event_Personal .color_3 { color: #993333; }
#CRM_Calendar_Event_Personal .color_4 { color: #336699; }
#CRM_Calendar_Event_Personal .color_5 { color: #808080; }
#CRM_Calendar_Event_Personal .color_6 { color: #339999; }
#CRM_Calendar_Event_Personal .color_7 { color: #993399; }

/* header day */

#CRM_Calendar_Event_Personal .header-day {
	height: 50px;
	text-align: center;
	background-color: white;
	/*background-color: #B3B3B3;
	background-image: url('images/day-header.png');
	background-repeat: repeat-x;*/
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-size: 18px;
	color: black;
	vertical-align: middle;
}

/* header new */

#CRM_Calendar_Event_Personal .header-new {
	margin: 10px;
}

#CRM_Calendar_Event_Personal .header-new td {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}

#CRM_Calendar_Event_Personal .header-new .weekday,
#CRM_Calendar_Event_Personal .header-new .day,
#CRM_Calendar_Event_Personal .header-new .month,
#CRM_Calendar_Event_Personal .header-new .time,
#CRM_Calendar_Event_Personal .header-new .duration {
	font-weight: bold;
}

#CRM_Calendar_Event_Personal .header-new .weekday,
#CRM_Calendar_Event_Personal .header-new .month {
	font-size: 13px;
}

#CRM_Calendar_Event_Personal .header-new .day {
	font-size: 50px;
}

/* Additional Info Button */

.AdditionalInfoButton {
	width: 120px;
	height: 20px;
	background-color: #336699;
	background-image: url('images/header-blue.gif');
	background-repeat: repeat-x;
	color: white;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	margin-right: 610px;
}

.AdditionalInfoButton:hover {
	background-image: url('images/header-blue-hover.gif');
}

.AdditionalInfoButton img {
	vertical-align: middle;
	padding: 3px;
}

/* */

/* no shadow in tables */

#CRM_Calendar_Event_Personal .attachments_messages .shadow-top,
#CRM_Calendar_Event_Personal .attachments_messages .shadow-middle,
#CRM_Calendar_Event_Personal .attachments_messages .shadow-bottom {
	display: none;
}

#CRM_Calendar_Event_Personal .attachments_messages .layer {
	padding: 0px;
	width: 100%;
}

#CRM_Calendar_Event_Personal .attachments_messages .layer .margin2px {
	padding: 0px;
}

/* header */

.CRM_Calendar_Event__header {
    width: 100%;
    vertical-align: middle;
    height: 31px;
}

.CRM_Calendar_Event__header .icon {
    width: 32px;
    height: 27px;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
    background-color: #666666;
    background-image: url('images/dark-gray.gif');
}

.CRM_Calendar_Event__header .icon img {
    position: absolute;
    clip: rect(0px 32px 28px 0px);
}

.CRM_Calendar_Event__header .name {
    width: 290px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 7px;
    height: 24px;
    vertical-align: top;
    background-image: url('images/dark-gray-gradient.gif');
    background-repeat: repeat-y;
}

.CRM_Calendar_Event__header .required_fav_info {
    color: #777777;
    text-align: right;
    padding-right: 20px;
    vertical-align: middle;
}

.CRM_Calendar_Event__header .required_fav_info img {
    vertical-align: middle;
}

/* multiselect 100% width */

#CRM_Calendar_Event_Personal #multiselect .form-element select,
#CRM_Calendar_Event_Personal #multiselect .to-element select {
	width: 100%;
}

.employees {
	border-right: 1px solid #b3b3b3;
}

#CRM_Calendar_Event_Personal .smalltext textarea {
	height: 16px;
}
