a.utils_gallery_picture_link {
	text-decoration: none;
	font-weight: bold;
	padding: 4px;
	margin: 2px;
}

a.utils_gallery_picture_link:hover {
	border: 1px solid black;
	background: #efefff;
	padding: 3px;
}
.utils_gallery_item {
	border: 1px solid black;
	padding: 5px;
	margin: 10px;
	vertical-align: bottom;
}

.utils_gallery_preview {
	padding: 5px;
	margin: 10px;
}

.utils_gallery_prewiev_list {
	border-top: 1px dashed black;
	margin-top: 15px;
	width: 600px;
	height: 200px;
	overflow: auto;
	vertical-align: bottom;
}

.utils_gallery_prewiev_list_item {
	vertical-align: bottom;
}