div.utils_gallery__conteiner {
    overflow: hidden;
    overflow-y: auto;
}
table.Utils_Gallery a.utils_gallery_picture_link {
	text-decoration: none;
	font-weight: bold;
	padding: 4px;
	margin: 2px;
}

table.Utils_Gallery a.utils_gallery_picture_link:hover {
}

table.Utils_Gallery .utils_gallery_item {
	border: 1px solid #B3B3B3;
	padding: 5px;
	margin: 10px;
	vertical-align: bottom;
}

table.Utils_Gallery .utils_gallery_preview {
	padding: 5px;
	margin: 10px;
}

table.Utils_Gallery .utils_gallery_prewiev_list {
	border-top: 1px dashed #B3B3B3;
	margin-top: 15px;
	width: 600px;
	height: 200px;
	overflow: auto;
	vertical-align: bottom;
}

table.Utils_Gallery .utils_gallery_prewiev_list_item {
	vertical-align: bottom;
}
