.Base_Help__tools {
	z-index:9001;
	background:none;
	position:fixed;
	top:0px;
}

.Base_Help__tools.comment {
	font-size: 20px;
	background-color: rgba(128, 70, 70, 0.9);
	padding: 10px;
	border: 6px solid #900;
	color: white;
	text-shadow: 1px 1px 2px black;
	max-width: 300px;
	border-radius: 10px;
	box-shadow: 1px 1px 2px black inset, 2px 2px 4px black;
}

.Base_Help__tools.comment .button_next {
	float: right;
	background-color: #EEE;
	font-size: 18px;
	margin: 6px 4px 2px;
	padding: 4px;
	border: 1px solid #333;
	border-radius: 6px;
	cursor: pointer;
	background: #b8b8b8; /* Old browsers */
	background: -moz-linear-gradient(top,  #b8b8b8 0%, #a7a7a7 49%, #919191 51%, #b1b1b1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8b8b8), color-stop(49%,#a7a7a7), color-stop(51%,#919191), color-stop(100%,#b1b1b1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b8b8b8 0%,#a7a7a7 49%,#919191 51%,#b1b1b1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b8b8b8 0%,#a7a7a7 49%,#919191 51%,#b1b1b1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b8b8b8 0%,#a7a7a7 49%,#919191 51%,#b1b1b1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b8b8b8 0%,#a7a7a7 49%,#919191 51%,#b1b1b1 100%); /* W3C */
}

#Base_Help__overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #333;
	-moz-opacity: 0.9;
	opacity: .90;
	filter: alpha(opacity=90);
}
.tutorial_links a {
	display: block;
	font-size: 19px;
	padding: 3px 10px;
}

.tutorial_links {
	height: 290px;
	overflow: hidden;
}

#Base_Help__menu {
	position: fixed;
	top: 20px;
	right: 40px;
	width: 470px;
	height: 370px;
	z-index: 1001;
	background-color: #F7F7BA;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 7px -1px black;
	-moz-box-shadow: 2px 2px 7px -1px black;
	box-shadow: 2px 2px 7px -1px black;
}

#Base_Help__search {
	width: 442px;
	margin: 10px;
	padding: 4px;
	font-size: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 7px -1px black;
	-moz-box-shadow: 2px 2px 7px -1px black;
	box-shadow: 2px 2px 7px -1px black;
}

#Base_Help__click_icon {
	position: fixed;
	z-index: 9002;
}

#Base_Help__help_close_menu {
	position: absolute;
	cursor: pointer;
	bottom: 5px;
	right: 5px;
	font-size: 16px;
	font-weight: bold;
	height: 20px;
}

#Base_Help__help_close_menu img {
	margin-left: 4px;
	float: right;
}