table#Tools_FontSize__FontSize .Base_FontSize_Increase {
	display:block;
	text-decoration: none;
	border: 1px solid black;
	background: transparent;
	width: 2em;
	height: 2em;
}

table#Tools_FontSize__FontSize .Base_FontSize_Increase:hover {
	border: 1px solid black;
	background: #DDDDFF;
	width: 2em;
	height: 2em;
}

table#Tools_FontSize__FontSize .Base_FontSize_Decrease {
	display:block;
	text-decoration: none;
	border: 1px solid black;
	background: transparent;
	width: 2em;
	height: 2em;
}

table#Tools_FontSize__FontSize .Base_FontSize_Decrease:hover {
	border: 1px solid black;
	background: #FFCCCC;
	width: 2em;
	height: 2em;
}
