.Base_StatusBar {
	text-align: center; 
	border: 1px solid black; 
	background-color: #ebebeb;
	z-index: 1001;
	width: 100%;
	height: 30px;
	display: none;
	top: 25%;
	left: 25%;
}
.Base_StatusBar_ie {
	text-align: center; 
	border: 1px solid black; 
	background-color: #ebebeb;
	z-index: 1001;
	width: 100%;
	height: 30px;
	display: none;
	top: expression( ( ignoreMe = (document.documentElement.scrollTop + document.documentElement.clientHeight/4) ) + 'px' );
	left: 25%;
}

#Base_StatusBar__error_message {
	background-color: red;
}

#Base_StatusBar__warning_message {
	background-color: #EE5555;
}

.Base_StatusBar__overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #600;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity=50);
}

.Base_StatusBar__overlay_ie {
	display: none;
	position: absolute;
	top: expression( ( ignoreMe_over = document.documentElement.scrollTop ) + 'px' );
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #600;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity=50);
}
