#statusbar_content {
	background: white;
	height: 100%;
	padding: 5px;
	border-radius: 10px;
}

.Base_StatusBar img {
	position: absolute;
	left: 30px;
	top: 35px;
	z-index: 2002;
}

.Base_StatusBar {
	z-index: 2001;
  	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(128, 128, 128, 0.3);
}

.Base_StatusBar div.layer {
  	position: fixed;
    padding: 10px;
	width: 210px;
	left: 50%;
	top: 30%;
	margin-left: -110px;
}

.Base_StatusBar .message {
	width: 140px;
	min-height: 20px;
	line-height: 20px;
	padding: 25px 0 25px 60px;

    font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans;
	font-size: 14px;
	font-weight: bold;
	color: #336699;
	
	text-shadow: 1px 1px 2px #bbb;
	
	background-repeat: no-repeat;
	background-position: 15px 50%;

	border-radius: 6px;
	
	box-shadow: inset 2px 2px 4px #777;
}

.Base_StatusBar .message .message {
	margin-left: -60px;
	margin-top: -25px;
	margin-bottom: -25px;
}

.Base_StatusBar .loading.message {
	background-image: url('Base/StatusBar/loader.gif');
	background-color: #EEEEFF;
}
.Base_StatusBar .normal.message {
	background-image: none;
	background-color: #EEEEFF;
    padding-left: 0;
    width: 200px;
}
.Base_StatusBar .warning.message {
	background-image: none;
	background-color: #FFEE66;
	color: #000000;
    padding-left: 0;
    width: 200px;
}
.Base_StatusBar .error.message {
	background-image: none;
	background-color: #BB0000;
    color: #FFFFFF;
    padding-left: 0;
    width: 200px;
}
