#CRM_Contacts__Contact {
    width: 100%;
    border-top: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
}

#CRM_Contacts__Contact table {
    width: 100%;
}

#CRM_Contacts__Contact td.left-column  { width: 50%; vertical-align: top; }
#CRM_Contacts__Contact td.right-column { width: 50%; vertical-align: top; }

#CRM_Contacts__Contact .label {
    background-color: #336699;
    color: #FFFFFF;
    border-bottom: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    height: 20px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    width: 30%;
}

#CRM_Contacts__Contact .data {
    border-bottom: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    padding-left: 2px;
    padding-right: 2px;
    width: 70%;
}

#CRM_Contacts__Contact .data input,
#CRM_Contacts__Contact .data select,
#CRM_Contacts__Contact .data textarea {
    border: 0px;
    background-color: #e6ecf2;
    width: 100%;
}

#CRM_Contacts__Contact .data input:focus,
#CRM_Contacts__Contact .data select:focus,
#CRM_Contacts__Contact .data textarea:focus {
    background-color: #f2f2e6;
    background-color: #e6e6cf;
}

.CRM_Contacts__table {
    width: 100%;
    vertical-align: middle;
    height: 31px;
}

.CRM_Contacts__table .icon {
    width: 32px;
    height: 27px;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
    background-color: #336699;
}

.CRM_Contacts__table .icon img {
    position: absolute;
    clip: rect(0px 32px 28px 0px);
}

.CRM_Contacts__table .name {
    width: 290px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 7px;
    height: 24px;
    vertical-align: top;
    background-image: url('images/blue-gradient.png');
    background-repeat: repeat-y;
}

.CRM_Contacts__table .required_fav_info {
    color: #777777;
    text-align: right;
    padding-right: 20px;
}

#CRM_Contacts__Contact .create-company input {
    width: auto;
}
