#google {
    background-color: #f0f0f0;
    background-image: url('Applets/Google/background.png');
    background-repeat: repeat-x;
    text-align: center;
    height: 100px;
}

#google input {
    height: 16px;
    border: 1px solid #B3B3B3;
    font-size: 13px;
    vertical-align: middle;
}

#google .button {
    border: none;
    color: #ffffff;
    text-align: center;
    width: 100px;
    height: 20px;
	cursor: pointer;

	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
	
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 3px black;
	-moz-box-shadow: 1px 1px 3px black;
	box-shadow: 1px 1px 3px black;
	/* end css3 shadow border*/

	/*dark css3 green background gradient */
	background: #226622; /* Old browsers */
	/* end dark css3 green background gradient */
}

#google .button:hover {
	/*light css3 green background gradient */
	background: #226622; /* Old browsers */
	/* end light css3 green background gradient */
}
