#google {
    background-color: #f0f0f0;
    background-image: url('Applets_Google__background.png');
    background-repeat: repeat-x;
    text-align: center;
}

#google input {
    height: 16px;
    border: 1px solid #B3B3B3;
    font-size: 11px;
    vertical-align: middle;
}

#google .button {
    border: 0px;
    background-color: #336699;
    background-image: url('images/header-blue.png');
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-align: center;
    width: 80px;
    height: 20px;
}

#google .button:hover {
    background-image: url('images/header-blue-hover.png');
}