#Utils_Planner__grid .header {
	border: 1px solid #B3B3B3;
	padding: 0px;
	display: flex;
	align-items: center;

	/* css3 gray gradient - calendar */
	background: #ffffff; /* Old browsers */
	/* end css3 gray gradient - calendar */
}

#Utils_Planner__grid .header > div {
	color: #336699;
	display: block;
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
	text-align: center;
	width: 100%;
}

#Utils_Planner__grid .header > div > input {
	width: 80%;
	min-width: 0px;
	height: auto;
	margin:  2px auto auto auto;
}

#Utils_Planner__grid .epesi_label.grid_legend {
	padding: 0px 4px;
	height: 29px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
}

#Utils_Planner__grid .used {
	border: 1px solid;
}

#Utils_Planner__grid .noconflict.used {
	background-color: #8DE88D;
	cursor: pointer;
}
#Utils_Planner__grid .noconflict.unused {
	background-color: #E0EDE0;
	cursor: pointer;
}

#Utils_Planner__grid .conflict.used {
	background-color: #FF4444;
}
#Utils_Planner__grid .conflict.unused {
	background-color: #FFBBBB;
}

#Utils_Planner__resource_table .epesi_label {
	width: 100px;;
}
#Utils_Planner__resource_table .epesi_data {
    width: 150px;
}
#Utils_Planner__resource_table .epesi_data input[type="text"],
#Utils_Planner__resource_table .epesi_data select {
    width: 97%;
}
#Utils_Planner__resource_table option.conflict,
#Utils_Planner__resource_table select.conflict {
	background-color: #FFBBBB;
}

#Utils_Planner__resource_table option.noconflict,
#Utils_Planner__resource_table select.noconflict {
    background-color: #FFFFFF;
}
#Utils_Planner__time_frames .time_frames {
	width: 100%;
    background-color: #F2F2F2;
    /* border radius */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* end border radius */
}


#Utils_Planner__time_frames .time_frames > div {
    border-right: 1px solid gray;
    text-align: center;
}
