#Filters_header,
.Filters_header {
	color: #FFFFFF;
	background-color: #336699;
	background-image: url("images/header-blue.gif");
	background-repeat: repeat-x;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.Filters_header {
	font-weight: normal;
}

#Filters_header .left {
	width: 20px;
	display: block;
	float: left;
}

#Filters_header .center {
	display: block;
	float: left;
	padding-top: 3px;
	font-weight: bold;
	text-align: center;
}

#Filters_header .right {
	width: 17px;
	display: block;
	float: right;
	padding-top: 3px;
	padding-right: 3px;
}

/* button */

table#CRM_Filters .big-button {
	background-color: #F0F0F0;
	border: 1px solid #FFFFFF;
	background-repeat: repeat-x;
	vertical-align: middle;
	text-align: center;
	font-size: 11px;
	display: block;
	cursor: pointer;
	height: 60px;
	background-image: url("images/big-button.png");
	padding-top: 10px;
}

table#CRM_Filters .big-button:hover {
	background-color: #FFFFFF;
	background-image: url("images/big-button-hover.png");
}

table#CRM_Filters a .big-button {
	color: #336699;
	font-weight: bold;
}

table#CRM_Filters a .big-button .desc {
	font-weight: normal;
}

table#CRM_Filters .big-button span {
	display: block;
}

table#CRM_Filters .big-button span.text {
	padding-bottom: 5px;
}

table#CRM_Filters .big-button span.desc {
	width: 100px;
	text-align: left;
	margin-left: 10px;
}

/* small button */

table#CRM_Filters .button-small {
	display: block;
	line-height: 20px;
	width: 200px;
	border: 0px;
	color: #FFFFFF;
	background-color: #336699;
	text-align: center;
}

table#CRM_Filters .button-small:hover {
	background-color: #339933;
	color: #FFFFFF;
}

/* a */

table#CRM_Filters a:hover {
	color: #993333;
}

table#CRM_Filters .crm_followup_leightbox_note textarea {
	width: 100%;
}

table#CRM_Filters .crm_followup_leightbox_note {
	width: 100%;
}
