table#Base_Admin .big-button {
	/*width: 200px;*/
	color: #336699;
	font-weight: bold;
	width: auto;
	height: 60px;
	background-color: #F0F0F0;
	border: 1px solid #FFFFFF;
	background-image: url("images/big-button.png");
	background-repeat: repeat-x;
	vertical-align: middle;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 11px;

	display: block;
	padding-top: 20px;
	cursor: pointer;
	cursor: hand; /* css2 */
}

table#Base_Admin .big-button:hover {
	color: #993333;
	background-color: #FFFFFF;
	background-image: url("images/big-button-hover.png");
	background-repeat: repeat-x;
}

table#Base_Admin a {
	color: #336699;
	font-weight: bold;
}

table#Base_Admin a:hover {
	color: #993333;
}

table#Base_Admin .header {
	color: #FFFFFF;
	background-color: #336699;
	background-image: url("images/header-blue.png");
	background-repeat: repeat-x;
	height: 20px;
	text-align: center;
	vertical-align: middle;
}

table#Base_Admin .big-button table td {
	text-align: left;
	vertical-align: middle;
}
