div.path_conteiner {
	text-align: left;
	font-size: 150%;
}

a.path_link {
	text-align: left;
	text-decoration: none;
	margin: 3px;
	padding: 2px 5px 3px 5px;
}

a.path_link:hover {
	border: 1px solid #CCCCCC;
	background: #f2f5ff;
	margin: 2px;
}

a.path_child_link {
	text-align: left;
	display: block;
	text-decoration: none;
	padding: 2px 5px 3px 5px;
}

a.path_child_link:hover {
	/*text-decoration: underline;*/
}

div.path_submenu {
	padding: 2px 5px 3px 5px;
	position: absolute;
	visibility: hidden;
	
	border: 2px solid #336699;
	background-color: #F0F0F0;
	font-size: 10px;
	color: #336699;
}

div.path_submenu a:hover {
	text-decoration: none;
}

.utils_path_custom_iframe {
	position: absolute;
	display: none;
	z-index: 900;
}