table.root {
	border: 0px;
	background-color: #595959;
	background-image: url("images/header-black.png");
	background-repeat: repeat-x;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	z-index: 1000;
	font-weight: bold;
	border-right: 4px solid #B3B3B3;
}

a.root_item_link_down,
a.root_item_link_down:hover {
	color: white;
}

.root img {
	display: none;
}

.submenu img {
	display: block;
}

table.root td.separator {
	width: 4px;
	height: 20px;
	background-color: #B3B3B3;
}

.submenu {
	margin-top: 2px;
	margin-left: -1px;
	list-style-type: none;
	opacity: 1;
	background: white;
	vertical-align: top;
	overflow: visible;
	display: none;
	font-weight: normal;
	background-color: #336699;
}

a.root_item_link {
	padding: 0px 25px 0px 25px;
	display: block; /* for HTML standards... */
	margin: 0px;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	z-index: 1000;
	padding-top: 4px;
	padding-bottom: 3px;
}

a.root_item_link_down {
	display: block; /* for HTML standards... */
	margin: 0px;
	font-size: 11px;
	border: 0px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	z-index: 1000;
}

.root_item_link_down_arrow {
	padding: 0px 25px 0px 25px;
	background: url("Utils/Menu/arrow_down.png") no-repeat center right;
	_background: url("Utils/Menu/arrow_down.gif") no-repeat center right;
}

a.root_item_link_none {
	padding: 0px 25px 0px 25px;
	display: block; /* for HTML standards... */
	margin: 0px;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	z-index: 1000;
	padding-top: 4px;
	padding-bottom: 3px;
}

a.root_item_link_right {
	display: block; /* for HTML standards... */
	margin: 0px;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
	white-space: nowrap;
	z-index: 1000;
	padding-top: 4px;
	padding-bottom: 3px;
}

.root_item_link_right_arrow {
	padding: 0px 25px 0px 25px;
	background: url("Utils/Menu/arrow.png") no-repeat center right;
	_background: url("Utils/Menu/arrow.gif") no-repeat center right;
}

img.link_bullet {
	float: right;
	margin: 5px;
	vertical-align: middle;
	z-index: 1000;
}

img.link_icon {
	float: left;
	margin: 3px;
	vertical-align: middle;
	z-index: 1000;
	/*position: absolute;*/
	width: 14px;
	height: 14px;
}

table.root a.root_item_link_down:hover {
	background-color: #649464;
	/*background-image: url("images/header-black-hover.png");*/
	background-image: url("images/header-green-dark.png");
	background-repeat: repeat-x;
}

table.root a.root_item_link_down {
	padding-top: 3px;
	padding-bottom: 4px;
}

table.root a.root_item_link_down:hover {
	background-color: #6C99D7;
}

.custom_opener {
	margin: 0px;
	padding: 0px;
	width: 100%;
	z-index: 1000;
}

td.item {
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	z-index: 1000;
}

td.item_sub {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	z-index: 1000;
}

td.splitter {
	vertical-align: middle;
	z-index: 1000;
	height: 1px;
	background-color: #B3B3B3;
}

/* ---------- */

td.splitter {
	/*background-color: #b3b3b3;*/
	background-color: #336699;
	height: 2px;
}

.submenu,
a.root_item_link,
a.root_item_link_none,
a.root_item_link_right {
	/*border-color: #336699;
	background-color: #e6ecf2;
	background-color: #cfdbe6;
	background-color: #f1f3f5;
	color: black;*/

	background-color: #cfdbe6;
	color: #333333;
	border: 0px;
	background-image: url('Utils/Menu/menu-icon-back.png');
	background-repeat: no-repeat;
}

.submenu {
	border: 1px solid #336699;
}

a.root_item_link:hover,
a.root_item_link_none:hover,
a.root_item_link_right:hover {
	/*background-color: #e6ecf2;
	background-color: #cfdbe6;*/
	/*background-image: url('images/header-blue-light-hover.png');
	background-position: 0px 2px;*/

	background-color: #336699;
	color: white;
	/*background-image: url('Utils/Menu/menu-icon-back.png');
	background-repeat: no-repeat;*/
	background-image: none;
}

a.root_item_link:hover .root_item_link_right_arrow,
a.root_item_link_none:hover .root_item_link_right_arrow,
a.root_item_link_right:hover .root_item_link_right_arrow {
	padding: 0px 25px 0px 25px;
	background: url("Utils/Menu/arrow_hover.png") no-repeat center right;
	_background: url("Utils/Menu/arrow_hover.gif") no-repeat center right;
}
