#activeboard .applet {
	padding: 5px;
}

#activeboard .handle {
	border: 1px solid gray;
	cursor: move;
}

#activeboard .content {
	border: 1px solid gray;
	background-color: #fbfbfb;
}

#activeboard .handle .toggle, #activeboard .handle .remove, #activeboard .handle .configure {
	cursor: pointer;
}
