#activeboard .applet {
	padding: 5px;
}

#activeboard .handle {
	cursor: move;
}

#activeboard .handle .toggle, #activeboard .handle .remove, #activeboard .handle .configure {
	cursor: pointer;
}

#activeboard .content_td {
	border: 1px solid gray;
	background-color: #fbfbfb;
}

#activeboard .container {
	width: 100%; 
	border: 1px solid gray;
}

#activeboard .controls {
	text-align:right;
}

