.filter_icon_img {
	width: 20px;
	height: 20px;
    position: relative;
    left: 253px;
    bottom: 18px;
	background: url("Base/Box/filter_icon.png") no-repeat right;
}
.epesi_rtl .filter_icon_img {
    left: 0px;
}
#top_bar #top_bar_2 .filter {
    padding-top: 5px;
	padding-left: 2px;
}

#top_bar #top_bar_2 .filter a {
    cursor: pointer;
    display: block;
    height: 21px;
    width: 273px;
    padding: 6px 0 0;
    text-align: center;
	line-height: 15px;
	margin-left: 2px;
}

#CRM_Filters .filters-autoselect input,
#CRM_Filters .filters-autoselect select {
	width: 180px;
}