.filter_icon_img {
	width: 20px;
	height: 20px;
    position: relative;
    left: 253px;
    bottom: 18px;
	background: url("Base/Box/filter_icon.png") no-repeat right;
}
.epesi_rtl .filter_icon_img {
    left: 0px;
}

#CRM_Filters .filters-autoselect input,
#CRM_Filters .filters-autoselect select {
	width: 180px;
}
