@CHARSET "ISO-8859-1";

/*
#Utils_Tasks .QForm_multiselect {
	border: 1px solid #B3B3B3;
}

#Utils_Tasks .QForm_multiselect_left {
}

#Utils_Tasks .QForm_multiselect_right {
}
*/

#Utils_Tasks table.form {
	background-color: #FFFFFF;
	width: 100%;
	background-color: white;
	white-space: nowrap;
	border-top: 1px solid #b3b3b3;
	border-left: 1px solid #b3b3b3;
	border-right: 1px solid #b3b3b3;
}

#Utils_Tasks table.form td.nowrap {
	white-space: nowrap;
}

#Utils_Tasks table.x_details td.x_show_details {
	background: #BEbEbE;
	color: blue;
}

#Utils_Tasks table.form span.error {
	color: red;
}

/* label */
/*
#Utils_Tasks .label {
	background-color: #336699;
	color: #FFFFFF;
	height: 20px;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border-bottom: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
}
*/
/* data */
/*
#Utils_Tasks .data {
	height: 20px;
	vertical-align: middle;
	background-color: #FFFFFF;
	text-align: left;
	border-bottom: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
	padding-left: 1px;
	padding-right: 1px;
}

#Utils_Tasks .data a.button {
	color: #FFFFFF;
	background-color: #336699;
	padding: 4px 5px 3px 5px;
	border-bottom: 1px solid #B3B3B3;
}

#Utils_Tasks .data a.button:hover {
	background-color: #339933;
}
*/

#Utils_Tasks .arrows input {
	border: 0px;
	background-color: #336699;
	color: #FFFFFF;
	width: 40px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
}

#Utils_Tasks .arrows input:hover {
	background-color: #339933;
}

#Utils_Tasks .title,
#Utils_Tasks .title input {
	font-size: 14px;
}

#Utils_Tasks .title input {
	margin-top: 2px;
	margin-bottom: 2px;
}


#Utils_Tasks td img {
	vertical-align: middle;
}

#Utils_Tasks .label {
    background-color: #336699;
    color: #FFFFFF;
    border-bottom: 1px solid #B3B3B3;
    height: 20px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

#Utils_Tasks table.view .data {
    border-bottom: 1px solid #B3B3B3;
    padding-left: 5px;
    padding-right: 5px;
}

#Utils_Tasks table.edit .data {
    border-bottom: none;
    padding-left: 4px;
    padding-right: 4px;
}

#Utils_Tasks table.edit {
	border: none;
}

#Utils_Tasks .data input,
#Utils_Tasks .data select,
#Utils_Tasks .data textarea {
    border: 0px;
    background-color: #e6ecf2;
    width: 100%;
}

#Utils_Tasks .data textarea {
	height: 100%;
}

#Utils_Tasks .data input[type="checkbox"],
#Utils_Tasks .data input[type="radio"] {
    width: auto;
}

#Utils_Tasks .data input:focus,
#Utils_Tasks .data select:focus,
#Utils_Tasks .data textarea:focus {
    /*background-color: #f2f2e6;
    background-color: #e6e6cf;*/
    background-color: #ffffa5;
}

#Utils_Tasks #multiselect .form-element select,
#Utils_Tasks #multiselect .to-element select {
    width: 150px;
    height: 100px;
}

#Utils_Tasks .data input#due_date {
    display: block;
    margin-top: 1px;
    float: left;
}

#Utils_Tasks .data a.button {
    height: 19px;
    display: block;
    float: right;
}


#Utils_Tasks .no-border,
#Utils_Tasks table.no-border {
	border-top: none;
}

#Utils_Tasks .priority select option[value="0"],
#Utils_Tasks .priority select option[value="1"],
#Utils_Tasks .priority select option[value="2"],
#Utils_Tasks .permission   select option[value="0"],
#Utils_Tasks .permission   select option[value="1"],
#Utils_Tasks .permission   select option[value="2"],
#Utils_Tasks .priority select option[value="3"] {
	background-color: white;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 1px 0px;
}

#Utils_Tasks .priority select option[value="0"] { background-image: url('Utils_Tasks__priority-low.png');    }
#Utils_Tasks .priority select option[value="1"] { background-image: url('Utils_Tasks__priority-medium.png'); }
#Utils_Tasks .priority select option[value="2"] { background-image: url('Utils_Tasks__priority-high.png');   }

#Utils_Tasks .permission select option[value="0"] { background-image: url('Utils_Tasks__access-public.png');    }
#Utils_Tasks .permission select option[value="1"] { background-image: url('Utils_Tasks__access-read-only.png'); }
#Utils_Tasks .permission select option[value="2"] { background-image: url('Utils_Tasks__access-private.png');   }

#Utils_Tasks .permission .icon,
#Utils_Tasks .priority .icon {
	width: 24px;
	height: 12px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	display: block;
	float: left;
}
/* colors select */

select[name="color"] option[value="0"] { color: #339933; background-color: white; }
select[name="color"] option[value="1"] { color: #339933; background-color: white; }
select[name="color"] option[value="2"] { color: #999933; background-color: white; }
select[name="color"] option[value="3"] { color: #993333; background-color: white; }
select[name="color"] option[value="4"] { color: #336699; background-color: white; }
select[name="color"] option[value="5"] { color: #808080; background-color: white; }
select[name="color"] option[value="6"] { color: #339999; background-color: white; }
select[name="color"] option[value="7"] { color: #993399; background-color: white; }
