.CRM_Calendar_Utils_Dropdown_main {
	background-color: #336699;
	display: block;
	width: 100px;
	line-height: 20px;
	cursor: pointer;
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	padding-left: 1px;
	background-image: url('images/list.png');
	background-repeat: no-repeat;
	background-position: 88px;
}

.CRM_Calendar_Utils_Dropdown_main:hover {
	background-color: #339933;
}

.CRM_Calendar_Utils_Dropdown_Hidden {
	position: absolute;
	visibility: hidden;
	border: 1px solid #336699;
	background-color: white;
	text-align: left;
	list-style-type: none;
	z-index: 20020;
	color: #336699;
	margin-left: -2px;
	margin-top: -4px;
}

.CRM_Calendar_Utils_Dropdown_ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.CRM_Calendar_Utils_Dropdown_ul a {
	display: block;
	padding: 1px 10px 1px 10px;
	font-size: 11px;
}

.CRM_Calendar_Utils_Dropdown_ul a:hover {
	background-color: #339933;
	color: #FFFFFF;
}

.CRM_Calendar_Utils_Dropdown_Hidden_middle {
	background-color: #336699;
	text-align: center;
	color: #FFFFFF;
	display: block;
	line-height: 20px;
	vertical-align: middle;
}
