#Base_User_Login .main_content {
	margin-top: 10px;
	padding: 10px;
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	align-items: center;
	display: block;
	align: center;
}

#Base_Box__login {
	color: #0A3C5C;
	font-size: 18px;
	width: 95%;
	text-align: center;
	align-items: center;
	background-color: #DADADA;
	vertical-align: bottom;
}

#Base_User_Login .title {
	background-color: #0A3C5C;
	color: #DADADA;;
	font-size: 22px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 300px;
}

#Base_User_Login .title span {
	vertical-align: super;
}

#Base_User_Login a {
	color: #777777;
}

#Base_User_Login span.error {
	color: red;
	

#Base_User_Login .error {
	text-align: center;
	height: 30px;
}

#Base_User_Login .input input {
	color: #0A3C5C;
	border: 1px solid #B3B3B3;
	width: 150px;
	padding: 2px 10px 2px 2px;
}

#Base_User_Login .input input:focus {
	border: 2px solid #0A3C5C;
	background-color: #FFFFA5;
}

#Base_User_Login .button {
	width: 200px;
}

#Base_User_Login .login {
	width: 250px;
}

#Base_User_Login .submit_button input {
	color: #FFFFFF;
	border: 0px;
	width: 200px;
	height: 30px;
	vertical-align: middle;
	cursor: pointer;
	background: #226622;
}

#Base_User_Login input.submit:hover {
	color: #FFFFA5;
	width: 210px;
	height: 35px;
	background: #226622;
}

#Base_User_Login .label {
	font-family: 'Exo 2', sans-serif;
	font-style: bold;
	font-weight: 400;
	font-size: 14;
	height: 30px;
	text-align: right;
}

#Base_User_Login .input {
	font-weight: normal;
	width: 200px;
	height: 30px;
	text-align: left;
}

.epesi_rtl #Base_User_Login .label {
	text-align: left;
}

.epesi_rtl #Base_User_Login .input {
	text-align: right;
}


#Base_User_Login .submit_button {
	text-align: center;
	height: 40px;
	width: 200px;
}

#header_tail {
	width: 300px;
	margin: 20px;
}

#Base_User_Login .footer {
		background-color: #FFFFFF;
		font-size: 14px;
		color: #758f82;
		padding-top: 30px;
		text-align: center;
		align-items: center;
		display: grid;
}


#Base_User_Login .footer a {
	font-weight: bold;
	color: #336699;
}

#Base_User_Login .footer a:hover {
	color: #993333;
}

#Base_User_Login .recover_password {
	text-align: center;
	color: #336699;
	font-weight: bold;
	height: 25px;
	width: 250px;
}

#Base_User_Login .recover_password a {
	color: #777777;
	font-size: 18px;
	height: 50px;
	width: 250px;
}

#Base_User_Login .recover_password a:hover {
	color: #226622;
	font-size: 20px;
	background-color: #E0E0E0;
}

#Base_User_Login .autologin {
	text-align: center;
	height: 40px;
	color: #226622;
	background-color: #E0E0E0;
}

#Base_User_Login .donation_notice {
	text-align: center;
	vertical-align: middle;
	height: 30px; 
	width:100%; 
	font-weight:normal; 
	color: #888;
}

#Base_User_Login .donation_notice a {
	color: #00F;
}

#Base_User_Login .donation_notice a:hover {
	color: #77F;
	text-decoration: underline;
}

.logout_icon_img {
	width: 20px;
	height: 20px;
	position: relative;
	left: 86px;
	bottom: 20px;
	background: url("Base/Box/logout_icon.png") no-repeat right;
}
.logout_icon {
	font-weight: normal;
    color: #FFFFFF;
    width: 150px;
    line-height: 30px;
    height: 30px;
    display: block;
    border: none;
    text-align: center;
    vertical-align: middle;
	background: #226622;
}

.logout_icon:hover,
.logout_icon:focus{
	color: white;
	background: #226622;
}

.logged_as {
	float: right;
	padding-top: 0px;
	margin-left: 6px;
	text-align: left;
	line-height: 30px;
	background-color: #226622;
	color: #E0E0E0;
}

.epesi_rtl .logged_as {
	float: right;
}

.logout_css3_box {
    display: block;
    height: 30px;
    overflow: hidden;
    width: 150px;
	float: right;
}

.epesi_rtl .logout_css3_box {
	float: left;
}


#Base_User_Login .message {
	text-align: center;
	line-height: 30px;
	font-size: 16px;
}
#Base_User_Login .message a {
	font-variant: small-caps;
}