.css3_content_shadow {
}

table#Base_User_Login {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 700;
	border: 1px solid #FFFFFF;
	font-size: 16px;
	background-color: #E0E0E0;
}

table#Base_User_Login .gradient {
	background-color: #ffffff;
	background: #0A3C5C;
}

table#Base_User_Login td.title {
	color: #0A3C5C;
	font-size: 20px;
	text-align: center;
	height: 35px;
}

table#Base_User_Login td.title span {
	vertical-align: super;
	font-size: 10px;
}

table#Base_User_Login a {
	color: #777777;
	font-size: 11px;
}

table#Base_User_Login span.error {
	color: red;
	font-size: 11px;
}

table#Base_User_Login td.error {
	text-align: center;
	height: 20px;
}

table#Base_User_Login td.input input {
	color: #000000;
	border: 1px solid #B3B3B3;
	width: 160px;
	padding: 2px 7px;
}

table#Base_User_Login td.input input:focus {
	background-color: #FFFFA5;
}

table#Base_User_Login td.submit_button input {
	color: #FFFFFF;
	border: 0px;
	width: 100px;
	height: 25px;
	vertical-align: middle;
	cursor: pointer;
	background: #226622;
}

table#Base_User_Login input.submit:hover {
	background: #226622;
}

table#Base_User_Login td.label {
	font-family: 'Exo 2', sans-serif;
	font-style: bold;
	font-weight: 700;
	width: 225px;
	height: 30px;
	color: #000000;
	text-align: right;
}

table#Base_User_Login td.input {
	font-weight: normal;
	width: 325px;
	height: 30px;
	text-align: left;
}

.epesi_rtl table#Base_User_Login td.label {
	text-align: left;
}

.epesi_rtl table#Base_User_Login td.input {
	text-align: right;
}

table#Base_User_Login td.input input {
	font-size: 16px;
}

table#Base_User_Login td.submit_button {
	text-align: center;
	height: 35px;
}

table#Base_User_Login td.header_tail {
	width: 550px;
	height: 200px;
	background-color: #FFFFFF;
}

table#Base_User_Login td.footer {
	color: #336699;
	font-size: 11px;
	text-align: center;
	height: 40px;
	vertical-align: top;
}

table#Base_User_Login td.footer a {
	font-weight: bold;
	color: #336699;
}

table#Base_User_Login td.footer a:hover {
	color: #993333;
}

table#Base_User_Login td.recover_password {
	text-align: center;
	color: #336699;
	font-weight: bold;
	height: 25px;
}

table#Base_User_Login td.recover_password a {
	color: #777777;
}

table#Base_User_Login td.recover_password a:hover {
	color: #000000;
}

table#Base_User_Login td.autologin {
	text-align: center;
	height: 30px;
	color: #777777;
}

table#Base_User_Login td.donation_notice {
	text-align: center;
	vertical-align: middle;
	height: 30px; 
	width:100%; 
	font-weight:normal; 
	color: #888;
}

table#Base_User_Login td.donation_notice a {
	color: #00F;
}

table#Base_User_Login td.donation_notice a:hover {
	color: #77F;
	text-decoration: underline;
}

.logout_icon_img {
	width: 20px;
	height: 20px;
	position: relative;
	left: 86px;
	bottom: 20px;
	background: url("Base/Box/logout_icon.png") no-repeat right;
}
.logout_icon {
	font-weight: normal;
    color: #FFFFFF;
    width: 110px;
    line-height: 21px;
    height: 22px;
    display: block;
    border: none;
    text-align: center;
    vertical-align: middle;
	background: #226622;
}

.logout_icon:hover,
.logout_icon:focus{
	color: white;
	background: #226622;
}

.logged_as {
	float: left;
    height: 30px;
	padding-top: 0px;
	margin-left: 6px;
	text-align: left;
	line-height: 30px;
}

.epesi_rtl .logged_as {
	float: right;
}

.logout_css3_box {
    display: block;
    height: 21px;
    overflow: hidden;
    width: 108px;
	float: right;
}

.epesi_rtl .logout_css3_box {
	float: left;
}

#top_bar #top_bar_2 .login {
	height: 26px;
    padding-top: 1px;
	vertical-align: top;
	text-align: left;
    padding-left: 4px;
}

.login .button {
	width: 109px;
}

table#Base_User_Login .message {
	text-align: center;
	line-height: 22px;
	font-size: 16px;
	height: 135px;
}
table#Base_User_Login .message a {
	text-align: center;
	line-height: 22px;
	font-size: 16px;
}