/*** SHADOW ***/

#shadow {
	font-size: 2px;
}

#shadow .td-5x5 {
	width: 5px;
	height: 5px;
	background-repeat: no-repeat;
}

#shadow .td-h-5 {
	height: 5px;
	background-repeat: repeat-x;
	background-position: bottom;
}

#shadow .p-bottom	{ background-position: top; }
#shadow .p-top		{ background-position: bottom; }
#shadow .p-left		{ background-position: right; }
#shadow .p-right	{ background-position: left; }

#shadow .td-w-5 {
	width: 5px;
	background-repeat: repeat-y;
}

#shadow .center-center		{ }

#shadow .top-left			{ background-image: url('images/shadow/shadow-top-left.png'); }
#shadow .top-center			{ background-image: url('images/shadow/shadow-top-center.png'); }
#shadow .top-right			{ background-image: url('images/shadow/shadow-top-right.png'); }
#shadow .center-left		{ background-image: url('images/shadow/shadow-center-left.png'); }
#shadow .center-right		{ background-image: url('images/shadow/shadow-center-right.png'); }
#shadow .bottom-left		{ background-image: url('images/shadow/shadow-bottom-left.png'); }
#shadow .bottom-center		{ background-image: url('images/shadow/shadow-bottom-center.png'); }
#shadow .bottom-right		{ background-image: url('images/shadow/shadow-bottom-right.png'); }

body {
	padding: 0;
	margin: 0;
	font-family: "Tahoma" "Verdana" "Vera-Sans" "DejaVu-Sans";
	font-size: 11px;
	background-color: #F0F0F0;
}

table {
	font-size: 11px;
}

a {
	color: #336699;
	text-decoration: none;
}

a:hover {
	color: #993333;
}

input, textarea, select {
	font-family: "Tahoma" "Verdana" "Vera-Sans" "DejaVu-Sans";
	font-size: 11px;
	border: 1px solid #B3B3B3;
}

/*** login ***/

#Base_Box__login {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: #F0F0F0;
}

#Base_Box__login .status {
	height: 40px;
}

#Base_Box__login .entry {
}

#Base_Box__login .starting {
	height: 40px;
	padding-top: 15px;
}

/*** top_bar ***/

#top_bar {
	height: 102px;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#bottom_bar {
	height: 24px;
	left: 0px;
	bottom: 0px;
	z-index: 1;
}

/*** top_bar_1 ***/

#top_bar #top_bar_1 {
	width: 100%;
	height: 20px;
	border-bottom: 4px solid #B3B3B3;
}

#top_bar #top_bar_1 .menu-bar {
	height: 20px;
	text-align: left;
	background-color: #B3B3B3;
	background-image: url('images/header-blue.png');
	background-repeat: repeat-x;
}

#top_bar #top_bar_1 .version {
	width: 120px;
	height: 20px;
	background-color: #336699;
	background-image: url("images/header-blue.png");
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
	font-size: 9px;
}

#top_bar #top_bar_1 .version a {
	color: #FFFFFF;
}

#top_bar #top_bar_1 .version a:hover {
	color: #336699;
	background-color: #FFFFFF;
}

#top_bar #top_bar_1 .module-indicator {
	width: 287px;
	height: 20px;
	background-color: #336699;
	background-image: url("images/header-blue.png");
	background-repeat: repeat-x;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-left: 4px solid #B3B3B3;
	color: #FFFFFF;
}

/*** top_bar_2 ***/

#top_bar #top_bar_2 {
	width: 100%;
	height: 78px;
}

#top_bar #top_bar_2 .logo {
	width: 205px;
	height: 73px;
	text-align: left;
	vertical-align: top;
	background-image: url('images/action-bar-left.png');
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-left: 5px;
}

#top_bar #top_bar_2 .logo img {
}

#top_bar #top_bar_2 .icons {
	width: auto;
	height: 78px;
	background-image: url('images/action-bar-center.png');
	background-repeat: repeat-x;
}

#top_bar #top_bar_2 .login-search {
	width: 297px;
	height: 78px;
	background-image: url('images/action-bar-right.png');
	background-repeat: no-repeat;
}

#top_bar #top_bar_2 .login {
	height: 39px;
	vertical-align: middle;
	text-align: center;
}

#top_bar #top_bar_2 .login a {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}

#top_bar #top_bar_2 .login a:hover {
	color: #993333;
}

#top_bar #top_bar_2 .search {
	height: 39px;
	vertical-align: middle;
	text-align: center;
	padding-left: 5px;
}

/*** footer ***/

#bottom_bar #footer {
	width: 100%;
	height: 24px;
}

#bottom_bar #footer td {
	color: #777777;
	font-size: 10px;
	text-align: center;
	height: 20px;
	vertical-align: middle;
	background-color: #F0F0F0;
	border-top: 4px solid #B3B3B3;
}

#bottom_bar #footer .left {
	width: 100px;
	vertical-align: middle;
	text-align: left;
	padding-left: 4px;
}

#bottom_bar #footer .center {
	width: auto;
}

#bottom_bar #footer .right {
	width: 100px;
	vertical-align: middle;
	text-align: right;
	padding-right: 2px;
	padding-top: 2px;
}

#bottom_bar #footer a {
	text-decoration: none;
	color: #777777;
	font-weight: bold;
}

#bottom_bar #footer a:hover {
	color: #336699;
}
