/* Global */

body {
	padding: 0;
	margin: 0;
    font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans;
	font-size: 11px;
	background-color: #F0F0F0;
}

/* for debug uncomment following lines */
/*
div (
	border:solid 1px red;
}
*/

table {
	font-size: 11px;
}

a {
	color: #336699;
	text-decoration: none;
}

a:hover {
	color: #993333;
}

.button a:hover {
	color: white;
}

input, textarea, select {
    font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans;
	font-size: 11px;
	border: 1px solid #B3B3B3;
}

.red     { color: #993333; }
.green   { color: #339933; }
.blue    { color: #336699; }
.yellow  { color: #999933; }
.gray    { color: #b3b3b3; }
.black   { color: #000000; }
.dark-gray { color: #777777; }

.button {
    font-weight: normal;
    color: #FFFFFF;
    width: 100px;
    line-height: 20px;
    height: 20px;
    display: block;
    background-image: url("images/button.gif");
    border: none;
    text-align: center;
    vertical-align: middle;
}

.button input {
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-image: url("images/button-hover.gif");
    color: white;
}

hr.line {
	border: 0px;
	background-color: #B3B3B3;
	height: 1px;
	width: 100%;
}

/*** login ***/

#Base_Box__login {
/*	position: absolute;*/
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: #F0F0F0;
}

#Base_Box__login .status {
	height: 40px;
}

#Base_Box__login .entry {
}

#Base_Box__login .starting {
	height: 30px;
	padding-top: 15px;
    vertical-align: top;
}

/*** content body ***/

#content_body {
    position: relative;
   /* position: absolute; */
    /*margin-top: 97px;*/
    width: 100%;
    padding: 0px;
    /*text-align: center;*/
}

#body_content {
    position: relative;
   /* position: absolute; */
    top: 50px;
    /*margin-top: 97px;*/
    width: 100%;
    padding: 0px;
    /*text-align: center;*/
}

#main_content {
	position: relative;
	/* width: 100%; */
}

#debug {
	width: 90%;
	z-index: 99;
	padding: 5px;
	color: black;
}

#error_box {
	width: 90%;
	z-index: 99;
	padding: 5px;
	color: black;
}

/*** top_bar ***/

#top_bar {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10;
}

#ActionBar {
    overflow: hidden;
    height: 78px;
}

#ShadowBar {
    height: 10px;
    background-image: url('images/shadow/b.png');
    background-repeat: repeat-x;
    display: none;
}

/*** top_bar_1 ***/

#top_bar #top_bar_1 {
	width: 100%;
	height: 20px;
	border-bottom: 0px solid #b3b3b3;
}

/* roll */

#top_bar #top_bar_1 .roll-left {
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 17px;
	background-color: #595959;
	background-image: url('images/header-black.png');
	background-repeat: repeat-x;
    cursor: pointer;
}

#top_bar #top_bar_1 .roll-left {
	border-right: 4px solid #b3b3b3;
}

#top_bar #top_bar_1 .roll-left:hover {
	background-image: url('images/header-black-hover.png');
}

#top_bar #top_bar_1 .roll-left img {
    display: block;
    margin: 0px;
    padding: 0px;
}

/* menu bar */

#top_bar #top_bar_1 .menu-bar {
	height: 20px;
	text-align: left;
	background-color: #595959;
	background-image: url('images/header-black.png');
	background-repeat: repeat-x;
}

#top_bar #top_bar_1 .powered {
    text-align: right;
    vertical-align: middle;
	background-color: #595959;
	background-image: url("images/header-black.png");
	background-repeat: repeat-x;
    font-size: 9px;
    color: white;
}

#top_bar #top_bar_1 .version {
	width: 100px;
	background-color: #595959;
	background-image: url("images/header-black.png");
	background-repeat: repeat-x;
	text-align: center;
	font-size: 9px;
}

#top_bar #top_bar_1 .version a {
	color: #FFFFFF;
    padding-left: 2px;
    padding-right: 2px;
}

#top_bar #top_bar_1 .version a:hover {
	color: gray;
	background-color: #FFFFFF;
}

#top_bar #top_bar_1 .module-indicator {
	width: 287px;
    height: 20px;
	background-color: #595959;
	background-image: url("images/header-black.png");
	background-repeat: repeat-x;
	font-weight: bold;
	text-align: center;
	border-left: 4px solid #b3b3b3;
	color: #FFFFFF;
    vertical-align: top;
    text-align: center;
}

#top_bar #top_bar_1 .module-indicator #module-indicator {
	width: 287px;
    text-align: center;
    display: block;
    float: left;
    padding-top: 3px;
}

#top_bar #top_bar_1 .module-indicator #quick-logout {
    width: 20px;
    height: 20px;
    float: right;
    border-left: 4px solid #b3b3b3;
    background-image: url('Base/Box/logout.png');
    background-repeat: no-repeat;
    background-position: 3px 3px;
}

#top_bar #top_bar_1 .module-indicator #quick-logout:hover {
    background-image: url('Base/Box/logout-hover.png');
}

/*** top_bar_2 ***/

#top_bar #top_bar_2 {
	width: 100%;
	height: 78px;
}

#top_bar #top_bar_2 .logo {
	width: 205px;
	height: 73px;
	text-align: left;
	vertical-align: top;
	background-image: url('images/action-bar-left.png');
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-left: 5px;
}

#top_bar #top_bar_2 .logo img {
}

#top_bar #top_bar_2 .icons {
	width: auto;
	height: 78px;
	background-image: url('images/action-bar-center.png');
	background-repeat: repeat-x;
}

#top_bar #top_bar_2 #login-search-td {
	width: 297px;
	height: 78px;
	background-image: url('images/action-bar-right.png');
	background-repeat: no-repeat;
    vertical-align: top;
    padding-top: 6px;
}

#top_bar #top_bar_2 .login {
	height: 20px;
    padding-top: 1px;
	vertical-align: top;
	text-align: left;
    padding-left: 19px;
}

#top_bar #top_bar_2 .login a {
    margin-left: 7px;
    background-image: url('images/button-logout.gif');
}

#top_bar #top_bar_2 .login a:hover {
    background-image: url('images/button-logout-hover.gif');
    color: white;
}

#top_bar #top_bar_2 .search {
	height: 20px;
	vertical-align: top;
	text-align: left;
	padding-left: 13px;
    padding-top: 2px;
}

#top_bar #top_bar_2 .search #Base_Search__Search {
    width: 277px;
}

#top_bar #top_bar_2 .filter {
	height: 22px;
	text-align: left;
    vertical-align: top;
    padding-top: 2px;
    padding-left: 13px;
}

#top_bar #top_bar_2 .filter a {
    color: white;
    cursor: pointer;
    display: block;
    height: 17px;
    width: 277px;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
    background-image: url('images/button-filter.gif');
}

#top_bar #top_bar_2 .filter a:hover {
    background-image: url('images/button-filter-hover.gif');
}

/*	=layer
---------------------------------------------------------------------------- */

.layer {
	margin: 0px;
	padding: 10px;
	position: relative;
}

.layer .content_shadow {
	position: relative;
	z-index: 1;
}

/*	=shadow
---------------------------------------------------------------------------- */

.layer .left,
.layer .right,
.layer .center {
	position: absolute;
}

.layer .shadow-top .left,
.layer .shadow-top .right,
.layer .shadow-bottom .left,
.layer .shadow-bottom .right {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.layer .shadow-top .center,
.layer .shadow-bottom .center {
	height: 10px;
	right: 20px;
	left: 20px;
	background-repeat: repeat-x;
}

.layer .shadow-middle div {
	width: 10px;
	bottom: 20px;
	top: 20px;
	background-repeat: repeat-y;
}

.layer .shadow-top div { top: 0; }
.layer .shadow-bottom div { bottom: 0; }

.layer .left { left: 0; }
.layer .right { right: 0; }

.layer .shadow-top		.left	{ background-image: url('images/shadow/tl.png'); }
.layer .shadow-top		.right	{ background-image: url('images/shadow/tr.png'); }
.layer .shadow-bottom	.left	{ background-image: url('images/shadow/bl.png'); }
.layer .shadow-bottom	.right	{ background-image: url('images/shadow/br.png'); }
.layer .shadow-top		.center	{ background-image: url('images/shadow/t.png' ); }
.layer .shadow-bottom	.center	{ background-image: url('images/shadow/b.png' ); }
.layer .shadow-middle	.left	{ background-image: url('images/shadow/l.png' ); }
.layer .shadow-middle	.right	{ background-image: url('images/shadow/r.png' ); }


