/*** SHADOW ***/

#shadow {
	font-size: 2px;
}

#shadow .td-5x5 {
	width: 5px;
	height: 5px;
	background-repeat: no-repeat;
}

#shadow .td-h-5 {
	height: 5px;
	background-repeat: repeat-x;
	background-position: bottom;
}

#shadow .p-bottom	{ background-position: top; }
#shadow .p-top		{ background-position: bottom; }
#shadow .p-left		{ background-position: right; }
#shadow .p-right	{ background-position: left; }

#shadow .td-w-5 {
	width: 5px;
	background-repeat: repeat-y;
}

#shadow .center-center		{ }

#shadow .top-left			{ background-image: url('images/shadow/shadow-top-left.png'); }
#shadow .top-center			{ background-image: url('images/shadow/shadow-top-center.png'); }
#shadow .top-right			{ background-image: url('images/shadow/shadow-top-right.png'); }
#shadow .center-left		{ background-image: url('images/shadow/shadow-center-left.png'); }
#shadow .center-right		{ background-image: url('images/shadow/shadow-center-right.png'); }
#shadow .bottom-left		{ background-image: url('images/shadow/shadow-bottom-left.png'); }
#shadow .bottom-center		{ background-image: url('images/shadow/shadow-bottom-center.png'); }
#shadow .bottom-right		{ background-image: url('images/shadow/shadow-bottom-right.png'); }

body {
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 10px 10px;
	font-family: "Tahoma" "Verdana" "Vera-Sans" "DejaVu-Sans";
	font-size: 11px;
	background-color: #FFFFFF;
}

table {
	font-size: 11px;
}

a {
	color: #336699;
	text-decoration: none;
}

a:hover {
	color: #993333;
}

input, textarea, select {
	border: 1px solid #B3B3B3;
}

table#Base_Box__login div#menu td.icons a {
	text-decoration: none;
	white-space: nowrap;
}

table#Base_Box__login {
	width: 980px;
	height: 570px;
	text-align: center;
	border: 1px solid #B3B3B3;
}

table#Base_Box__logged {
	width: 978px;
	text-align: center;
	border: 1px solid #B3B3B3;
	background-color: #F0F0F0;
	color: #000000;
}

table#Base_Box__login td.status {
	height: 45px;
	background-color: #F0F0F0;
	text-align: center;
}

table#Base_Box__login td.entry {
	background-color: #F0F0F0;
	font-size: 11px;
	text-align: center;
	height: 480px;
}

table#Base_Box__login td.starting {
	background-color: #F0F0F0;
	height: 45px;
	vertical-align: middle;
}

table#Base_Box__logged div#content {
	font-size: 11px;
	text-align: center;
    overflow: hidden;
    overflow-y: auto;
}

table#Base_Box__logged td.login a:hover {
	color: #993333;
}

table#Base_Box__logged td.top-bar {
	height: 78px;
	background-image: url("images/top-bar.png");
	background-repeat: no-repeat;
}

#Base_Box__logged .menu-bar {
	width: 690px;
	height: 20px;
	text-align: left;
	background-color: #B3B3B3;
	background-image: url('images/header-blue.png');
}

table#Base_Box__logged td.logo {
	text-align: left;
	vertical-align: top;
	width: 199px;
	padding-left: 5px;
	padding-top: 5px;
}

/*** footer ***/

table#Base_Box__logged td.footer {
	color: #777777;
	font-size: 10px;
	text-align: center;
	height: 20px;
	vertical-align: middle;
	background-color: #F0F0F0;
	border-top: 4px solid #B3B3B3;
}

table#Base_Box__logged td.footer a {
	text-decoration: none;
	color: #777777;
	font-weight: bold;
}

table#Base_Box__logged td.footer a:hover {
	color: #336699;
}

/*** ***/

table#Base_Box__logged td.login {
	width: 290px;
	height: 44px;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
}

table#Base_Box__logged td.login a {
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}

table#Base_Box__logged td.module_name {
	width: 287px;
	height: 20px;
	background-image: url("images/header-blue.png");
	background-repeat: repeat-x;
	font-weight: bold;
	text-align: center;
	border-left: 4px solid #B3B3B3;
	font-size: 11px;
	color: #FFFFFF;
}

table#Base_Box__logged td.search {
	width: 290px;
	height: 34px;
	text-align: center;
	vertical-align: top;
}

table#Base_Box__logged td.icons {
	width: 484px;
	height: 78px;
	vertical-align: top;
	padding-top: 5px;
}
