/* Global */

.nonselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	padding: 0;
	margin: 0;
	font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans, sans-serif;
	font-size: 12px;
	background-color: #F0F0F0;
	position: relative; /* needed by prototype 1.7 for clone position */
}

/* for debug uncomment following lines */
/*
div (
	border:solid 1px red;
}
*/

table {
	font-size: 12px;
	table-layout: fixed;
}

a {
	color: #336699;
	text-decoration: none;
	vertical-align: top;
}

a:hover {
	color: #993333;
}

.button a:hover {
	color: white;
}

input, textarea, select {
	font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans, sans-serif;
	font-size: 12px;
	border: 1px solid #B3B3B3;
}

textarea {
	width:99%;
}

.red     { color: #993333; }
.green   { color: #339933; }
.blue    { color: #336699; }
.yellow  { color: #999933; }
.gray    { color: #b3b3b3; }
.black   { color: #000000; }
.dark-gray { color: #777777; }


.child_button > input,
.child_button > div > input,
.button {
	cursor: pointer;
    font-weight: normal;
    color: #FFFFFF;
    min-width: 100px;
    line-height: 20px;
    height: 24px;
    border: none;
    text-align: center;
    vertical-align: middle;
}
.button {
	display: inline-block;
	white-space: nowrap;
	padding: 0 5px;
}

.child_button > input,
.button input {
    cursor: pointer;
}

.child_button > input:hover,
.child_button > div > input:hover,
.button:hover,
.button:focus {
	/*light css3 green background gradient */
	background: #226622; /* Old browsers */
	color: white;
}
hr.line {
	border: 0px;
	background-color: #B3B3B3;
	height: 1px;
	width: 100%;
}

/*** login ***/

#Base_Box__login {
	position: relative;
	width: 100%;
	height: 100%;
	top: -50px;
	text-align: center;
	vertical-align: middle;
	background-color: #F0F0F0;
}

#Base_Box__login .status {
	height: 40px;
}

#Base_Box__login .entry {
}

#Base_Box__login .starting {
	height: 30px;
	padding-top: 15px;
    vertical-align: top;
}

/*** content body ***/

#content_body {
/*    position: relative;*/
   /* position: absolute; */
    /*margin-top: 97px;*/
    width: 100%;
    padding: 5px;
    border-top: 1px solid transparent;
    /*text-align: center;*/
}

#body_content {
    padding-top: 123px;
    width: 100%;
}

@media print {
    #body_content {
        padding-top: 0;
    }
}

#main_content {
	position: relative;
	/* width: 100%; */
}

#debug {
	width: 90%;
	z-index: 99;
	padding: 5px;
	color: black;
}

#error_box {
	width: 90%;
	z-index: 99;
	padding: 5px;
	color: black;
}

/*** top_bar ***/

#top_bar {
	position: fixed;
	left: 0px;
	top: 0px;       
	z-index: 10;
	background-color: transparent;
}

#MenuBar {
	background-color: #F0F0F0;
}
#ActionBar {
    overflow: hidden;
    height: 90px;
}

#ShadowBar {
    height: 10px;
    background-image: url('images/shadow/b.png');
    background-repeat: repeat-x;
    display: none;
}

@media print {
    #top_bar {
        display: none;
    }
}
/*** top_bar_1 ***/

#top_bar #top_bar_1 {
	width: 100%;
	height: 20px;
	border-bottom: 0px solid #b3b3b3;
}

/* menu bar */

#top_bar #top_bar_1 .menu-bar {
	height: 20px;
	width: 93px;
	text-align: left;
	
	/*dark css3 green background gradient */
	background: #226622; /* Old browsers */
	
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 3px gray;
	-moz-box-shadow: 1px 1px 3px gray;
	box-shadow: 1px 1px 3px gray;
	/* end css3 shadow border*/
}

#top_bar #top_bar_1 .menu-bar:hover { 
	/*light css3 green background gradient */
	background: #226622; /* Old browsers */
}

#top_bar #top_bar_1 #home-bar1 {
	width: 100%;
	height: 22px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0 0 0 auto;
	}

#top_bar #top_bar_1 .home-bar {
	height: 30px;
	width: 93px;
	text-align: left;
	cursor: pointer;
	
	/*dark css3 green background gradient */
	background: #226622; /* Old browsers */
	
	/* css3 shadow border*/
	-webkit-box-shadow: 0px 0px 3px #000000;
	-moz-box-shadow: 0px 0px 3px #000000;
	box-shadow: 0px 0px 3px #000000;
	/* end css3 shadow border*/
}

#top_bar #top_bar_1 .home-bar:hover {
	/*light css3 green background gradient */
	background: #226622; /* Old browsers */
}

#top_bar #top_bar_1 .home-bar .home-bar-icon {
	margin: auto 0px auto 5px ;
	width: 20px; 
	height: 20px; 
	float: left;
	background-image: url("Base/Box/home-small.png");
}

.home-bar-text {
	font-size: 11px;
	padding-top: 4px;
	color: white;
	font-weight: bold;
	text-align: left;
	overflow: auto;
	float:right; 
	width: 60px; 
}

#top_bar #top_bar_1 .quick-access-bar {
	height: 20px;
	width: 138px;
	text-align: left;
	overflow: hidden;
	
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 3px #gray;
	-moz-box-shadow: 1px 1px 3px #gray;
	box-shadow: 1px 1px 3px #gray;
	/* end css3 shadow border*/
}

#top_bar #top_bar_1 .quick-access-bar:hover { 
	/*light css3 green background gradient */
/*	background: #226622; IE 9 conflict/* Old browsers */
}

.top_bar_black {
	/* black css3 background gradient */
	background: #4c4c4c; /* Old browsers */
}

#top_bar #top_bar_1 .filler {
	/* css3 shadow border
	-webkit-box-shadow: 0px 0px 3px #000000;
	-moz-box-shadow: 0px 0px 3px #000000;
	box-shadow: 0px 0px 3px #000000;
	end css3 shadow border*/
}

#top_bar #top_bar_1 .powered {
    vertical-align: middle;
    font-size: 9px;
    color: white;
    text-align: right;
	padding-right: 5px;
	width: 250px;
	white-space: nowrap;
}

#top_bar #top_bar_1 .powered div {
    display:inline-block;
	max-width:150px;
	overflow:hidden;
}

#top_bar #top_bar_1 .powered a {
	color: #FFFFFF;
    padding-left: 1px;
    padding-right: 1px;
}

#top_bar #top_bar_1 .powered a.version:hover {
	color: gray;
	background-color: #FFFFFF;
}

#top_bar #top_bar_1 .donate {
	width: 70px;
	color: white;
	padding-right: 4px;
	text-align: center;
	font-size: 9px;

	/* css3 shadow border*/
/*	-webkit-box-shadow: 0px 0px 3px #000000;
	-moz-box-shadow: 0px 0px 3px #000000;
	box-shadow: 0px 0px 3px #000000;*/
	/* end css3 shadow border*/
}

#top_bar #top_bar_1 .donate a {
	color: #FFFFFF;
    padding-left: 1px;
    padding-right: 1px;
	white-space: nowrap;
}

#top_bar #top_bar_1 .donate a:hover {
	color: gray;
	background-color: #FFFFFF;
}

.top_bar_help {
	width: 70px;
	height: auto;
	overflow: hidden;
	
	/* css3 shadow border*/
	-webkit-box-shadow: 0px 0px 3px #000000;
	-moz-box-shadow: 0px 0px 3px #000000;
	box-shadow: 0px 0px 3px #000000;
	/* end css3 shadow border*/
}

#top_bar #top_bar_1 .module-indicator {
	width: 282px;
    height: auto;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
    vertical-align: medium;
    text-align: center;
	
	/* css3 shadow border
	-webkit-box-shadow: 0px 0px 3px #000000;
	-moz-box-shadow: 0px 0px 3px #000000;
	box-shadow: 0px 0px 3px #000000;
	end css3 shadow border*/
}

#top_bar #top_bar_1 .module-indicator #module-indicator {
	width: auto;
	height: 22px;
    text-align: center;
    display: block;
    float: left;
    padding-top: 8px;
	margin: auto 4px auto 5px;
}

#top_bar #top_bar_1 .module-indicator #quick-logout {
    width: 20px;
    height: 20px;
    float: right;
    border-left: 4px solid #b3b3b3;
	/*
	background-image: url('Base/Box/logout.png');
    background-repeat: no-repeat;
	background-position: 3px 3px;
	*/
}

#top_bar #top_bar_1 .module-indicator #quick-logout:hover {
	/*
	background-image: url('Base/Box/logout-hover.png');
	*/
}

/*** top_bar_2 ***/

#top_bar #top_bar_2 {
	width: 100%;
	height: auto;
	/* css3 transparent gradient */
	background: #f0f0f0; /* Old browsers */
}

#top_bar #top_bar_2 .logo {
	width: 193px;
	height: 80px;
	text-align: left;
	vertical-align: top;
}

.content_shadow_css3 {
	/* css3 shadow border
	-webkit-box-shadow: 1px 1px 3px #gray;
	-moz-box-shadow: 1px 1px 3px #gray;
	box-shadow: 1px 1px 3px #gray;
	end css3 shadow border*/}
	
.shadow_css3_logo_border {
	width: 193px;
	height: 83px;
	background-color: #fff;
	padding: 0px;
	overflow: hidden;
	/* css3 shadow border
	-webkit-box-shadow: 1px 1px 6px gray;
	-moz-box-shadow: 1px 1px 6px gray;
	box-shadow: 1px 1px 6px gray;
	end css3 shadow border*/
}
	
	


#top_bar #top_bar_2 .logo img {
}

#top_bar #top_bar_2 .icons {
	width: auto;
	vertical-align: top;
	height: auto;
}

.shadow_css3_icons_border {	
	width: 100%;
	height: 83px;
	margin: 0px;
	background-color: #fff;
	padding: 0px;
	overflow: hidden;
	/* css3 shadow border
	-webkit-box-shadow: 1px 1px 6px gray;
	-moz-box-shadow: 1px 1px 6px gray;
	box-shadow: 1px 1px 6px gray;
	end css3 shadow border*/
	}
	
.icons_launchpad {
    width: 70px;
    height: auto ;
    vertical-align: top;
}
.shadow_css3_icons_launchpad_border {
	width: 70px;
	height: 83px;
	margin: 0px;
	background-color: #fff;
	padding: 0px;
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 6px gray;
	-moz-box-shadow: 1px 1px 6px gray;
	box-shadow: 1px 1px 6px gray;
	/* end css3 shadow border*/
}	
	
#top_bar #top_bar_2 #login-search-td {
	width: 282px;
	height: auto;
    vertical-align: top;
}

.shadow_css3_login-search-td_border  {
	width: 277px;
	height: 83px;
	margin: 0px;
	background-color: #fff;
	padding-right: 5px;
}


#top_bar #top_bar_2 .search {
	height: 20px;
	vertical-align: top;
	text-align: left;
	padding-left: 3px;
}

#top_bar #top_bar_2 .search #Base_Search__Search {
    width: 277px;
}


/*	=layer
---------------------------------------------------------------------------- */

.layer {
	margin: 0px;
	padding: 2px 8px 10px 8px;
	position: relative;
}

.layer .content_shadow {
	z-index: 1;
}

/*	=shadow
---------------------------------------------------------------------------- */

.layer .left,
.layer .right,
.layer .center {
	position: absolute;
}

.layer .shadow-top .left,
.layer .shadow-top .right,
.layer .shadow-bottom .left,
.layer .shadow-bottom .right {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.layer .shadow-top .center,
.layer .shadow-bottom .center {
	height: 10px;
	right: 20px;
	left: 20px;
	background-repeat: repeat-x;
}

.layer .shadow-middle div {
	width: 10px;
	bottom: 20px;
	top: 20px;
	background-repeat: repeat-y;
}

.layer .shadow-top div { top: 0; }
.layer .shadow-bottom div { bottom: 0; }

.layer .left { left: 0; }
.layer .right { right: 0; }

.layer .shadow-top		.left	{ background-image: url('images/shadow/tl.png'); }
.layer .shadow-top		.right	{ background-image: url('images/shadow/tr.png'); }
.layer .shadow-bottom	.left	{ background-image: url('images/shadow/bl.png'); }
.layer .shadow-bottom	.right	{ background-image: url('images/shadow/br.png'); }
.layer .shadow-top		.center	{ background-image: url('images/shadow/t.png' ); }
.layer .shadow-bottom	.center	{ background-image: url('images/shadow/b.png' ); }
.layer .shadow-middle	.left	{ background-image: url('images/shadow/l.png' ); }
.layer .shadow-middle	.right	{ background-image: url('images/shadow/r.png' ); }

.help_label {
	margin-left: 17px;
}

.help {
    margin: auto;
    width: 56px;
}

.help a {
	color: #FFFFFF;
	font-weight: bold;
	display: block;
}

.help img {
    border: none;
	width: 14px;
	height: 14px;
	float: left;
}

.help:hover {
}

.important_notice {
	width: 750px;
	background-color: #E0E0E0;
	display: block;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	padding: 5px 8px;
	margin: 20px;
	
	border: 1px solid gray;

/* 	-webkit-box-shadow: 2px 2px 6px black;
	-moz-box-shadow: 2px 2px 6px black;
	box-shadow: 2px 2px 6px black; */
}

.important_notice_frame {
	width: auto;
	background-color: #EEE;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	padding: 5px 8px;
	margin-top: 3px;
	margin-bottom: 3px;
	
	border: 1px solid lightgray;

	/* -webkit-box-shadow: inset 2px 2px 3px gray;
	-moz-box-shadow: inset 2px 2px 3px gray;
	box-shadow: inset 2px 2px 3px gray; */
}

#client_messages_frame {
	position: fixed;
	bottom: 0px;
	right: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
    z-index: 500;
    overflow-x: auto;
    max-height: 100%;
    width: 350px;    
}

#client_messages_frame_hide {
    float: right;
    margin-right: 10px;
}

#client_messages_frame_show_discarded {
    float: right;
    margin-right: 10px;
}

.popup_notice {
	width: 300px;
	border: 1px solid gray;
	text-align: left;
	padding: 8px;
	font-size: 13px;
	z-index: 1500;
    background-color: white;
    margin: 10px;

	/* -webkit-box-shadow: 3px 3px 11px #444;
	-moz-box-shadow: 3px 3px 11px #444;
	box-shadow: 3px 3px 11px #444; */
}

.popup_notice_frame {
	padding: 3px;
	background: white;
	border: 1px solid gray;
	margin: 3px -3px 0;
    position: relative;
    padding-bottom: 10px;

	/* -webkit-box-shadow: inset 1px 1px 2px #999;
	-moz-box-shadow: inset 1px 1px 2px #999;
	box-shadow: inset 1px 1px 2px #999; */
}

.popup_notice_frame_close_button {
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 80%;
}

.epesi_big_button > span,
.epesi_big_button > div {
	height: 26px;
	width: 60px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.epesi_big_button > span:only-child,
.epesi_big_button > div:only-child {
	height: 55px;
}

.epesi_big_button {
	cursor: pointer;
	padding: 10px 13px;
	margin: 7px;
	border: 1px solid #999;
	min-width: 60px;
	text-align: center;
	font-weight: bold;

	-webkit-transition: background-color 0.2s linear;
	-moz-transition: background-color 0.2s linear;
	-o-transition: background-color 0.2s linear;

	/* -webkit-box-shadow: inset -1px -1px 3px gray, 1px 1px 1px #444;
	-moz-box-shadow: inset -1px -1px 3px gray, 1px 1px 1px #444;
	box-shadow: inset -1px -1px 3px gray, 1px 1px 1px #444; */
	background-color: #FFF;
}

.epesi_big_button:hover {
	background-color: #9E9;
}

.epesi_big_button > img {
	display: block;
	margin: 2px auto 3px;
}

.epesi_big_button.bigger {
	min-width: 90px;
	min-height: 80px;
}
.epesi_big_button.bigger > span,
.epesi_big_button.bigger > div {
	width: 90px;
	height: 39px;
}
.epesi_big_button.bigger > span:only-child,
.epesi_big_button.bigger > div:only-child {
	height: 80px;
}
.epesi_big_button.bigger > img {
	display: block;
	margin: 7px auto 3px;
}

.epesi_label {
    color: #FFFFFF;
    height: 19px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    width: 100px;
    text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	/* -webkit-box-shadow: inset 1px 1px 1px #333355;
	-moz-box-shadow: inset 1px 1px 1px #333355;
	box-shadow: inset 1px 1px 1px #333355;

	background: #3f6a8c; /* Old browsers */
}
.epesi_label.top {
	font-size: 12px;
}

.epesi_rtl .epesi_label {
	font-size: 12px;
}

.epesi_label.header {
	font-weight: bold;
	height: 24px;
	text-align: center;
	width: 100%;
    line-height: 25px;
    font-size: 12px;
}

.epesi_data {
	text-align: left;
	background-color: #FFFFF9;
	width: 102px;
	height: 20px;
	padding: 0;
	border-spacing: 0;
}

.epesi_data {
	font-size: 14px;
}
.epesi_rtl .epesi_data {
	font-size: 14px;
	text-align: right;
}
.epesi_data > div {
	min-height: 20px;
}

.epesi_data input[type='checkbox'] {
    width: 14px;
    height: 14px;
    margin-bottom: 0;
}

.epesi_data input:focus,
.epesi_data select:focus,
.epesi_data textarea:focus {
    background-color: #ffffa5;
}
.epesi_data input,
.epesi_data select,
.epesi_data textarea {
	width: 97%;
        min-width: 50px;
	height: 14px;
    background-color: #FFFFF9;
    border: 0px;
	padding: 3px 5px;
	}
.epesi_data input[type=checkbox],
.epesi_data input[type=radio] {
        min-width: 10px;
}
.epesi_data textarea {
	height: 63px;
}
.epesi_data select {
	height: 18px;
	padding: 0;
	margin-left: 2px;
	margin-top: 2px;
	margin-right: 2px;
}
.epesi_data.static_field,
.epesi_data input[disabled],
.epesi_data select[disabled],
.epesi_data textarea[disabled] {
    background-color: #EEEEEE;
}

.epesi_data.static_field,
.epesi_data input,
.epesi_data textarea {
	/* -webkit-box-shadow: inset 1px 1px 1px #777;
	-moz-box-shadow: inset 1px 1px 1px #777;
	box-shadow: inset 1px 1px 1px #777;
 */
}
.epesi_data.static_field {
    line-height: 22px;
    padding-left: 5px;
}

.epesi_data.static_field,
.epesi_data input,
.epesi_data textarea {
	padding-right: 0px;
}
/* timestamp START */
.epesi_data.timestamp > div > div {
	float: right;
}
.epesi_data.timestamp > div > div:last-child {
	float: none;
	margin-right: 190px;
}
.epesi_data.timestamp > div > div:last-child input {
}
/* timestamp END */
/* currency START */
.epesi_data.currency_amount input {
}
/* currency END */
/* automulti START */
.epesi_data.automulti select {
	height: 100px;
}
.epesi_data.automulti td {
	padding: 0;
}
.epesi_data.automulti input[type="text"]{
	}
.epesi_rtl .epesi_data.automulti input[type="checkbox"]{
	float: right;
}
.epesi_data.automulti input[type="button"]{
	height: 100%;
	width: 100%;
	padding: 0;
}
.epesi_data.automulti input::-webkit-input-placeholder,
.epesi_data.automulti input::-moz-placeholder {
    color: #AAAAAA;
}
/* automulti END */
.epesi_data .form_error img {
	margin-left: 5px;
	margin-top: 1px;
	border: none;
}
.epesi_data .form_error a {
	color: white;
	text-decoration: underline;
}
.epesi_data .form_error a:hover {
	color: #CCCCCC;
}
.epesi_data .form_error:not(:empty) {
	color: white !important; 
	position: absolute;
	right: 0px;
	display: block;
	height: 16px;
	line-height: 16px;
	margin: 0;
	padding: 3px 5px 2px 15px;
	font-weight: bold;
	z-index: 5;
	white-space: nowrap;
	vertical-align: top;
}

.epesi_data.textarea .form_error,
.epesi_data.multiselect .form_error {
}

.epesi_grey_board {
	padding: 2px 10px;
}
.epesi_grey_board > table {
	width: 100%;
	border-spacing: 3px;
	background-color: #CCC;
	border: 1px solid transparent;
}

.epesi_caption img {
    position: absolute;
	margin-top: -2px;
}

.epesi_caption .label {
	margin-left: 40px;
	margin-top: 3px;
}
.epesi_rtl .epesi_caption .label {
	margin-left: 0px;
	margin-right: 40px;
}

.epesi_caption {
	width: auto;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    height: 24px;
    white-space: nowrap;
    vertical-align: top;
	
	margin-left: 12px;
	margin-right: 12px;
	padding: 5px 18px 0px;
	display: inline-block;
	margin-bottom: 10px;
	}

pre.wrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
