/* New Fonts introduced 'Exo 2' and 'Titillium Web'

<link href="https://fonts.googleapis.com/css?family=Exo+2:400,700|Titillium+Web:400,700&display=swap" rel="stylesheet">

font-family: 'Exo 2', sans-serif;
font-family: 'Titillium Web', sans-serif;

Epesi colors:

Navy Blue
background: #0A3C5C;
Dark Green
background: #1FAF53;
Yellow
background: #DEB42F;

 */

@font-face {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Exo 2', sans-serif;
  font-style: bold;
  font-weight: 700;
  }

@font-face {
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Titillium Web', sans-serif;
  font-style: bold;
  font-weight: 700;
}

body, p {
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 400;
    font-size: 14px;
	color: #0A3C5C;
	width: auto;
}

*, html {
    font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 400;
    font-size: 14px;
    color: #0A3C5C;
}

a {
    font-family: 'Exo 2', sans-serif;
	font-style: bold;
	font-weight: 700;
	font-size: 14px;
	color: #1FAF53;
	text-decoration: none;
	vertical-align: top;
}

ul, ol, li {
    font-family: 'Exo 2', sans-serif;
	font-style: bold;
	font-weight: 400;
    font-size: 14px;
    color: #1FAF53;
}

h3,
h4,
h5,
h6 {
  font-family: 'Exo 2', sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 16px;
  color: #043d5f;
}

h1, h2 {
  font-family: 'Exo 2', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  color: #043d5f;
}

h2 {
	font-size: 16px;
	text-align: center;
	text-decoration: underline;
}
.nonselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* for debug uncomment following lines */
/*
div (
	border:solid 1px red;
}
*/

table {
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	table-layout: fixed;
}


a:hover {
	color: #1FAF53;
}

.button a:hover {
	color: white;
}

input, textarea, select {
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 400;
    font-size: 14px;
    color: #000000;
	border: 1px solid #B3B3B3;
}

textarea {
	width:98%;
}

/* Epesi logo colors
Navy Blue
background: #0A3C5C;
Dark Green
background: #1FAF53;
Yellow
background: #DEB42F;
*/

.red     { color: #993333; }
.green   { color: #1FAF53; }
.blue    { color: #0A3C5C; }
.yellow  { color: #DEB42F; }
.gray    { color: #b3b3b3; }
.black   { color: #000000; }
.dark-gray { color: #777777; }


.child_button > input,
.child_button > div > input,
.button {
	font-family: 'Exo 2', sans-serif;
	font-style: bold;
	font-weight: 700;
	cursor: pointer;
    font-weight: normal;
    color: #FFFFFF;
    min-width: 100px;
    line-height: 20px;
    height: 20px;
    border: none;
    text-align: center;
    vertical-align: middle;
	background: #226622;
}
.button {
	display: inline-block;
	white-space: nowrap;
	padding: 0 5px;
}

.child_button > input,
.button input {
    cursor: pointer;
}

.child_button > input:hover,
.child_button > div > input:hover,
.button:hover,
.button:focus {
	background: #226622;
    color: white;
}
hr.line {
	border: 0px;
	background-color: #B3B3B3;
	height: 1px;
	width: 100%;
}

/*** login ***/

#Base_Box__login {
	text-align: center;
	vertical-align: middle;
	background-color: #FFFFFF;
}

#Base_Box__login .status {
	height: 30px;
}

#Base_Box__login .entry {
}

#Base_Box__login .starting {
	height: 30px;
	padding-top: 15px;
    vertical-align: top;
}

/*** content body ***/

#content_body {
/*    position: relative;*/
   /* position: absolute; */
    /*margin-top: 97px;*/
    width: auto;
    padding: 2px;
    border-top: 1px solid transparent;
	/*text-align: center;*/
	top: 50px;
}

#body_content {
    padding-top: 120px;
}

@media print {
    #body_content {
        padding-top: 0;
    }
}

#main_content {
	position: relative;
}

#debug {
	width: 90%;
	z-index: 99;
	padding: 5px;
	color: black;
}

#error_box {
	width: 90%;
	z-index: 99;
	padding: 5px;
	color: black;
}

/*** top_bar ***/

#top_bar {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 20px;
	z-index: 10;
	background-color: #0A3C5C;
	color: #DEB42F;
}

#MenuBar {
	background-color: #0A3C5C;
	color: #DEB42F;
}
#ActionBar {
    overflow: hidden;

	/*height: 100px;*/
}


@media print {
    #top_bar {
        display: none;
    }
}


/* menu bar */

#top_bar #top_bar_1 .menu-bar {
	text-align: left;
}

#top_bar #top_bar_1 .menu-bar:hover { 
	background: #226622;
}

#top_bar #top_bar_1 #home-bar1 {
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0 0 0 auto;
	}

#top_bar #top_bar_1 .home-bar {
	text-align: left;
	cursor: pointer;
}

#top_bar #top_bar_1 .home-bar:hover {
	background: #226622;
}

#top_bar #top_bar_1 .home-bar .home-bar-icon {
	margin: auto 0px auto 5px ;
	float: left;
	background-image: url("Base/Box/home-small.png");
}

.home-bar-text {
	font-family: 'Exo 2', sans-serif;
    font-size: 16px;
	padding-top: 2px;
	color: #DEB42F;;
	font-weight: bold;
	text-align: left;
}

#top_bar #top_bar_1 .quick-access-bar {
	width: 150px;
	text-align: left;
	overflow: hidden;
    background: #226622;
}

#top_bar #top_bar_1 .quick-access-bar:hover { 
	background: #226622;
}

.top_bar_black {
	background: #4c4c4c;
}

#top_bar #top_bar_1 .filler {
	
}

#top_bar #top_bar_1 .powered {
    vertical-align: bottom;
    font-size: 10px;
    color: white;
    text-align: right;
	padding-right: 5px;
	width: 250px;
	white-space: nowrap;
}

#top_bar #top_bar_1 .powered div {
    display:inline-block;
	max-width:300px;
	overflow:hidden;
}

#top_bar #top_bar_1 .powered a {
	color: #FFFFFF;
    padding-left: 1px;
    padding-right: 1px;
}

#top_bar #top_bar_1 .powered a.version:hover {
	color: gray;
	background-color: #FFFFFF;
}

#top_bar #top_bar_1 .donate {
	width: 100px;
	color: white;
	padding-right: 4px;
	text-align: center;
	font-size: 10px;
}

#top_bar #top_bar_1 .donate a {
	color: #FFFFFF;
    padding-left: 1px;
    padding-right: 1px;
	white-space: nowrap;
}

#top_bar #top_bar_1 .donate a:hover {
	color: gray;
	background-color: #FFFFFF;
}

.top_bar_help {
	width: 70px;
	height: auto;
	overflow: hidden;
}

#top_bar #top_bar_1 .module-indicator {
	width: 282px;
    height: auto;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
    vertical-align: medium;
    text-align: center;
}

#top_bar #top_bar_1 .module-indicator #module-indicator {
	width: auto;
	height: 22px;
    text-align: center;
    display: block;
    float: left;
    padding-top: 8px;
	margin: auto 4px auto 5px;
}

#top_bar #top_bar_1 .module-indicator #quick-logout {
    float: left;
    border-left: 4px solid #b3b3b3;
    background-image: url('Base/Box/logout.png');
    background-repeat: no-repeat;
    background-position: 3px 3px;
}

#top_bar #top_bar_1 .module-indicator #quick-logout:hover {
}

/*** top_bar_2 ***/

#top_bar #top_bar_2 {
	width: 100%;
	height: auto;
	background: #f0f0f0;
}

#top_bar #top_bar_2 .logo {
	width: 193px;
	height: 80px;
	text-align: left;
	vertical-align: top;
}
	

#top_bar #top_bar_2 .logo img {
}

#top_bar #top_bar_2 .icons {
	width: auto;
	vertical-align: top;
	height: auto;
}

.shadow_css3_icons_border {	
	width: 100%;
	height: 83px;
	margin: 0px;
	background-color: #fff;
	padding: 0px;
	overflow: hidden;
	background: #ffffff;
}
	
.icons_launchpad {
    width: 50px;
    height: 50px ;
    vertical-align: top;
}
	
#top_bar #top_bar_2 #login-search-td {
	width: 300px;
	height: auto;
    vertical-align: top;
}

.shadow_css3_login-search-td_border  {
	width: 277px;
	height: 83px;
	margin: 0px;
	background-color: #fff;
	padding-right: 5px;
}


#top_bar #top_bar_2 .search {
	height: 30px;
	vertical-align: top;
	text-align: left;
	padding-left: 3px;
}

#top_bar #top_bar_2 .search #Base_Search__Search {
    width: 277px;
}


/*	=layer
---------------------------------------------------------------------------- */

.layer {
	margin: 0px;
	padding: 2px 8px 10px 8px;
	position: relative;
}

.layer .content_shadow {
	z-index: 1;
}

/*	=shadow
---------------------------------------------------------------------------- */

.layer .left,
.layer .right,
.layer .center {
	position: absolute;
}

.layer .shadow-top .left,
.layer .shadow-top .right,
.layer .shadow-bottom .left,
.layer .shadow-bottom .right {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.layer .shadow-top .center,
.layer .shadow-bottom .center {
	height: 10px;
	right: 20px;
	left: 20px;
	background-repeat: repeat-x;
}

.layer .shadow-middle div {
	width: 10px;
	bottom: 20px;
	top: 20px;
	background-repeat: repeat-y;
}

.layer .shadow-top div { top: 0; }
.layer .shadow-bottom div { bottom: 0; }

.layer .left { left: 0; }
.layer .right { right: 0; }

.help_label {
	margin-left: 17px;
}

.help {
    margin: auto;
    width: 56px;
}

.help a {
	color: #FFFFFF;
	font-weight: bold;
	display: block;
}

.help img {
    border: none;
	width: 14px;
	height: 14px;
	float: left;
}

.help:hover {
}

.important_notice {
	width: 750px;
	background-color: #E0E0E0;
	display: block;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	padding: 5px 8px;
	margin: 20px;
	
	border: 1px solid gray;
}

.important_notice_frame {
	width: auto;
	background-color: #EEE;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	padding: 5px 8px;
	margin-top: 3px;
	margin-bottom: 3px;
	
	border: 1px solid lightgray;
}

#client_messages_frame {
	position: fixed;
	bottom: 0px;
	right: 0px;
    padding-bottom: 10px;
    padding-right: 10px;
    z-index: 500;
    overflow-x: auto;
    max-height: 100%;
    width: 350px;    
}

#client_messages_frame_hide {
    float: right;
    margin-right: 10px;
}

#client_messages_frame_show_discarded {
    float: right;
    margin-right: 10px;
}

.popup_notice {
	width: 300px;
	border: 1px solid gray;
	text-align: left;
	padding: 8px;
	font-size: 16px;
	z-index: 1500;
    background-color: white;
    margin: 10px;
}

.popup_notice_frame {
	padding: 3px;
	background: white;
	border: 1px solid gray;
	margin: 3px -3px 0;
    position: relative;
    padding-bottom: 10px;
}

.popup_notice_frame_close_button {
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 80%;
}


/* .epesi_big_button styling - used in admin panel and Launchpad */

.epesi_big_button {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	cursor: hand;
	background-color: #FEFEFE;
	color: #0A3C5C;
	border: #0A3C5C;
	border: solid;
	border: 1px;
	display: inline-block;
	padding: 10px;
	cursor: hand;
	text-align: center;
	margin: 5px;
 }

 .epesi_big_button:active {
		transform: translateY(2px);
	 }

.epesi_big_button:hover {
	box-shadow: 0 0 1px 1px rgba(0, 140, 186, 0.5);
}

.epesi_big_button > img {
	display: block;
	margin: 2px auto 3px;
}

.epesi_big_button > span,
.epesi_big_button > div {
	height: 30px;
	width: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: ellipsis;
}

.epesi_big_button > span:only-child,
.epesi_big_button > div:only-child {
	height: 55px;
}

.epesi_big_button.bigger {
	min-width: 60px;
	min-height: 60px;
}
.epesi_big_button.bigger > span,
.epesi_big_button.bigger > div {
	width: 60px;
	height: 60px;
}
.epesi_big_button.bigger > span:only-child,
.epesi_big_button.bigger > div:only-child {
	height: 60px;
}
.epesi_big_button.bigger > img {
	display: block;
	margin: 2px auto 2px;
}

.epesi_label {
	font-family: 'Exo 2', sans-serif;
  	font-style: normal;
  	font-weight: 400;
	font-size: 14px;
	color: #DEB42F;
    height: 16px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #0A3C5C;
}
.epesi_label.top {
}

.epesi_rtl .epesi_label {
}

.epesi_label.header {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
    line-height: 20px;
    font-size: 18px;
}

.epesi_data {
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 400;
    font-size: 14px;
	color: #0A3C5C;
	text-align: left;
	background-color: #FEFEFE;
	font-size: 14px;
	color: #0A3C5C;
	height: 16px;
	padding: 2px;
	}

.epesi_data > div {
	min-height: 18px;
}

.epesi_data input[type='checkbox'] {
    width: 18px;
    height: 18px;
    margin-bottom: 0;
}

.epesi_data input:focus,
.epesi_data select:focus,
.epesi_data textarea:focus {
    background-color: #aeffbf;
}
.epesi_data input,
.epesi_data select,
.epesi_data textarea {
	width: 97%;
    min-width: 50px;
	height: 30px;
    background-color: #ebebee;
    border: 1px;
	padding: 3px 5px;
}
.epesi_data input[type=checkbox],
.epesi_data input[type=radio] {
        min-width: 18px;
}
.epesi_data textarea {
	min-height: 100px;
}
.epesi_data select {
	height: 20px;
	padding: 2px;
	margin-left: 2px;
	margin-top: 2px;
	margin-right: 2px;
}
.epesi_data.static_field,
.epesi_data input[disabled],
.epesi_data select[disabled],
.epesi_data textarea[disabled] {
    background-color: #c4c0c0;
}

.epesi_data.static_field,
.epesi_data input,
.epesi_data textarea {
}
.epesi_data.static_field {
    line-height: 20px;
    padding-left: 2px;
}

.epesi_data.static_field,
.epesi_data input,
.epesi_data textarea {
	padding-right: 0px;
}
/* timestamp START */
.epesi_data.timestamp > div > div {
	float: right;
}
.epesi_data.timestamp > div > div:last-child {
	float: none;
	margin-right: 50px;
}
.epesi_data.timestamp > div > div:last-child input {
}
/* timestamp END */
/* currency START */
.epesi_data.currency_amount input {
}
/* currency END */
/* automulti START */
.epesi_data.automulti select {
	height: 96px;
}
.epesi_data.automulti td {
	padding: 0;
}
.epesi_data.automulti input[type="text"]{
}
.epesi_rtl .epesi_data.automulti input[type="checkbox"]{
	float: right;
}
.epesi_data.automulti input[type="button"]{
	height: 100%;
	width: 99%;
	padding: 0;
}
.epesi_data.automulti input::-webkit-input-placeholder,
.epesi_data.automulti input::-moz-placeholder {
    color: #862e2e;
}
/* automulti END */
.epesi_data .form_error img {
	margin-left: 5px;
	margin-top: 1px;
	border: none;
}
.epesi_data .form_error a {
	color: white;
	text-decoration: underline;
}
.epesi_data .form_error a:hover {
	color: #8a2020;
}
.epesi_data .form_error:not(:empty) {
	font-family: 'Exo 2', sans-serif;
  	font-style: bold;
  	font-weight: 700;
  	font-size: 18px;
	color: white !important; 
	position: fixed;
	right: 0px;
	display: block;
	height: 16px;
	line-height: 16px;
	margin: 0;
	padding: 3px 5px 2px 15px;
	font-weight: bold;
	z-index: 5;
	white-space: nowrap;
	vertical-align: top;
	background: #a72527;
}

.epesi_data.textarea .form_error,
.epesi_data.multiselect .form_error {
}

.epesi_grey_board {
	padding: 1px;
}
.epesi_grey_board > table {
	border-spacing: 1px;
	background-color: #f5f5f5;
	border: 1px thin;
}

.epesi_caption img {
    position: absolute;
	margin-top: 5px;
}

.epesi_caption .label {
	margin-left: 5px;
	margin-top: 5px;
}
.epesi_rtl .epesi_caption .label {
	margin-left: 5px;
	margin-right: 5px;
}

.epesi_caption {
	font-family: 'Exo 2', sans-serif;
	font-style: bold;
	font-weight: 700;
	font-size: 20px;
	width: 200px;
	line-height: 24px;
    text-align: left;
    font-weight: bold;
    color: #DEB42F;
    white-space: nowrap;
    vertical-align: top;
	margin-left: 12px;
	margin-right: 12px;
	padding: 5px;
	display: inline-block;
	margin-bottom: 10px;
	background: #0A3C5C;
}

pre.wrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
