.note_field p {
	margin-top: 2px;
	margin-bottom: 2px;
	line-height: 14px;
}

.note_field {
	overflow: hidden;
	float: left;
	width: 90%;
}

/* add new attachment*/
.attachment_add_new {
	display: block;
	width: auto;
	height: 18px;
	color: white;
	padding: 6px 10px;
	white-space: nowrap;
	/*dark css3 green background gradient */
	background: #226622; /* Old browsers */
	background: -moz-linear-gradient(top, #709c70 0%, #4d844d 49%, #226622 51%, #649464 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#709c70), color-stop(49%,#4d844d), color-stop(51%,#226622), color-stop(100%,#649464)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64B164', endColorstr='#307030',GradientType=0); /* IE6-9 */
	background: linear-gradient(top, #709c70 0%,#4d844d 49%,#226622 51%,#649464 100%); /* W3C */
	/* end dark css3 green background gradient */
	
	/* border radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/* end border radius */
	
	/* css3 shadow border*/
	-webkit-box-shadow: 1px 1px 3px gray;
	-moz-box-shadow: 1px 1px 3px gray;
	box-shadow: 1px 1px 3px gray;
	/* end css3 shadow border*/
}
.attachment_add_new:hover {
	color: white;
	/*light css3 green background gradient */
	background: #226622; /* Old browsers */
	background: -moz-linear-gradient(top, #226622 0%, #71b871 1%, #58ab58 49%, #379b37 51%, #63b163 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#226622), color-stop(1%,#71b871), color-stop(49%,#58ab58), color-stop(51%,#379b37), color-stop(95%,#63b163), color-stop(100%,#226622)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ada5a', endColorstr='#2d602d',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #226622 0%,#71b871 1%,#58ab58 49%,#379b37 51%,#63b163 95%); /* W3C */
	/* end light css3 green background gradient */
}
.attachment_add_new img {
	display: inline-block;
	margin: 0px 6px auto auto;
}
.attachment_add_new .attachment_div_add_new {
	margin-top:2px;
	display: inline-block;
	vertical-align: top;
}

.Utils_Attachment__browse_panel {
	width: 100%;
	table-layout: auto;
}

.Utils_Attachment__browse_panel td,
.Utils_Attachment__browse_panel td.epesi_label {
	width: 1px;
}

.Utils_Attachment__browse_panel td.epesi_data select {
	height: 100%;
}
.Utils_Attachment__browse_panel td.epesi_data input[type="text"] {
	height: 16px;
	width: 80px;
}