/* Attachment header */

#Attachment_header {
    color: #FFFFFF;
	background-color: #336699;
	background-image: url("images/header-blue.gif");
	background-repeat: repeat-x;
	height: 20px;
}

#Attachment_header .left {
	width: 14px;
	display: block;
	float: left;
	padding: 3px;
}

#Attachment_header .left img {
	cursor: pointer;
}

#Attachment_header .center {
	display: block;
	float: left;
	padding-top: 3px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -35px;
}

#Attachment_header .right {
	width: 14px;
	display: block;
	float: right;
	padding: 3px;
}

/* download */

table#Utils_Attachment__download .big-button {
	background-color: #F0F0F0;
	border: 1px solid #FFFFFF;
	background-repeat: repeat-x;
	vertical-align: middle;
	text-align: center;
	font-size: 11px;
	display: block;
	cursor: pointer;
	height: 60px;
	background-image: url("images/big-button.png");
	padding-top: 10px;
}

table#Utils_Attachment__download .big-button:hover {
	background-color: #FFFFFF;
	background-image: url("images/big-button-hover.png");
}

table#Utils_Attachment__download a .big-button {
	color: #336699;
	font-weight: bold;
}

/* a */

table#Utils_Attachment__download a:hover {
	color: #993333;
}
