#Attachment_history_header {
    background-image: url('images/dark-gray-gradient.gif');
    background-repeat: repeat-y;
    text-align: left;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    color: white;
}
