#Utils_Attachment__view {
    width: 100%;
    background-color: #FFFFFF;
}


#Utils_Attachment__view .header {
    height: 20px;
    color: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    background-color: #336699;
    background-image: url('images/header-blue.png');
    background-repeat: repeat-x;
}

#Utils_Attachment__view .file {
    vertical-align: top;
    text-align: center;
    padding: 5px;
}

#Utils_Attachment__view .note {
    width: 100%;
    vertical-align: top;
}

.Utils_Attachment__table {
    width: 100%;
    vertical-align: middle;
    height: 31px;
}

.Utils_Attachment__table .icon {
    width: 32px;
    height: 27px;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
    background-color: #336699;
}

.Utils_Attachment__table .icon img {
    position: absolute;
    clip: rect(0px 32px 28px 0px);
}

.Utils_Attachment__table .name {
    width: 290px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 7px;
    height: 24px;
    vertical-align: top;
    background-image: url('images/blue-gradient.png');
    background-repeat: repeat-y;
}

.Utils_Attachment__table .required_fav_info {
    color: #777777;
    text-align: right;
    padding-right: 20px;
}
