#Utils_Attachment__view {
    text-align: left;    
}

#Utils_Attachment__view .header {
    color: #336699;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    vertical-align: middle;
    text-align: left;
}

#Utils_Attachment__view .note {
}

#Utils_Attachment__view .file {
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
}

#Utils_Attachment__view .file span {
}

#Utils_Attachment__view .file a {
    cursor: pointer;
}