#Filters_header,
.Filters_header {
	color: #FEFEFE;
	height: 20px;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
}

#Filters_header .left {
	width: 60px;
	height: 60px;
	display: block;
	float: left;
}

#Filters_header .center {
	display: block;
	float: left;
	padding-top: 3px;
	font-weight: bold;
	text-align: center;
}

#Filters_header .right {
	width: 40px;
	display: block;
	float: right;
	padding-top: 3px;
	padding-right: 3px;
}


/* a */

table#Utils_LeightboxPrompt a:hover {
	color: #993333;
}

.icon_td_text {
	width: 50px;
	height: 24px;
	overflow: hidden;
	text-align: center;
    vertical-align: middle;
	font-weight: normal;
}

.leightbox_shadow_css3 {
	margin: 8px; 
	width: 50px;
	height: 50px;
	overflow: hidden;
	background-color: white; 
}

.leightbox_shadow_css3:hover {
}