.utils_tree_root {
	text-align: left;
	white-space: nowrap;
}

.utils_tree_submenu {
/*	margin: 1px 1px 1px 15px;
	padding: 1px 1px 1px 5px;*/

	margin: 0px 0px 0px 15px;
	padding: 0px 0px 0px 5px;

	display: none;
	white-space: nowrap;
	text-align: left;
}

.utils_tree_expand_all {
	display: block;
	background: white;
	border: 1px solid black;
}

.utils_tree_opener_active_open {
	white-space: pre;
	vertical-align: middle;
}

.utils_tree_opener_active_closed {
	white-space: pre;
	vertical-align: middle;
}

.utils_tree_opener_inactive {
	white-space: pre;
	vertical-align: middle;
}

.utils_tree_node {
	padding: 1px;
	margin: 0px;
	border: none;
	background-color: transparent;
}

.utils_tree_node_hover {
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	/*background-color: #eeeeee;*/
}

.utils_tree_node_content {
	padding: 0px;
	margin: 0px;
}

.utils_tree_node_content_selected {
	font-weight: bold;
	padding: 0px;
	margin: 0px;	
}