body, p {
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 400;
    font-size: 16px;
    color: #0A3C5C;
	background-color: #FFFFFF;
}

*, html {
    font-family: 'Titillium Web', sans-serif;
	font-style: normal;
	font-weight: 400;
    font-size: 16px;
    color: #0A3C5C;
}

a {
    font-family: 'Exo 2', sans-serif;
	font-style: bold;
	font-weight: 700;
	font-size: 16px;
	color: #226622;
	text-decoration: none;
	vertical-align: top;
}

ul, ol, li {
    font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 700;
    font-size: 18px;
    color: #0A3C5C;
}

h3,
h4,
h5,
h6 {
  font-family: 'Exo 2', sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 20px;
  color: #0A3C5C;
}

h1, h2 {
  font-family: 'Exo 2', sans-serif;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  vertical-align: bottom;
}

table {
    font-size: 14px;
}

h1 {
    color: #030303;
    font-size: 32px;
}

h2 {
    font-size: 28px;
    color: #ADADAD;
}

.main {
    border: 1px thin #226622;
    background-color: #EDEDED;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
	width: 60%;
    text-align: left;
}

.content {
    padding: 10px 10px 10px 10px;
}

input, select, textarea {
    border: 1px solid #B3B3B3;
    font-size: 14px;
    height: 48px;
}

input[type="submit"],
a.button {
	cursor: pointer;
	display: inline-block;
    font-weight: normal;
    color: #FFFFFF;
    min-width: 150px;
    line-height: 48px;
    height: 48px;
    border: none;
    background-color: darkgreen;
    text-align: center;
    vertical-align: middle;
}

input[type="submit"]:hover,
a.button:hover {
    color: red;
}

.footer {
    padding-top: 30px;
    text-align: center;
    font-size: 10px;
    min-height: 80px;
    color: #B3B3B3;
}

footer a,
span.footer a {
    text-align: center;
    align-content: center;
    font-size: 10px;
    min-height: 80px;
    padding-top: 30px;
    color: red;
}

span.footer a:hover {
    color: #0E0E0E;
}


#navbar {
    background-image: url("logo-navbar.png");
    background-repeat: no-repeat;
    border: 1px thin #FFFFFF;
    background-color: #FFFFFF;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #B3B3B3;
}

#navbar .title {
    font-size: 64px;
    font-weight: bold;
    color: #336699;
    text-align: center;
    background-repeat: repeat-x;
    }

div.license {
    display: inline-block;
    width: 98%;
    overflow: auto;
    height: auto;
    border: 1px solid #B3B3B3;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

span.required_note,
span.required_note_star {
    font-size: 9px;
}

span.required_note_star {
    color: #FF0000;
}


.flag,
.flag_button,
.flag_label {
	font: size 24px;
    padding-top: 10px;
    margin: 30px;
    width: 100px;
    height: 60px;
    /* display: block; */
    display: inline-block;
	text-align: center;
}

a.show_incomplete.button {
	text-align: center;
	display: block;
	margin: 10px auto;
	width: 300px;
	font-size: 20px;
	line-height: 40px;
	white-space: nowrap;
	height: 40px;
}

.error {
	color: red;
	font-weight: bold;
	font-size: 20px;
    text-align: center;
}
