.crm_calendar_utils_sidetip {
	visibility: hidden;
	position: absolute;
	display: block;
	float: left;
	z-index: 10001;
	border: 2px solid #336699;
	width: 200px;
	background-color: #FFFFFF;
	font-size: 10px;
	color: #336699;
}
