body {
    font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans;
    font-size: 11px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

table {
    font-size: 11px;
}

a {
    color: #333399;
    font-weight: bold;
    text-decoration: none;
}

a.minor {
	font-weight: normal;
	color: #6666BB;
}

h1 {
    color: #336699;
}

input, select, textarea {
	margin: 10px 7px;
    border: 1px solid #B3B3B3;
    font-size: 11px;
}

span.footer {
    font-size: 10px;
    color: #777777;
}

span.footer a {
    color: #336699;
}

span.footer a:hover {
    color: #993333;
}

/*** table banner ***/

#banner {
    width: 100%;
    border-bottom: 4px solid #B3B3B3;
}

#banner .image {
    width: 193px;
    height: 68px;
    background-color: #E0E0E0;
}

#banner .page_header {
    font-size: 30px;
    text-shadow: 1px 1px 2px gray;
    font-weight: bold;
    color: #339;
    letter-spacing: 1px;
    text-align: center;
    background-repeat: repeat-x;
    background-color: #E0E0E0;

	background: #ffffff; /* Old browsers */
}

.header {
    border-radius: 10px;
    white-space: nowrap;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
    color: #FFFFFF;
    text-align: center;
    
    background: #1e5799; /* Old browsers */

}

.data input[type="submit"],
.data input[type="button"],
input[type="submit"],
input[type="button"],
a.button {
    border-radius: 10px;
    white-space: nowrap;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
    color: white;
    text-align: center;
    width: 40%;
    
    background: #ade27a; /* Old browsers */
}

input[type="submit"]:hover,
input[type="button"]:hover,
a.button:hover {

background: #64931d; /* Old browsers */

}

.option {
    height: 100%;
    width: 120px;
    line-height: 30px;
    text-align: center;
    color: black;
    margin: 20px 16px 0px 18px;
    display: block;
    border-radius: 10px;
    border: 1px solid #B3B3B3;
    background-color: #F9F9F9;
    padding: 14px;
    vertical-align: top;
    font-size: 15px;
    float: left;
    
background: #ffffff; /* Old browsers */
    
}

.option:hover {

background: #f2f6f8; /* Old browsers */

}

/*** table main ***/

.frame {
    border-radius: 15px;
    border: 1px solid #B3B3B3;
    background-color: #F9F9F9;
    padding: 20px 20px 30px 20px;
    vertical-align: top;
    font-size: 13px;
}

.warning {
    color: #B30000;
    border-radius: 10px;
    border: 3px solid #B30000;
    background-color: #F9E9E9;
    padding: 5px;
    vertical-align: top;
    font-size: 15px;
    font-weight: bold;
}

.info {
    font-size: 13px;
}

.main {
    width: 60%;
}

.main table {
    width: 90%;
}

.main tr {
    height: 23px;
}

.data {
    padding-top: 5px;
    padding-bottom: 7px;
    font-size: 14px;
    padding-left: 8px;
}

.label {
    padding-top: 6px;
    padding-bottom: 8px;
    font-size: 13px;
}

.error {
    font-weight: bold;
    font-size: 11px;
    color: #FF0000;
}

.data input,
.data select {
    font-size: 13px;
    width: 70%;
}

.data input[type="checkbox"],
.data input[type="radio"] {
    width: auto;
}

div.license {
    overflow: auto;
    height: 300px;
    border: 1px solid #B3B3B3;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

span.required_note,
span.required_note_star {
    font-size: 9px;
}

span.required_note_star {
    color: #FF0000;
}

.contents table {
    background-color: #FFFFFF;
    /*border-top: 1px solid #B3B3B3;*/
    border-left: 1px solid #B3B3B3;
}

.contents table input[type="text"],
.contents table select {
	width: 90%;
}

.contents table a.button {
	width: 20px;
	text-align:left;
}

.contents table > thead > tr > th {
    font-weight: normal;
    background-repeat: repeat-x;
    text-align: left;
    min-height: 25px;
    /*border-top: 1px solid #B3B3B3;*/
    border-right: 1px solid #B3B3B3;
    border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
    vertical-align: middle;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	/* css3 blue gradient */
	background: #3f6a8c; /* Old browsers */
	/* end css3  gradient */
}
.epesi_rtl .contents table > thead > tr > th {
    text-align: right;
}

.contents table > thead > tr > th > .GB_margin {
	margin: 0px 40% auto 5px;
}

.contents table > thead > tr > th > span {
	color: #FFFFFF;
    display: block;
	height: 100%;
    line-height: 20px;
    padding: 3px 10px 3px 3px;
}
.contents table > thead > tr > th a {
	color: #FFFFFF;
	width: 120%;
	display: block;
}

.contents table > thead > tr > th:hover {	
	/* css3 blue gradient - reverse */
background: #5b8eb5; /* Old browsers */
	/* end css3 blue gradient - reverse */
}
.plus-minus,
.plus-minus:hover {
	width: 8px!important;
	height: 8px !important;
	float: left;
	margin-top: 5px;
	background: none !important;
}

.contents table > thead > tr > th input {
    display: block;
    width: 100%;
    border: 0px;
	padding: 3px;
    background-color: #FFFFF9;
	-webkit-box-shadow: inset 1px 1px 1px #333;
	-moz-box-shadow: inset 1px 1px 1px #333;
	box-shadow: inset 1px 1px 1px #333;
}

.contents table > thead > tr > th input:focus {
    background-color: #ffffa5;
}

.contents table > tbody {
	overflow: auto;
}

.contents table > tbody > tr {
	background-color: #FFFFFF;
}

.contents table > tbody > tr:hover {
	background-color: #F0F0F0;
}

.contents table td {
    text-align: left;
    border-right: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    height: 14px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 2px;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 14px;
}
.epesi_rtl .contents table td {
    text-align: right;
}

.contents table td a img {
	margin: 0 1px;
}

.contents table > tbody > td img {
	vertical-align: middle;
}

.contents table#Utils_GenericBrowser__navigation {
	border: none;
	background: none;
}

.contents table#Utils_GenericBrowser__navigation td {
	border: none;
}

.contents table#Utils_GenericBrowser__navigation tr:hover,
.contents table#Utils_GenericBrowser__navigation tr {
	background: none;
}
