#translations_tools {
	border-top: solid 2px black;
	border-left: solid 2px black;
	background: white;
	height: 200px;
	width: 100%;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 3000;
	overflow-y: scroll;
}

#translations_tools a.roll-button {
	margin: 5px;
}

.translations_tools_wrong_language_message {
  font-size: 21px;
  margin-top: 90px;
  text-align: center;
}

.translations_tools_wrong_language_message select {
  font-size: 21px;
}