#Base_ActionBar table.ActionBar {
	font-size: 11px;
    font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans;
}

#Base_ActionBar table.ActionBar {
	width: 100%;
	height: 68px;
	padding: 10px;
	border-collapse: collapse;
}

#Base_ActionBar table.ActionBar td {
	/*padding: 3px;*/
	text-align: left;
}

#Base_ActionBar #panel {
	text-align: center;
	vertical-align: middle;
}

#Base_ActionBar #panel div.icon   {
	margin: 2px;
}

#Base_ActionBar #panel div.icon a {
	display: block; float: left;
	height: 54px !important;
	height: 54px;
	/*width: 58px !important;
	width: 60px;*/
	vertical-align: middle;
	text-decoration : none;
	padding: 2px 5px 1px 5px;
	border: 1px solid #FFFFFF;
}

#Base_ActionBar table.ActionBar #panel {
	height: 68px;
	overflow: hidden;
}

#Base_ActionBar table.ActionBar #panel div.icon a:link {
	color: #336699;
}

#Base_ActionBar table.ActionBar #panel div.icon a:hover {
	color : #993333;
	background-color: #F0F0F0;
	padding: 3px 4px 0px 6px;
	/*border: 1px solid #336699;*/
	border-top: 1px solid #B3B3B3;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #F0F0F0;
	border-bottom: 1px solid #F0F0F0;
}

#Base_ActionBar table.ActionBar #panel div.icon a:hover span {
	color : #993333;
}

#Base_ActionBar table.ActionBar #panel div.icon a:active span {
	color : #339933;
}

#Base_ActionBar #panel div.icon img {
	margin-top: 3px;
}

#Base_ActionBar #panel div.icon span {
	display: block;
	/* to powoduje blad rozciagania sie w IE */
	/*padding-top: 3px;*/
}
