utils_bookmarkbrowser_borwser {
	background-color: #ffffff;
}	

.utils_bookmarkbrowser_header {
	background-color: #E8F2FE;
	border-bottom: 1px solid blue;	
	text-align: left;
	font-weight: bold;
}

.utils_bookmarkbrowser_pane {
	background-color: #ffffff;
	overflow: scroll;
}

.utils_bookmarkbrowser_tab {
	text-decoration: none;
	color: black;
	text-align: center;
	border: none;
	padding: 1px;
	cursor: default;
}
.utils_bookmarkbrowser_tab_hover {
	text-decoration: none;
	color: black;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid black;
	padding: 0px;
	cursor: pointer;
	cursor: hand;
}
